@media (min-width: 768px)
	.page-header.navbar
		.page-logo
			&>.logo-image, &>a
				float none
				text-align center
			.logo-default
				margin 5px auto 0 auto !important
@media (max-width: 764px)
	.page-header.navbar
		background-color #1f2b3d