@import "mixins.styl"
color-1 = #17C4BB
color-2 = #26344B

.min-height-300
	min-height 300px
.min-height-400
	min-height 400px
.min-height-500
	min-height 500px
.min-height-700
	min-height 700px
.pad-20
	padding 20px
.p-b-0
	padding-bottom 0px
.mt-50
	margin-top 50px
.mb-10
	margin-bottom 10px
.wd-200
	width 200px !important
.dib
	display inline-block
.no-margin
	margin 0 !important
.img-smiley
	display inline-block
	width 32px !important
	height 27px !important
.page-header.navbar
	.page-logo
		width 105px
		background-color #1f2b3d
		.logo-default
			margin 5px 0 0
			height 58px
	.top-menu
		.navbar-nav
			&>li.quick-sidebar-toggler
				&>a
					padding 0
			&>li.dropdown-notification
				.dropdown-menu-list>li>a
					position relative
				.message
					width 55%
					white-space nowrap
					overflow hidden
					position absolute
					text-overflow ellipsis

.page-footer
	.page-footer-inner
		float none
		a
			font-weight bold
.label.label-icon
	padding-right 4px
.mt-widget-1
	.mt-img>img
		max-height 80px
		max-width 100%
	&.mt-special
		.mt-body
			.mt-stats
				.btn-group
					.btn
						background-color inherit
						&:hover
							background-color #c49f47
.mt-widget-2
	border 0
	padding 4px 0
	border-radius 0
	box-shadow(0 0 8px 0px rgba(0,0,0,0.5))
	margin-bottom 30px
	.mt-head
		.mt-head-user
			.mt-head-user-info
				width 40%
				min-height 70px
				overflow auto
				.mt-user-name
					text-overflow()
	.mt-body
		background-color white
		.mt-body-title
			width 90%
			margin-left auto
			margin-right auto
			margin-top 100px
			line-height 1.4
			/*min-height 40px
			overflow auto*/
			text-overflow()
		.mt-body-description
			width 90%
			margin-left auto
			margin-right auto
			margin-top 0
			margin-bottom 10px
			min-height 50px
			overflow auto
			//text-overflow()
.portlet.light.portlet-fit.portal-subjects
	&>.portlet-body
		padding-bottom 0
.mt-widget-4
	.mt-container
		.mt-body-icons>a
			.count
				margin-left 3px
.mt-actions
	.mt-action
		&.disabled
			.mt-action-body
				.mt-action-row
					.mt-action-info
						.mt-action-icon>i
							color #999b9b
						.mt-action-details
							.mt-action-author
								color #999b9b
					.mt-action-datetime
						.mt-action-dot
							background-color #999b9b !important
			.mt-action-img>img
				desaturate()
		.mt-action-img>img
			max-width 100%
.mt-comments
	.mt-comment
		&.disabled
			.mt-comment-body
				.mt-comment-info
					.mt-comment-author
						color #999
				.mt-comment-details
					.chat-button
						color #999
			.mt-comment-img>img
				desaturate()
		.mt-comment-img>img
			max-width 100%
.timeline
	&.list-timeline
		.timeline-icon
			padding 15px 15px
			text-align center
			span
				font-size 48px
				font-weight bold
				line-height 1
.dashboard-stat.stat-sm
	.details
		.number
			font-size 18px
.panel-result
	.question
		p
			margin-top 0
			margin-bottom 10px
	.answer-status
		margin 10px 0
		.fa
			font-size 24px
.questions-panel
	.dashboard-stat2
		.number
			float none
	.answer
		.well
			height 200px
			overflow auto
			&.well-sm
				height 100px
.marks-dis
	th, td
		font-size 18px
		vertical-align middle !important
.marks-dis .q-even
	background-color #f6f6f6
.table
	.label
		display inline-block
		margin-bottom 5px
.table-advance tr td.highlight:first-child .dib
	margin-left 15px
.crypto-address
	float left
	padding-left 15px
	@media(max-width 767px)
		width 100%
	.c-button
		margin-top 15px
		padding 5px
		border-radius(10px !important)
		color #7f96ac
		position relative
		.dib
			width 100%
			text-overflow()
	.btn.default
		border 1px solid #ddd
		background-color #fafafa !important
		@media(min-width 768px)
			position absolute
			top -3px
			right -90px
		&:hover
			border-color #999
		.icon-wallet
			margin-left 5px
	.icon-green
		display inline-block
		width 10px
		height 10px
		background-image url('../img/green-icon.png')
		background-size cover
#modalMetamaskNotInstalled,#modalPortisNotInstalled,#modalSetAddress
	.modal-body
		background-color #fafafa
#modalMetamaskAssociateAddress,#modalMetamaskChangeAddress,#modalPortisAssociateAddress,#modalPortisChangeAddress
	.modal-body
		background-color #F4C840
	.meta-logo
		padding-top 25px
		padding-bottom 30px
		img
			max-width 500px
.modal-notification
	.modal-content
		border-radius(20px !important)
		box-shadow(0 5px 30px rgba(0,0,0,.5))
	.modal-body
		border-top-radius(20px !important)
	.meta-logo
		img
			max-width 300px
	h4
		font-weight bold
		font-size 24px
	.notice
		font-size 16px
		color #7f96ac
	.modal-footer
		text-align center
	.btn
		border-radius(20px !important)
		box-shadow(0 0 3px rgba(0,0,0,.5) !important)
@import "custom-tablet.styl"
@import "custom-desktop.styl"