@font-face {
  font-family: 'fpicons';
  src:url('fonts/fpicons.eot?yg5dv7');
  src:url('fonts/fpicons.eot?#iefixyg5dv7') format('embedded-opentype'),
    url('fonts/fpicons.woff?yg5dv7') format('woff'),
    url('fonts/fpicons.ttf?yg5dv7') format('truetype'),
    url('fonts/fpicons.svg?yg5dv7#fpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fp-i-"], [class*=" fp-i-"] {
  font-family: 'fpicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.minimalist{position:relative;width:100%;counter-increment:flowplayer;background-size:contain;background-repeat:no-repeat;background-position:center center;display:inline-block;}
.minimalist *{font-weight:inherit;font-family:inherit;font-style:inherit;text-decoration:inherit;font-size:100%;padding:0;border:0;margin:0;list-style-type:none}
.minimalist a:focus{outline:0}
.minimalist video{width:100%}
.minimalist.is-ipad video{-webkit-transform:translateX(-2048px);}
.is-ready.minimalist.is-ipad video{-webkit-transform:translateX(0)}
.minimalist .fp-player{position:absolute;top:0;left:0;width:100%;height:100%}
.minimalist .fp-engine,.minimalist .fp-ui,.minimalist .fp-message{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:1}
.minimalist .fp-ui{z-index:11}
.minimalist .fp-message{display:none;text-align:center;padding-top:5%;cursor:default;}
.minimalist .fp-message h2{font-size:120%;margin-bottom:1em}
.minimalist .fp-message p{color:#666;font-size:95%}
.minimalist .fp-title{line-height:30px;font-weight:normal;font-family:'myriad pro',Helvetica,Arial,sans-serif;font-size:11px;cursor:default;color:#fff;width:auto;max-width:50%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;float:left;padding:0 20px;}
.is-rtl.minimalist .fp-title{float:right}
.aside-time.minimalist .fp-title{display:none !important}
.minimalist .fp-controls{position:absolute;bottom:0;width:100%;}
.no-background.minimalist .fp-controls{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important}
.is-fullscreen.minimalist .fp-controls{bottom:3px}
.is-mouseover.minimalist .fp-controls{bottom:0}
.minimalist .fp-controls,.minimalist .fp-title,.minimalist .fp-fullscreen,.minimalist .fp-unload,.minimalist .fp-close,.minimalist .fp-embed,.minimalist.aside-time .fp-time{background-color:#000;background-color:rgba(0,0,0,0.65);}
.no-background.minimalist .fp-controls,.no-background.minimalist .fp-title,.no-background.minimalist .fp-fullscreen,.no-background.minimalist .fp-unload,.no-background.minimalist .fp-close,.no-background.minimalist .fp-embed,.no-background.minimalist.aside-time .fp-time{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.no-background.minimalist .fp-play,.no-background.minimalist .fp-brand{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.minimalist.fixed-controls .fp-controls{background-color:#000}
.minimalist .fp-timeline{background-color:#a5a5a5}
.minimalist .fp-buffer{background-color:#eee}
.minimalist .fp-progress{background-color:#00a7c8}
.minimalist .fp-volumeslider{background-color:#a5a5a5}
.minimalist .fp-volumelevel{background-color:#00a7c8}
.minimalist .fp-waiting{display:none;margin:19% auto;text-align:center;}
.minimalist .fp-waiting *{-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;box-shadow:0 0 5px #333}
.minimalist .fp-waiting em{width:1em;height:1em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background-color:rgba(255,255,255,0.8);display:inline-block;-webkit-animation:pulse .6s infinite;-moz-animation:pulse .6s infinite;animation:pulse .6s infinite;margin:.3em;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.minimalist .fp-waiting em:nth-child(1){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}
.minimalist .fp-waiting em:nth-child(2){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}
.minimalist .fp-waiting em:nth-child(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.minimalist .fp-waiting p{color:#ccc;font-weight:bold}
.minimalist .fp-speed{font-size:30px;background-color:#333;background-color:rgba(51,51,51,0.8);color:#eee;margin:0 auto;text-align:center;width:120px;padding:.1em 0 0;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s;}
.minimalist .fp-speed.fp-hilite{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.minimalist .fp-help{position:absolute;top:0;left:-9999em;z-index:100;background-color:#333;background-color:rgba(51,51,51,0.9);width:100%;height:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .2s;-moz-transition:opacity .2s;transition:opacity .2s;text-align:center;}
.is-help.minimalist .fp-help{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.minimalist .fp-help .fp-help-section{margin:3%;direction:ltr}
.minimalist .fp-help .fp-help-basics{margin-top:6%}
.minimalist .fp-help p{color:#eee;margin:.5em 0;font-size:14px;line-height:1.5;display:inline-block;margin:1% 2%}
.minimalist .fp-help em{background:#eee;-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;margin-right:.4em;padding:.3em .6em;color:#333}
.minimalist .fp-help small{font-size:90%;color:#aaa}
.minimalist .fp-help .fp-close{display:block}
@media (max-width: 600px){.minimalist .fp-help p{font-size:9px}
}.minimalist .fp-dropdown{position:absolute;top:5px;width:100px;background-color:#000 !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;margin:0 !important;list-style-type:none !important;}
.minimalist .fp-dropdown:before{content:'';display:block;position:absolute;top:-5px;left:calc(50% - 5px);width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid rgba(51,51,51,0.9)}
.minimalist .fp-dropdown li{padding:10px !important;margin:0 !important;color:#fff !important;font-size:11px !important;list-style-type:none !important;}
.minimalist .fp-dropdown li.active{background-color:#00a7c8 !important;cursor:default !important}
.minimalist .fp-dropdown.fp-dropup{bottom:20px;top:auto;}
.minimalist .fp-dropdown.fp-dropup:before{top:auto;bottom:-5px;border-bottom:none;border-top:5px solid rgba(51,51,51,0.9)}
.minimalist .fp-tooltip{background-color:#000;color:#fff;display:none;position:absolute;padding:5px;}
.minimalist .fp-tooltip:before{content:'';display:block;position:absolute;bottom:-5px;width:0;height:0;left:calc(50% - 5px);border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000}
.minimalist .fp-timeline-tooltip{bottom:35px}
.minimalist .fp-timeline:hover+.fp-timeline-tooltip{display:block}
.minimalist .fp-subtitle{position:absolute;bottom:40px;left:-99999em;z-index:10;text-align:center;width:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s;}
.minimalist .fp-subtitle p{display:inline;background-color:#333;background-color:rgba(51,51,51,0.9);color:#eee;padding:.1em .4em;font-size:16px;line-height:1.6;}
.minimalist .fp-subtitle p:after{content:'';clear:both}
.minimalist .fp-subtitle p b{font-weight:bold}
.minimalist .fp-subtitle p i{font-style:italic}
.minimalist .fp-subtitle p u{text-decoration:underline}
.minimalist .fp-subtitle.fp-active{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.minimalist .fp-fullscreen,.minimalist .fp-unload,.minimalist .fp-mute,.minimalist .fp-embed,.minimalist .fp-close,.minimalist .fp-play,.minimalist .fp-menu{font-family:'fpicons' !important;color:#fff !important;font-size:15px !important;text-align:center !important;line-height:30px !important;text-decoration:none !important;}
.is-rtl.minimalist .fp-fullscreen,.is-rtl.minimalist .fp-unload,.is-rtl.minimalist .fp-mute,.is-rtl.minimalist .fp-embed,.is-rtl.minimalist .fp-close,.is-rtl.minimalist .fp-play,.is-rtl.minimalist .fp-menu{-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);transform:scale(-1,1)}
.is-rtl.minimalist .fp-menu{-webkit-transform:none;-moz-transform:none;transform:none}
.minimalist .fp-fullscreen:before{content:"\e602"}
.minimalist .fp-unload:before,.minimalist .fp-close:before{content:"\e600"}
.minimalist .fp-mute:before{content:"\e606"}
.minimalist .fp-embed:before{content:"\e603"}
.minimalist .fp-play:before{content:"\e608"}
.minimalist .fp-menu:before{content:"\e604"}
.minimalist .fp-flash-disabled{background:#333;width:390px;margin:0 auto;position:absolute;bottom:0;color:#fff}
.is-splash.minimalist .fp-ui,.is-paused.minimalist .fp-ui{background:url(img/play_white.png) center no-repeat;background-size:11%;}
.is-rtl.is-splash.minimalist .fp-ui,.is-rtl.is-paused.minimalist .fp-ui{background:url(img/play_white_rtl.png) center no-repeat;background-size:11%}
@media (-webkit-min-device-pixel-ratio: 2){.is-splash.minimalist .fp-ui,.is-paused.minimalist .fp-ui{background:url(img/play_white@x2.png) center no-repeat;background-size:11%}
.is-rtl.is-splash.minimalist .fp-ui,.is-rtl.is-paused.minimalist .fp-ui{background:url(img/play_white_rtl@x2.png) center no-repeat;background-size:11%}
}.is-fullscreen.minimalist .fp-ui{background-size:auto}
.is-seeking.minimalist .fp-ui,.is-loading.minimalist .fp-ui{background-image:none}
.minimalist .fp-brand{color:#fff !important;position:absolute;right:115px;font-weight:normal !important;font-family:'myriad pro',Helvetica,Arial,sans-serif !important;text-decoration:none !important;line-height:15px !important;font-size:11px !important;height:15px;width:55px;bottom:9px;box-sizing:border-box;text-align:center;padding:1px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.has-menu.minimalist .fp-brand{right:152px}
.is-rtl.minimalist .fp-brand{right:auto;left:125px}
.has-menu.is-rtl.minimalist .fp-brand{left:152px}
.no-brand.minimalist .fp-brand{display:none}
.no-volume.no-mute.minimalist .fp-brand{right:10px}
.no-volume.minimalist .fp-brand{right:50px}
.no-mute.minimalist .fp-brand{right:95px}
.minimalist .fp-logo{position:absolute;top:auto;left:15px;bottom:40px;cursor:pointer;display:none;z-index:100;}
.minimalist .fp-logo img{width:100%}
.is-embedded.minimalist .fp-logo{display:block}
.fixed-controls.minimalist .fp-logo{bottom:15px}
.minimalist .fp-fullscreen,.minimalist .fp-unload,.minimalist .fp-close{position:absolute;top:10px;left:auto;right:10px;display:block;width:30px;height:23px;text-align:center;cursor:pointer;height:30px;width:30px;}
.is-rtl.minimalist .fp-fullscreen,.is-rtl.minimalist .fp-unload,.is-rtl.minimalist .fp-close{right:auto;left:10px}
.minimalist .fp-unload,.minimalist .fp-close{display:none}
.minimalist .fp-play{display:none;height:30px !important;position:absolute;bottom:0;left:0;text-align:center;}
.is-rtl.minimalist .fp-play{left:auto;right:0}
.is-playing.minimalist .fp-play:before{content:"\e607"}
.minimalist .fp-menu{display:none;position:absolute;bottom:0;z-index:11;right:10px;}
.is-rtl.minimalist .fp-menu{right:auto;left:10px}
.has-menu.minimalist .fp-menu{display:block}
.minimalist .fp-menu .fp-dropdown{z-index:12;display:none;left:-42.5px;line-height:auto;width:149px;-webkit-transform:none;-moz-transform:none;transform:none;}
.is-rtl.minimalist .fp-menu .fp-dropdown{left:-10px}
.minimalist .fp-menu.dropdown-open .fp-dropdown{display:block}
.minimalist.is-ready.is-closeable .fp-unload{display:block}
.minimalist.is-ready.is-closeable .fp-embed{right:90px}
.minimalist.is-ready.is-closeable .fp-fullscreen{right:50px}
.minimalist.is-fullscreen .fp-fullscreen{display:block !important;}
.minimalist.is-fullscreen .fp-fullscreen:before{content:"\e601"}
.minimalist.is-fullscreen .fp-unload,.minimalist.is-fullscreen .fp-close{display:none !important}
.minimalist .fp-timeline{height:3px;position:relative;overflow:hidden;top:10px;height:10px;margin:0 225px 0 55px;}
.no-brand.minimalist .fp-timeline{margin-right:160px;}
.has-menu.no-brand.minimalist .fp-timeline{margin-right:187px}
.no-volume.no-brand.minimalist .fp-timeline{margin-right:95px}
.no-mute.no-brand.minimalist .fp-timeline{margin-right:130px}
.no-mute.no-volume.no-brand.minimalist .fp-timeline{margin-right:55px}
.has-menu.minimalist .fp-timeline{margin-right:252px}
.no-volume.minimalist .fp-timeline{margin-right:160px}
.no-mute.minimalist .fp-timeline{margin-right:195px}
.no-mute.no-volume.minimalist .fp-timeline{margin-right:120px}
.is-rtl.minimalist .fp-timeline{margin:0 55px 0 225px;}
.no-brand.is-rtl.minimalist .fp-timeline{margin-left:160px;}
.has-menu.no-brand.is-rtl.minimalist .fp-timeline{margin-left:197px}
.has-menu.is-rtl.minimalist .fp-timeline{margin-left:262px}
.no-volume.is-rtl.minimalist .fp-timeline{margin-left:95px}
.no-mute.is-rtl.minimalist .fp-timeline{margin-left:130px}
.no-mute.no-volume.is-rtl.minimalist .fp-timeline{margin-left:55px}
.is-long.minimalist .fp-timeline{margin:0 255px 0 85px;}
.no-volume.is-long.minimalist .fp-timeline{margin-right:125px}
.no-mute.is-long.minimalist .fp-timeline{margin-right:85px}
.has-menu.is-long.minimalist .fp-timeline{margin-right:292px}
.is-rtl.is-long.minimalist .fp-timeline{margin:85px 0 190px 0;}
.no-volume.is-rtl.is-long.minimalist .fp-timeline{margin-left:125px}
.no-mute.is-rtl.is-long.minimalist .fp-timeline{margin-left:85px}
.aside-time.minimalist .fp-timeline,.no-time.minimalist .fp-timeline{margin:0 190px 0 10px;}
.has-menu.aside-time.minimalist .fp-timeline,.has-menu.no-time.minimalist .fp-timeline{margin-right:227px}
.aside-time.no-brand.minimalist .fp-timeline{margin-right:115px}
.aside-time.no-volume.minimalist .fp-timeline,.no-time.no-volume.minimalist .fp-timeline{margin-right:115px}
.aside-time.no-mute.minimalist .fp-timeline,.no-time.no-mute.minimalist .fp-timeline{margin-right:75px}
.is-rtl.aside-time.minimalist .fp-timeline,.is-rtl.no-time.minimalist .fp-timeline{margin:0 10px 0 115px}
.is-rtl.aside-time.no-volume.minimalist .fp-timeline,.is-rtl.no-time.no-volume.minimalist .fp-timeline{margin-left:50px}
.is-rtl.aside-time.no-mute.minimalist .fp-timeline,.is-rtl.no-time.no-mute.minimalist .fp-timeline{margin-left:10px}
.minimalist .fp-buffer,.minimalist .fp-progress{position:absolute;top:0;left:auto;height:100%;cursor:col-resize}
.minimalist .fp-buffer{-webkit-transition:width .25s linear;-moz-transition:width .25s linear;transition:width .25s linear}
.minimalist .fp-timeline.no-animation .fp-buffer{-webkit-transition:none;-moz-transition:none;transition:none}
.minimalist .fp-progress.animated{transition-timing-function:linear;transition-property:width,height}
.minimalist.is-touch .fp-timeline{overflow:visible}
.minimalist.is-touch .fp-progress{-webkit-transition:width .2s linear;-moz-transition:width .2s linear;transition:width .2s linear}
.minimalist.is-touch .fp-timeline.is-dragging .fp-progress{-webkit-transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear;-moz-transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear;transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear}
.minimalist.is-touch.is-mouseover .fp-progress:after,.minimalist.is-touch.is-mouseover .fp-progress:before{content:'';display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;position:absolute;right:-5px}
.minimalist.is-touch.is-rtl.is-mouseover .fp-progress:after,.minimalist.is-touch.is-rtl.is-mouseover .fp-progress:before{right:auto;left:-5px}
.minimalist.is-touch.is-rtl.is-mouseover .fp-progress:after{left:-10px;-webkit-box-shadow:-1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:-1px 0 4px rgba(0,0,0,0.5);box-shadow:-1px 0 4px rgba(0,0,0,0.5)}
.minimalist.is-touch.is-mouseover .fp-progress:before{width:10px;height:10px}
.minimalist.is-touch.is-mouseover .fp-progress:after{height:10px;width:10px;top:-5px;right:-10px;border:5px solid rgba(255,255,255,0.65);-webkit-box-shadow:1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:1px 0 4px rgba(0,0,0,0.5);box-shadow:1px 0 4px rgba(0,0,0,0.5)}
.minimalist.is-touch.is-mouseover .fp-timeline.is-dragging .fp-progress:after{border:10px solid #fff;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit;top:-10px;right:-15px}
.minimalist.is-touch.is-rtl.is-mouseover .fp-timeline.is-dragging .fp-progress:after{left:-15px;right:auto;border:10px solid #fff}
.minimalist .fp-volume{position:absolute;top:12px;right:10px;}
.has-menu.minimalist .fp-volume{right:37px}
.is-rtl.minimalist .fp-volume{right:auto;left:10px}
.is-rtl.has-menu.minimalist .fp-volume{left:37px}
.minimalist .fp-mute{position:relative;width:30px;height:30px;float:left;top:-12px;cursor:pointer;}
.is-rtl.minimalist .fp-mute{float:right}
.no-mute.minimalist .fp-mute{display:none}
.minimalist .fp-volumeslider{width:75px;height:6px;cursor:col-resize;float:left;}
.is-rtl.minimalist .fp-volumeslider{float:right}
.no-volume.minimalist .fp-volumeslider{display:none}
.minimalist .fp-volumelevel{height:100%}
.minimalist .fp-time{text-shadow:0 0 1px #000;font-size:11px;font-weight:normal;font-family:'myriad pro',Helvetica,Arial,sans-serif !important;color:#fff;width:100%;}
.minimalist .fp-time.is-inverted .fp-duration{display:none}
.minimalist .fp-time.is-inverted .fp-remaining{display:inline}
.minimalist .fp-time em{width:35px;height:10px;line-height:10px;text-align:center;position:absolute;bottom:9px}
.no-time.minimalist .fp-time{display:none}
.is-long.minimalist .fp-time em{width:65px}
.minimalist .fp-elapsed{left:10px;}
.is-rtl.minimalist .fp-elapsed{left:auto;right:10px}
.minimalist .fp-remaining,.minimalist .fp-duration{right:180px;color:#eee;}
.no-brand.minimalist .fp-remaining,.no-brand.minimalist .fp-duration{right:115px;}
.has-menu.no-brand.minimalist .fp-remaining,.has-menu.no-brand.minimalist .fp-duration{right:152px}
.no-volume.no-brand.minimalist .fp-remaining,.no-volume.no-brand.minimalist .fp-duration{right:50px}
.no-mute.no-brand.minimalist .fp-remaining,.no-mute.no-brand.minimalist .fp-duration{right:95px}
.no-mute.no-volume.no-brand.minimalist .fp-remaining,.no-mute.no-volume.no-brand.minimalist .fp-duration{right:10px}
.has-menu.minimalist .fp-remaining,.has-menu.minimalist .fp-duration{right:217px}
.no-volume.minimalist .fp-remaining,.no-volume.minimalist .fp-duration{right:115px}
.no-mute.minimalist .fp-remaining,.no-mute.minimalist .fp-duration{right:160px}
.no-mute.no-volume.minimalist .fp-remaining,.no-mute.no-volume.minimalist .fp-duration{right:75px}
.is-rtl.minimalist .fp-remaining,.is-rtl.minimalist .fp-duration{right:auto;left:180px;}
.no-brand.is-rtl.minimalist .fp-remaining,.no-brand.is-rtl.minimalist .fp-duration{left:115px;}
.has-menu.no-brand.is-rtl.minimalist .fp-remaining,.has-menu.no-brand.is-rtl.minimalist .fp-duration{left:142px}
.has-menu.is-rtl.minimalist .fp-remaining,.has-menu.is-rtl.minimalist .fp-duration{left:207px}
.no-volume.is-rtl.minimalist .fp-remaining,.no-volume.is-rtl.minimalist .fp-duration{left:50px}
.no-mute.is-rtl.minimalist .fp-remaining,.no-mute.is-rtl.minimalist .fp-duration{left:95px}
.no-mute.no-volume.is-rtl.minimalist .fp-remaining,.no-mute.no-volume.is-rtl.minimalist .fp-duration{left:10px}
.minimalist .fp-remaining{display:none}
.minimalist.aside-time .fp-time{position:absolute;top:10px;left:10px;bottom:auto !important;width:auto;background-color:#000;background-color:rgba(0,0,0,0.65);height:30px;padding:0 5px;-webkit-border-radius:control_border_radius;-moz-border-radius:control_border_radius;border-radius:control_border_radius;line-height:30px;text-align:center;font-size:15px;}
.no-background.minimalist.aside-time .fp-time{background-color:transparent !important}
.minimalist.aside-time .fp-time strong,.minimalist.aside-time .fp-time em{position:static}
.minimalist.aside-time .fp-time .fp-elapsed::after{content:' / '}
.minimalist.is-splash,.minimalist.is-poster{cursor:pointer;}
.minimalist.is-splash .fp-controls,.minimalist.is-poster .fp-controls,.minimalist.is-splash .fp-fullscreen,.minimalist.is-poster .fp-fullscreen,.minimalist.is-splash .fp-unload,.minimalist.is-poster .fp-unload,.minimalist.is-splash .fp-time,.minimalist.is-poster .fp-time,.minimalist.is-splash .fp-embed,.minimalist.is-poster .fp-embed,.minimalist.is-splash .fp-title,.minimalist.is-poster .fp-title,.minimalist.is-splash .fp-brand,.minimalist.is-poster .fp-brand{display:none !important}
.minimalist.is-poster .fp-engine{top:-9999em}
.minimalist.is-loading .fp-waiting{display:block}
.minimalist.is-loading .fp-controls,.minimalist.is-loading .fp-time{display:none}
.minimalist.is-loading .fp-ui{background-position:-9999em}
.minimalist.is-loading video.fp-engine{position:absolute;top:-9999em}
.minimalist.is-seeking .fp-waiting{display:block}
.minimalist.is-playing{background-image:none !important;background-color:#333;}
.minimalist.is-playing.hls-fix.is-finished .fp-engine{position:absolute;top:-9999em}
.minimalist.is-fullscreen{top:0 !important;left:0 !important;border:0 !important;margin:0 !important;width:100% !important;height:100% !important;max-width:100% !important;z-index:99999 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;background-image:none !important;background-color:#333;}
.is-rtl.minimalist.is-fullscreen{left:auto !important;right:0 !important}
.minimalist.is-fullscreen .fp-player{background-color:#333}
.minimalist.is-error{border:1px solid #909090;background:#fdfdfd !important;}
.minimalist.is-error h2{font-weight:bold;font-size:large;margin-top:10%}
.minimalist.is-error .fp-message{display:block}
.minimalist.is-error object,.minimalist.is-error video,.minimalist.is-error .fp-controls,.minimalist.is-error .fp-time,.minimalist.is-error .fp-subtitle{display:none}
.minimalist.is-ready.is-muted .fp-mute{opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
.minimalist.is-ready.is-muted .fp-mute:before{content:"\e605"}
.minimalist.is-mouseout .fp-controls,.minimalist.is-mouseout .fp-title{height:0;-webkit-transition:height .15s .3s;-moz-transition:height .15s .3s;transition:height .15s .3s}
.is-fullscreen.minimalist.is-mouseout .fp-controls{height:3px;bottom:0}
.minimalist.is-mouseout .fp-title{overflow:hidden}
.minimalist.is-mouseout .fp-timeline{margin:0 !important}
.minimalist.is-mouseout .fp-timeline{-webkit-transition:height .15s .3s,top .15s .3s,margin .15s .3s;-moz-transition:height .15s .3s,top .15s .3s,margin .15s .3s;transition:height .15s .3s,top .15s .3s,margin .15s .3s;height:4px;top:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.minimalist.is-mouseout .fp-fullscreen,.minimalist.is-mouseout .fp-unload,.minimalist.is-mouseout .fp-elapsed,.minimalist.is-mouseout .fp-remaining,.minimalist.is-mouseout .fp-duration,.minimalist.is-mouseout .fp-embed,.minimalist.is-mouseout .fp-volume,.minimalist.is-mouseout .fp-play,.minimalist.is-mouseout .fp-menu,.minimalist.is-mouseout .fp-brand,.minimalist.is-mouseout .fp-timeline-tooltip,.minimalist.is-mouseout.aside-time .fp-time{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .15s .3s;-moz-transition:opacity .15s .3s;transition:opacity .15s .3s}
.minimalist.is-mouseover .fp-controls,.minimalist.fixed-controls .fp-controls{height:30px}
.minimalist.is-mouseover .fp-title,.minimalist.fixed-controls .fp-title{height:30px}
.minimalist.is-mouseover .fp-fullscreen,.minimalist.fixed-controls .fp-fullscreen,.minimalist.is-mouseover .fp-unload,.minimalist.fixed-controls .fp-unload,.minimalist.is-mouseover .fp-elapsed,.minimalist.fixed-controls .fp-elapsed,.minimalist.is-mouseover .fp-remaining,.minimalist.fixed-controls .fp-remaining,.minimalist.is-mouseover .fp-duration,.minimalist.fixed-controls .fp-duration,.minimalist.is-mouseover .fp-embed,.minimalist.fixed-controls .fp-embed,.minimalist.is-mouseover .fp-logo,.minimalist.fixed-controls .fp-logo,.minimalist.is-mouseover .fp-volume,.minimalist.fixed-controls .fp-volume,.minimalist.is-mouseover .fp-play,.minimalist.fixed-controls .fp-play,.minimalist.is-mouseover .fp-menu,.minimalist.fixed-controls .fp-menu{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.minimalist.fixed-controls .fp-volume{display:block}
.minimalist.fixed-controls .fp-controls{bottom:-30px;}
.is-fullscreen.minimalist.fixed-controls .fp-controls{bottom:0}
.minimalist.fixed-controls .fp-time em{bottom:-20px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.is-fullscreen.minimalist.fixed-controls .fp-time em{bottom:10px}
.minimalist.is-disabled .fp-progress{background-color:#999}
.minimalist.is-flash-disabled{background-color:#333;}
.minimalist.is-flash-disabled object.fp-engine{z-index:100}
.minimalist.is-flash-disabled .fp-flash-disabled{display:block;z-index:101}
.minimalist .fp-embed{position:absolute;top:10px;left:auto;right:50px;display:block;width:30px;height:30px;text-align:center;}
.is-rtl.minimalist .fp-embed{right:auto;left:50px}
.minimalist .fp-embed-code{position:absolute;display:none;top:10px;right:67px;background-color:#333;padding:3px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;font-size:12px;}
.is-closeable.minimalist .fp-embed-code{right:99px}
.minimalist .fp-embed-code:before{content:'';width:0;height:0;position:absolute;top:2px;right:-10px;border:5px solid transparent;border-left-color:#333}
.is-rtl.minimalist .fp-embed-code{right:auto;left:67px;}
.is-rtl.minimalist .fp-embed-code:before{right:auto;left:-10px;border-left-color:transparent;border-right-color:#333}
.minimalist .fp-embed-code textarea{width:400px;height:16px;font-family:monaco,"courier new",verdana;color:#777;white-space:nowrap;resize:none;overflow:hidden;border:0;outline:0;background-color:transparent;color:#ccc}
.minimalist .fp-embed-code label{display:block;color:#999}
.minimalist.is-embedding .fp-embed,.minimalist.is-embedding .fp-embed-code{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.minimalist.no-time .fp-embed{left:10px !important;}
.is-rtl.minimalist.no-time .fp-embed{left:auto;right:10px !important}
.minimalist.is-live .fp-timeline,.minimalist.is-live .fp-duration,.minimalist.is-live .fp-remaining{display:none}
.minimalist .fp-context-menu{position:absolute;display:none;z-index:1001;background-color:#fff;padding:10px;border:1px solid #aaa;-webkit-box-shadow:0 0 4px #888;-moz-box-shadow:0 0 4px #888;box-shadow:0 0 4px #888;width:170px;}
.minimalist .fp-context-menu li{text-align:center !important;padding:10px;color:#444 !important;font-size:11px !important;margin:0 -10px 0 -10px;}
.minimalist .fp-context-menu li a{color:#00a7c8 !important;font-size:12.100000000000001px !important}
.minimalist .fp-context-menu li:hover:not(.copyright){background-color:#eee}
.minimalist .fp-context-menu li.copyright{margin:0;padding-left:110px;background-image:url("img/flowplayer.png");background-repeat:no-repeat;background-size:100px 20px;background-position:5px 5px;border-bottom:1px solid #bbb;}
@media (-webkit-min-device-pixel-ratio: 2){.minimalist .fp-context-menu li.copyright{background-image:url("img/flowplayer@2x.png")}
}@-moz-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-webkit-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-o-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-ms-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@keyframes pulse{0%{opacity:0}
100%{opacity:1}
}.minimalist.is-touch.is-mouseover .fp-progress:before{background-color:#00a7c8}
.minimalist .fp-menu .fp-dropdown{right:-10px;left:auto;bottom:30px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;}
.minimalist .fp-menu .fp-dropdown:before{display:none}
.minimalist .fp-play{width:30px}
.minimalist.aside-time .fp-time{top:0;left:0}
.minimalist .fp-fullscreen,.minimalist .fp-unload,.minimalist .fp-close,.minimalist .fp-embed{right:0;top:0;}
.is-rtl.minimalist .fp-fullscreen,.is-rtl.minimalist .fp-unload,.is-rtl.minimalist .fp-close,.is-rtl.minimalist .fp-embed{right:auto;left:0}
.minimalist .fp-embed{right:32px;}
.is-rtl.minimalist .fp-embed{right:auto;left:32px}
.minimalist.is-closeable.is-ready .fp-fullscreen{right:32px}
.minimalist.is-closeable.is-ready .fp-embed{right:64px}
.minimalist.play-button .fp-play{display:block}
.minimalist.play-button .fp-elapsed{left:27px;}
.is-rtl.minimalist.play-button .fp-elapsed{right:27px}
.minimalist.play-button .fp-timeline{margin-left:72px;}
.is-rtl.minimalist.play-button .fp-timeline{margin-right:72px}
.is-long.minimalist.play-button .fp-timeline{margin-left:102px;}
.is-rtl.is-long.minimalist.play-button .fp-timeline{margin-right:102px}
.no-time.minimalist.play-button .fp-timeline,.aside-time.minimalist.play-button .fp-timeline{margin-left:27px;}
.is-rtl.no-time.minimalist.play-button .fp-timeline,.is-rtl.aside-time.minimalist.play-button .fp-timeline{margin-right:27px}
@font-face {
  font-family: 'fpicons';
  src:url('fonts/fpicons.eot?yg5dv7');
  src:url('fonts/fpicons.eot?#iefixyg5dv7') format('embedded-opentype'),
    url('fonts/fpicons.woff?yg5dv7') format('woff'),
    url('fonts/fpicons.ttf?yg5dv7') format('truetype'),
    url('fonts/fpicons.svg?yg5dv7#fpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fp-i-"], [class*=" fp-i-"] {
  font-family: 'fpicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.functional{position:relative;width:100%;counter-increment:flowplayer;background-size:contain;background-repeat:no-repeat;background-position:center center;display:inline-block;}
.functional *{font-weight:inherit;font-family:inherit;font-style:inherit;text-decoration:inherit;font-size:100%;padding:0;border:0;margin:0;list-style-type:none}
.functional a:focus{outline:0}
.functional video{width:100%}
.functional.is-ipad video{-webkit-transform:translateX(-2048px);}
.is-ready.functional.is-ipad video{-webkit-transform:translateX(0)}
.functional .fp-player{position:absolute;top:0;left:0;width:100%;height:100%}
.functional .fp-engine,.functional .fp-ui,.functional .fp-message{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:1}
.functional .fp-ui{z-index:11}
.functional .fp-message{display:none;text-align:center;padding-top:5%;cursor:default;}
.functional .fp-message h2{font-size:120%;margin-bottom:1em}
.functional .fp-message p{color:#666;font-size:95%}
.functional .fp-title{line-height:30px;font-weight:normal;font-family:'myriad pro',Helvetica,Arial,sans-serif;font-size:11px;cursor:default;color:#fff;width:auto;max-width:50%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;float:left;padding:0 20px;}
.is-rtl.functional .fp-title{float:right}
.aside-time.functional .fp-title{display:none !important}
.functional .fp-controls{position:absolute;bottom:0;width:100%;}
.no-background.functional .fp-controls{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important}
.is-fullscreen.functional .fp-controls{bottom:3px}
.is-mouseover.functional .fp-controls{bottom:0}
.functional .fp-controls,.functional .fp-title,.functional .fp-fullscreen,.functional .fp-unload,.functional .fp-close,.functional .fp-embed,.functional.aside-time .fp-time{background-color:#000;background-color:rgba(0,0,0,0.65);}
.no-background.functional .fp-controls,.no-background.functional .fp-title,.no-background.functional .fp-fullscreen,.no-background.functional .fp-unload,.no-background.functional .fp-close,.no-background.functional .fp-embed,.no-background.functional.aside-time .fp-time{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.no-background.functional .fp-play,.no-background.functional .fp-brand{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.functional.fixed-controls .fp-controls{background-color:#000}
.functional .fp-timeline{background-color:#a5a5a5}
.functional .fp-buffer{background-color:#eee}
.functional .fp-progress{background-color:#00a7c8}
.functional .fp-volumeslider{background-color:#a5a5a5}
.functional .fp-volumelevel{background-color:#00a7c8}
.functional .fp-waiting{display:none;margin:19% auto;text-align:center;}
.functional .fp-waiting *{-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;box-shadow:0 0 5px #333}
.functional .fp-waiting em{width:1em;height:1em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background-color:rgba(255,255,255,0.8);display:inline-block;-webkit-animation:pulse .6s infinite;-moz-animation:pulse .6s infinite;animation:pulse .6s infinite;margin:.3em;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.functional .fp-waiting em:nth-child(1){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}
.functional .fp-waiting em:nth-child(2){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}
.functional .fp-waiting em:nth-child(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.functional .fp-waiting p{color:#ccc;font-weight:bold}
.functional .fp-speed{font-size:30px;background-color:#333;background-color:rgba(51,51,51,0.8);color:#eee;margin:0 auto;text-align:center;width:120px;padding:.1em 0 0;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s;}
.functional .fp-speed.fp-hilite{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.functional .fp-help{position:absolute;top:0;left:-9999em;z-index:100;background-color:#333;background-color:rgba(51,51,51,0.9);width:100%;height:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .2s;-moz-transition:opacity .2s;transition:opacity .2s;text-align:center;}
.is-help.functional .fp-help{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.functional .fp-help .fp-help-section{margin:3%;direction:ltr}
.functional .fp-help .fp-help-basics{margin-top:6%}
.functional .fp-help p{color:#eee;margin:.5em 0;font-size:14px;line-height:1.5;display:inline-block;margin:1% 2%}
.functional .fp-help em{background:#eee;-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;margin-right:.4em;padding:.3em .6em;color:#333}
.functional .fp-help small{font-size:90%;color:#aaa}
.functional .fp-help .fp-close{display:block}
@media (max-width: 600px){.functional .fp-help p{font-size:9px}
}.functional .fp-dropdown{position:absolute;top:5px;width:100px;background-color:#000 !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;margin:0 !important;list-style-type:none !important;}
.functional .fp-dropdown:before{content:'';display:block;position:absolute;top:-5px;left:calc(50% - 5px);width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid rgba(51,51,51,0.9)}
.functional .fp-dropdown li{padding:10px !important;margin:0 !important;color:#fff !important;font-size:11px !important;list-style-type:none !important;}
.functional .fp-dropdown li.active{background-color:#00a7c8 !important;cursor:default !important}
.functional .fp-dropdown.fp-dropup{bottom:20px;top:auto;}
.functional .fp-dropdown.fp-dropup:before{top:auto;bottom:-5px;border-bottom:none;border-top:5px solid rgba(51,51,51,0.9)}
.functional .fp-tooltip{background-color:#000;color:#fff;display:none;position:absolute;padding:5px;}
.functional .fp-tooltip:before{content:'';display:block;position:absolute;bottom:-5px;width:0;height:0;left:calc(50% - 5px);border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000}
.functional .fp-timeline-tooltip{bottom:35px}
.functional .fp-timeline:hover+.fp-timeline-tooltip{display:block}
.functional .fp-subtitle{position:absolute;bottom:40px;left:-99999em;z-index:10;text-align:center;width:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s;}
.functional .fp-subtitle p{display:inline;background-color:#333;background-color:rgba(51,51,51,0.9);color:#eee;padding:.1em .4em;font-size:16px;line-height:1.6;}
.functional .fp-subtitle p:after{content:'';clear:both}
.functional .fp-subtitle p b{font-weight:bold}
.functional .fp-subtitle p i{font-style:italic}
.functional .fp-subtitle p u{text-decoration:underline}
.functional .fp-subtitle.fp-active{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.functional .fp-fullscreen,.functional .fp-unload,.functional .fp-mute,.functional .fp-embed,.functional .fp-close,.functional .fp-play,.functional .fp-menu{font-family:'fpicons' !important;color:#fff !important;font-size:15px !important;text-align:center !important;line-height:30px !important;text-decoration:none !important;}
.is-rtl.functional .fp-fullscreen,.is-rtl.functional .fp-unload,.is-rtl.functional .fp-mute,.is-rtl.functional .fp-embed,.is-rtl.functional .fp-close,.is-rtl.functional .fp-play,.is-rtl.functional .fp-menu{-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);transform:scale(-1,1)}
.is-rtl.functional .fp-menu{-webkit-transform:none;-moz-transform:none;transform:none}
.functional .fp-fullscreen:before{content:"\e602"}
.functional .fp-unload:before,.functional .fp-close:before{content:"\e600"}
.functional .fp-mute:before{content:"\e606"}
.functional .fp-embed:before{content:"\e603"}
.functional .fp-play:before{content:"\e608"}
.functional .fp-menu:before{content:"\e604"}
.functional .fp-flash-disabled{background:#333;width:390px;margin:0 auto;position:absolute;bottom:0;color:#fff}
.is-splash.functional .fp-ui,.is-paused.functional .fp-ui{background:url(img/play_white.png) center no-repeat;background-size:11%;}
.is-rtl.is-splash.functional .fp-ui,.is-rtl.is-paused.functional .fp-ui{background:url(img/play_white_rtl.png) center no-repeat;background-size:11%}
@media (-webkit-min-device-pixel-ratio: 2){.is-splash.functional .fp-ui,.is-paused.functional .fp-ui{background:url(img/play_white@x2.png) center no-repeat;background-size:11%}
.is-rtl.is-splash.functional .fp-ui,.is-rtl.is-paused.functional .fp-ui{background:url(img/play_white_rtl@x2.png) center no-repeat;background-size:11%}
}.is-fullscreen.functional .fp-ui{background-size:auto}
.is-seeking.functional .fp-ui,.is-loading.functional .fp-ui{background-image:none}
.functional .fp-brand{color:#fff !important;position:absolute;right:115px;font-weight:normal !important;font-family:'myriad pro',Helvetica,Arial,sans-serif !important;text-decoration:none !important;line-height:15px !important;font-size:11px !important;height:15px;width:55px;bottom:9px;box-sizing:border-box;text-align:center;padding:1px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.has-menu.functional .fp-brand{right:152px}
.is-rtl.functional .fp-brand{right:auto;left:125px}
.has-menu.is-rtl.functional .fp-brand{left:152px}
.no-brand.functional .fp-brand{display:none}
.no-volume.no-mute.functional .fp-brand{right:10px}
.no-volume.functional .fp-brand{right:50px}
.no-mute.functional .fp-brand{right:95px}
.functional .fp-logo{position:absolute;top:auto;left:15px;bottom:40px;cursor:pointer;display:none;z-index:100;}
.functional .fp-logo img{width:100%}
.is-embedded.functional .fp-logo{display:block}
.fixed-controls.functional .fp-logo{bottom:15px}
.functional .fp-fullscreen,.functional .fp-unload,.functional .fp-close{position:absolute;top:10px;left:auto;right:10px;display:block;width:30px;height:23px;text-align:center;cursor:pointer;height:30px;width:30px;}
.is-rtl.functional .fp-fullscreen,.is-rtl.functional .fp-unload,.is-rtl.functional .fp-close{right:auto;left:10px}
.functional .fp-unload,.functional .fp-close{display:none}
.functional .fp-play{display:none;height:30px !important;position:absolute;bottom:0;left:0;text-align:center;}
.is-rtl.functional .fp-play{left:auto;right:0}
.is-playing.functional .fp-play:before{content:"\e607"}
.functional .fp-menu{display:none;position:absolute;bottom:0;z-index:11;right:10px;}
.is-rtl.functional .fp-menu{right:auto;left:10px}
.has-menu.functional .fp-menu{display:block}
.functional .fp-menu .fp-dropdown{z-index:12;display:none;left:-42.5px;line-height:auto;width:149px;-webkit-transform:none;-moz-transform:none;transform:none;}
.is-rtl.functional .fp-menu .fp-dropdown{left:-10px}
.functional .fp-menu.dropdown-open .fp-dropdown{display:block}
.functional.is-ready.is-closeable .fp-unload{display:block}
.functional.is-ready.is-closeable .fp-embed{right:90px}
.functional.is-ready.is-closeable .fp-fullscreen{right:50px}
.functional.is-fullscreen .fp-fullscreen{display:block !important;}
.functional.is-fullscreen .fp-fullscreen:before{content:"\e601"}
.functional.is-fullscreen .fp-unload,.functional.is-fullscreen .fp-close{display:none !important}
.functional .fp-timeline{height:3px;position:relative;overflow:hidden;top:10px;height:10px;margin:0 225px 0 55px;}
.no-brand.functional .fp-timeline{margin-right:160px;}
.has-menu.no-brand.functional .fp-timeline{margin-right:187px}
.no-volume.no-brand.functional .fp-timeline{margin-right:95px}
.no-mute.no-brand.functional .fp-timeline{margin-right:130px}
.no-mute.no-volume.no-brand.functional .fp-timeline{margin-right:55px}
.has-menu.functional .fp-timeline{margin-right:252px}
.no-volume.functional .fp-timeline{margin-right:160px}
.no-mute.functional .fp-timeline{margin-right:195px}
.no-mute.no-volume.functional .fp-timeline{margin-right:120px}
.is-rtl.functional .fp-timeline{margin:0 55px 0 225px;}
.no-brand.is-rtl.functional .fp-timeline{margin-left:160px;}
.has-menu.no-brand.is-rtl.functional .fp-timeline{margin-left:197px}
.has-menu.is-rtl.functional .fp-timeline{margin-left:262px}
.no-volume.is-rtl.functional .fp-timeline{margin-left:95px}
.no-mute.is-rtl.functional .fp-timeline{margin-left:130px}
.no-mute.no-volume.is-rtl.functional .fp-timeline{margin-left:55px}
.is-long.functional .fp-timeline{margin:0 255px 0 85px;}
.no-volume.is-long.functional .fp-timeline{margin-right:125px}
.no-mute.is-long.functional .fp-timeline{margin-right:85px}
.has-menu.is-long.functional .fp-timeline{margin-right:292px}
.is-rtl.is-long.functional .fp-timeline{margin:85px 0 190px 0;}
.no-volume.is-rtl.is-long.functional .fp-timeline{margin-left:125px}
.no-mute.is-rtl.is-long.functional .fp-timeline{margin-left:85px}
.aside-time.functional .fp-timeline,.no-time.functional .fp-timeline{margin:0 190px 0 10px;}
.has-menu.aside-time.functional .fp-timeline,.has-menu.no-time.functional .fp-timeline{margin-right:227px}
.aside-time.no-brand.functional .fp-timeline{margin-right:115px}
.aside-time.no-volume.functional .fp-timeline,.no-time.no-volume.functional .fp-timeline{margin-right:115px}
.aside-time.no-mute.functional .fp-timeline,.no-time.no-mute.functional .fp-timeline{margin-right:75px}
.is-rtl.aside-time.functional .fp-timeline,.is-rtl.no-time.functional .fp-timeline{margin:0 10px 0 115px}
.is-rtl.aside-time.no-volume.functional .fp-timeline,.is-rtl.no-time.no-volume.functional .fp-timeline{margin-left:50px}
.is-rtl.aside-time.no-mute.functional .fp-timeline,.is-rtl.no-time.no-mute.functional .fp-timeline{margin-left:10px}
.functional .fp-buffer,.functional .fp-progress{position:absolute;top:0;left:auto;height:100%;cursor:col-resize}
.functional .fp-buffer{-webkit-transition:width .25s linear;-moz-transition:width .25s linear;transition:width .25s linear}
.functional .fp-timeline.no-animation .fp-buffer{-webkit-transition:none;-moz-transition:none;transition:none}
.functional .fp-progress.animated{transition-timing-function:linear;transition-property:width,height}
.functional.is-touch .fp-timeline{overflow:visible}
.functional.is-touch .fp-progress{-webkit-transition:width .2s linear;-moz-transition:width .2s linear;transition:width .2s linear}
.functional.is-touch .fp-timeline.is-dragging .fp-progress{-webkit-transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear;-moz-transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear;transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear}
.functional.is-touch.is-mouseover .fp-progress:after,.functional.is-touch.is-mouseover .fp-progress:before{content:'';display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;position:absolute;right:-5px}
.functional.is-touch.is-rtl.is-mouseover .fp-progress:after,.functional.is-touch.is-rtl.is-mouseover .fp-progress:before{right:auto;left:-5px}
.functional.is-touch.is-rtl.is-mouseover .fp-progress:after{left:-10px;-webkit-box-shadow:-1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:-1px 0 4px rgba(0,0,0,0.5);box-shadow:-1px 0 4px rgba(0,0,0,0.5)}
.functional.is-touch.is-mouseover .fp-progress:before{width:10px;height:10px}
.functional.is-touch.is-mouseover .fp-progress:after{height:10px;width:10px;top:-5px;right:-10px;border:5px solid rgba(255,255,255,0.65);-webkit-box-shadow:1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:1px 0 4px rgba(0,0,0,0.5);box-shadow:1px 0 4px rgba(0,0,0,0.5)}
.functional.is-touch.is-mouseover .fp-timeline.is-dragging .fp-progress:after{border:10px solid #fff;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit;top:-10px;right:-15px}
.functional.is-touch.is-rtl.is-mouseover .fp-timeline.is-dragging .fp-progress:after{left:-15px;right:auto;border:10px solid #fff}
.functional .fp-volume{position:absolute;top:12px;right:10px;}
.has-menu.functional .fp-volume{right:37px}
.is-rtl.functional .fp-volume{right:auto;left:10px}
.is-rtl.has-menu.functional .fp-volume{left:37px}
.functional .fp-mute{position:relative;width:30px;height:30px;float:left;top:-12px;cursor:pointer;}
.is-rtl.functional .fp-mute{float:right}
.no-mute.functional .fp-mute{display:none}
.functional .fp-volumeslider{width:75px;height:6px;cursor:col-resize;float:left;}
.is-rtl.functional .fp-volumeslider{float:right}
.no-volume.functional .fp-volumeslider{display:none}
.functional .fp-volumelevel{height:100%}
.functional .fp-time{text-shadow:0 0 1px #000;font-size:11px;font-weight:normal;font-family:'myriad pro',Helvetica,Arial,sans-serif !important;color:#fff;width:100%;}
.functional .fp-time.is-inverted .fp-duration{display:none}
.functional .fp-time.is-inverted .fp-remaining{display:inline}
.functional .fp-time em{width:35px;height:10px;line-height:10px;text-align:center;position:absolute;bottom:9px}
.no-time.functional .fp-time{display:none}
.is-long.functional .fp-time em{width:65px}
.functional .fp-elapsed{left:10px;}
.is-rtl.functional .fp-elapsed{left:auto;right:10px}
.functional .fp-remaining,.functional .fp-duration{right:180px;color:#eee;}
.no-brand.functional .fp-remaining,.no-brand.functional .fp-duration{right:115px;}
.has-menu.no-brand.functional .fp-remaining,.has-menu.no-brand.functional .fp-duration{right:152px}
.no-volume.no-brand.functional .fp-remaining,.no-volume.no-brand.functional .fp-duration{right:50px}
.no-mute.no-brand.functional .fp-remaining,.no-mute.no-brand.functional .fp-duration{right:95px}
.no-mute.no-volume.no-brand.functional .fp-remaining,.no-mute.no-volume.no-brand.functional .fp-duration{right:10px}
.has-menu.functional .fp-remaining,.has-menu.functional .fp-duration{right:217px}
.no-volume.functional .fp-remaining,.no-volume.functional .fp-duration{right:115px}
.no-mute.functional .fp-remaining,.no-mute.functional .fp-duration{right:160px}
.no-mute.no-volume.functional .fp-remaining,.no-mute.no-volume.functional .fp-duration{right:75px}
.is-rtl.functional .fp-remaining,.is-rtl.functional .fp-duration{right:auto;left:180px;}
.no-brand.is-rtl.functional .fp-remaining,.no-brand.is-rtl.functional .fp-duration{left:115px;}
.has-menu.no-brand.is-rtl.functional .fp-remaining,.has-menu.no-brand.is-rtl.functional .fp-duration{left:142px}
.has-menu.is-rtl.functional .fp-remaining,.has-menu.is-rtl.functional .fp-duration{left:207px}
.no-volume.is-rtl.functional .fp-remaining,.no-volume.is-rtl.functional .fp-duration{left:50px}
.no-mute.is-rtl.functional .fp-remaining,.no-mute.is-rtl.functional .fp-duration{left:95px}
.no-mute.no-volume.is-rtl.functional .fp-remaining,.no-mute.no-volume.is-rtl.functional .fp-duration{left:10px}
.functional .fp-remaining{display:none}
.functional.aside-time .fp-time{position:absolute;top:10px;left:10px;bottom:auto !important;width:auto;background-color:#000;background-color:rgba(0,0,0,0.65);height:30px;padding:0 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;line-height:30px;text-align:center;font-size:15px;}
.no-background.functional.aside-time .fp-time{background-color:transparent !important}
.functional.aside-time .fp-time strong,.functional.aside-time .fp-time em{position:static}
.functional.aside-time .fp-time .fp-elapsed::after{content:' / '}
.functional.is-splash,.functional.is-poster{cursor:pointer;}
.functional.is-splash .fp-controls,.functional.is-poster .fp-controls,.functional.is-splash .fp-fullscreen,.functional.is-poster .fp-fullscreen,.functional.is-splash .fp-unload,.functional.is-poster .fp-unload,.functional.is-splash .fp-time,.functional.is-poster .fp-time,.functional.is-splash .fp-embed,.functional.is-poster .fp-embed,.functional.is-splash .fp-title,.functional.is-poster .fp-title,.functional.is-splash .fp-brand,.functional.is-poster .fp-brand{display:none !important}
.functional.is-poster .fp-engine{top:-9999em}
.functional.is-loading .fp-waiting{display:block}
.functional.is-loading .fp-controls,.functional.is-loading .fp-time{display:none}
.functional.is-loading .fp-ui{background-position:-9999em}
.functional.is-loading video.fp-engine{position:absolute;top:-9999em}
.functional.is-seeking .fp-waiting{display:block}
.functional.is-playing{background-image:none !important;background-color:#333;}
.functional.is-playing.hls-fix.is-finished .fp-engine{position:absolute;top:-9999em}
.functional.is-fullscreen{top:0 !important;left:0 !important;border:0 !important;margin:0 !important;width:100% !important;height:100% !important;max-width:100% !important;z-index:99999 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;background-image:none !important;background-color:#333;}
.is-rtl.functional.is-fullscreen{left:auto !important;right:0 !important}
.functional.is-fullscreen .fp-player{background-color:#333}
.functional.is-error{border:1px solid #909090;background:#fdfdfd !important;}
.functional.is-error h2{font-weight:bold;font-size:large;margin-top:10%}
.functional.is-error .fp-message{display:block}
.functional.is-error object,.functional.is-error video,.functional.is-error .fp-controls,.functional.is-error .fp-time,.functional.is-error .fp-subtitle{display:none}
.functional.is-ready.is-muted .fp-mute{opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
.functional.is-ready.is-muted .fp-mute:before{content:"\e605"}
.functional.is-mouseout .fp-controls,.functional.is-mouseout .fp-title{height:0;-webkit-transition:height .15s .3s;-moz-transition:height .15s .3s;transition:height .15s .3s}
.is-fullscreen.functional.is-mouseout .fp-controls{height:3px;bottom:0}
.functional.is-mouseout .fp-title{overflow:hidden}
.functional.is-mouseout .fp-timeline{margin:0 !important}
.functional.is-mouseout .fp-timeline{-webkit-transition:height .15s .3s,top .15s .3s,margin .15s .3s;-moz-transition:height .15s .3s,top .15s .3s,margin .15s .3s;transition:height .15s .3s,top .15s .3s,margin .15s .3s;height:4px;top:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.functional.is-mouseout .fp-fullscreen,.functional.is-mouseout .fp-unload,.functional.is-mouseout .fp-elapsed,.functional.is-mouseout .fp-remaining,.functional.is-mouseout .fp-duration,.functional.is-mouseout .fp-embed,.functional.is-mouseout .fp-volume,.functional.is-mouseout .fp-play,.functional.is-mouseout .fp-menu,.functional.is-mouseout .fp-brand,.functional.is-mouseout .fp-timeline-tooltip,.functional.is-mouseout.aside-time .fp-time{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .15s .3s;-moz-transition:opacity .15s .3s;transition:opacity .15s .3s}
.functional.is-mouseover .fp-controls,.functional.fixed-controls .fp-controls{height:30px}
.functional.is-mouseover .fp-title,.functional.fixed-controls .fp-title{height:30px}
.functional.is-mouseover .fp-fullscreen,.functional.fixed-controls .fp-fullscreen,.functional.is-mouseover .fp-unload,.functional.fixed-controls .fp-unload,.functional.is-mouseover .fp-elapsed,.functional.fixed-controls .fp-elapsed,.functional.is-mouseover .fp-remaining,.functional.fixed-controls .fp-remaining,.functional.is-mouseover .fp-duration,.functional.fixed-controls .fp-duration,.functional.is-mouseover .fp-embed,.functional.fixed-controls .fp-embed,.functional.is-mouseover .fp-logo,.functional.fixed-controls .fp-logo,.functional.is-mouseover .fp-volume,.functional.fixed-controls .fp-volume,.functional.is-mouseover .fp-play,.functional.fixed-controls .fp-play,.functional.is-mouseover .fp-menu,.functional.fixed-controls .fp-menu{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.functional.fixed-controls .fp-volume{display:block}
.functional.fixed-controls .fp-controls{bottom:-30px;}
.is-fullscreen.functional.fixed-controls .fp-controls{bottom:0}
.functional.fixed-controls .fp-time em{bottom:-20px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.is-fullscreen.functional.fixed-controls .fp-time em{bottom:10px}
.functional.is-disabled .fp-progress{background-color:#999}
.functional.is-flash-disabled{background-color:#333;}
.functional.is-flash-disabled object.fp-engine{z-index:100}
.functional.is-flash-disabled .fp-flash-disabled{display:block;z-index:101}
.functional .fp-embed{position:absolute;top:10px;left:auto;right:50px;display:block;width:30px;height:30px;text-align:center;}
.is-rtl.functional .fp-embed{right:auto;left:50px}
.functional .fp-embed-code{position:absolute;display:none;top:10px;right:67px;background-color:#333;padding:3px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;font-size:12px;}
.is-closeable.functional .fp-embed-code{right:99px}
.functional .fp-embed-code:before{content:'';width:0;height:0;position:absolute;top:2px;right:-10px;border:5px solid transparent;border-left-color:#333}
.is-rtl.functional .fp-embed-code{right:auto;left:67px;}
.is-rtl.functional .fp-embed-code:before{right:auto;left:-10px;border-left-color:transparent;border-right-color:#333}
.functional .fp-embed-code textarea{width:400px;height:16px;font-family:monaco,"courier new",verdana;color:#777;white-space:nowrap;resize:none;overflow:hidden;border:0;outline:0;background-color:transparent;color:#ccc}
.functional .fp-embed-code label{display:block;color:#999}
.functional.is-embedding .fp-embed,.functional.is-embedding .fp-embed-code{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.functional.no-time .fp-embed{left:10px !important;}
.is-rtl.functional.no-time .fp-embed{left:auto;right:10px !important}
.functional.is-live .fp-timeline,.functional.is-live .fp-duration,.functional.is-live .fp-remaining{display:none}
.functional .fp-context-menu{position:absolute;display:none;z-index:1001;background-color:#fff;padding:10px;border:1px solid #aaa;-webkit-box-shadow:0 0 4px #888;-moz-box-shadow:0 0 4px #888;box-shadow:0 0 4px #888;width:170px;}
.functional .fp-context-menu li{text-align:center !important;padding:10px;color:#444 !important;font-size:11px !important;margin:0 -10px 0 -10px;}
.functional .fp-context-menu li a{color:#00a7c8 !important;font-size:12.100000000000001px !important}
.functional .fp-context-menu li:hover:not(.copyright){background-color:#eee}
.functional .fp-context-menu li.copyright{margin:0;padding-left:110px;background-image:url("img/flowplayer.png");background-repeat:no-repeat;background-size:100px 20px;background-position:5px 5px;border-bottom:1px solid #bbb;}
@media (-webkit-min-device-pixel-ratio: 2){.functional .fp-context-menu li.copyright{background-image:url("img/flowplayer@2x.png")}
}@-moz-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-webkit-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-o-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-ms-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@keyframes pulse{0%{opacity:0}
100%{opacity:1}
}.functional.is-touch.is-mouseover .fp-progress:before{background-color:#00a7c8}
.functional .fp-title{position:absolute;top:10px;left:10px;}
.is-rtl.functional .fp-title{left:auto;right:10px}
.functional .fp-title,.functional .fp-unload,.functional .fp-fullscreen,.functional .fp-embed{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.functional .fp-embed-code{right:85px;}
.is-closeable.functional .fp-embed-code{right:125px}
.is-rtl.functional .fp-embed-code{right:auto;left:85px}
.functional.is-mouseout .fp-menu{display:none}
.functional.is-mouseout .fp-controls{-webkit-transition:none;-moz-transition:none;transition:none;-webkit-animation:functional-controls-hide 1s 1;-moz-animation:functional-controls-hide 1s 1;animation:functional-controls-hide 1s 1}
.functional.is-mouseout .fp-timeline{-webkit-transition:none;-moz-transition:none;transition:none}
.functional.is-mouseout .fp-volume,.functional.is-mouseout .fp-brand,.functional.is-mouseout .fp-play,.functional.is-mouseout .fp-time{-webkit-transition:none;-moz-transition:none;transition:none;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
.functional.fixed-controls .fp-elapsed,.functional.fixed-controls.is-mouseover .fp-elapsed{left:50px}
.functional.fixed-controls .fp-controls,.functional.fixed-controls.is-mouseover .fp-controls{bottom:-30px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;left:0;right:0;}
.functional.fixed-controls .fp-controls .fp-play,.functional.fixed-controls.is-mouseover .fp-controls .fp-play{left:10px}
.functional.fixed-controls .fp-controls .fp-timeline,.functional.fixed-controls.is-mouseover .fp-controls .fp-timeline{margin-left:95px;}
.is-long.functional.fixed-controls .fp-controls .fp-timeline,.is-long.functional.fixed-controls.is-mouseover .fp-controls .fp-timeline{margin-left:125px}
.functional.is-mouseover .fp-controls{bottom:10px;left:50px;right:10px;width:auto;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.is-rtl.functional.is-mouseover .fp-controls{left:10px;right:50px}
.functional.is-mouseover .fp-controls .fp-play{left:-40px;display:block;background-color:#000;background-color:rgba(0,0,0,0.65);width:30px;height:30px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.is-rtl.functional.is-mouseover .fp-controls .fp-play{left:auto;right:-40px}
.functional.is-mouseover .fp-controls .fp-timeline{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.functional.is-mouseover .fp-controls .fp-timeline .fp-progress,.functional.is-mouseover .fp-controls .fp-timeline .fp-buffer{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.functional.is-mouseover .fp-controls .fp-menu .fp-dropdown{bottom:35px;left:auto;right:-10px;}
.is-rtl.functional.is-mouseover .fp-controls .fp-menu .fp-dropdown{right:auto;left:-10px}
.functional.is-mouseover .fp-controls .fp-menu .fp-dropdown:before{display:none}
.functional.is-mouseover .fp-controls li{border-color:#000;}
.functional.is-mouseover .fp-controls li.active{border-color:#00a7c8}
.functional.is-mouseover .fp-controls li:last-child:before{content:'';display:block;position:absolute;bottom:-5px;width:0;height:0;right:10px;border-bottom:none;border-top-width:5px;border-top-style:solid;border-top-color:inherit;border-left:5px solid transparent;border-right:5px solid transparent;}
.is-rtl.functional.is-mouseover .fp-controls li:last-child:before{right:auto;left:10px}
.functional .fp-elapsed,.functional.play-button .fp-elapsed{left:60px;}
.is-rtl.functional .fp-elapsed,.is-rtl.functional.play-button .fp-elapsed{right:60px;left:auto}
.functional .fp-time em{bottom:19px}
@-moz-keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-webkit-keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-o-keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-ms-keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}
@font-face {
  font-family: 'fpicons';
  src:url('fonts/fpicons.eot?yg5dv7');
  src:url('fonts/fpicons.eot?#iefixyg5dv7') format('embedded-opentype'),
    url('fonts/fpicons.woff?yg5dv7') format('woff'),
    url('fonts/fpicons.ttf?yg5dv7') format('truetype'),
    url('fonts/fpicons.svg?yg5dv7#fpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fp-i-"], [class*=" fp-i-"] {
  font-family: 'fpicons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.playful{position:relative;width:100%;counter-increment:flowplayer;background-size:contain;background-repeat:no-repeat;background-position:center center;display:inline-block;}
.playful *{font-weight:inherit;font-family:inherit;font-style:inherit;text-decoration:inherit;font-size:100%;padding:0;border:0;margin:0;list-style-type:none}
.playful a:focus{outline:0}
.playful video{width:100%}
.playful.is-ipad video{-webkit-transform:translateX(-2048px);}
.is-ready.playful.is-ipad video{-webkit-transform:translateX(0)}
.playful .fp-player{position:absolute;top:0;left:0;width:100%;height:100%}
.playful .fp-engine,.playful .fp-ui,.playful .fp-message{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer;z-index:1}
.playful .fp-ui{z-index:11}
.playful .fp-message{display:none;text-align:center;padding-top:5%;cursor:default;}
.playful .fp-message h2{font-size:120%;margin-bottom:1em}
.playful .fp-message p{color:#666;font-size:95%}
.playful .fp-title{line-height:35px;font-weight:normal;font-family:'myriad pro',Helvetica,Arial,sans-serif;font-size:11px;cursor:default;color:#fff;width:auto;max-width:50%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;float:left;padding:0 24px;}
.is-rtl.playful .fp-title{float:right}
.aside-time.playful .fp-title{display:none !important}
.playful .fp-controls{position:absolute;bottom:0;width:100%;}
.no-background.playful .fp-controls{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important}
.is-fullscreen.playful .fp-controls{bottom:3px}
.is-mouseover.playful .fp-controls{bottom:0}
.playful .fp-controls,.playful .fp-title,.playful .fp-fullscreen,.playful .fp-unload,.playful .fp-close,.playful .fp-embed,.playful.aside-time .fp-time{background-color:#000;background-color:rgba(0,0,0,0.65);}
.no-background.playful .fp-controls,.no-background.playful .fp-title,.no-background.playful .fp-fullscreen,.no-background.playful .fp-unload,.no-background.playful .fp-close,.no-background.playful .fp-embed,.no-background.playful.aside-time .fp-time{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.no-background.playful .fp-play,.no-background.playful .fp-brand{background-color:transparent !important;background-image:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent)) !important;background-image:-webkit-linear-gradient(top,transparent,transparent) !important;background-image:-moz-linear-gradient(top,transparent,transparent) !important;background-image:-o-linear-gradient(top,transparent,transparent) !important;background-image:linear-gradient(to bottom,transparent,transparent) !important;text-shadow:0 0 1px #000}
.playful.fixed-controls .fp-controls{background-color:#000}
.playful .fp-timeline{background-color:#a5a5a5}
.playful .fp-buffer{background-color:#eee}
.playful .fp-progress{background-color:#00a7c8}
.playful .fp-volumeslider{background-color:#a5a5a5}
.playful .fp-volumelevel{background-color:#00a7c8}
.playful .fp-waiting{display:none;margin:19% auto;text-align:center;}
.playful .fp-waiting *{-webkit-box-shadow:0 0 5px #333;-moz-box-shadow:0 0 5px #333;box-shadow:0 0 5px #333}
.playful .fp-waiting em{width:1em;height:1em;-webkit-border-radius:1em;-moz-border-radius:1em;border-radius:1em;background-color:rgba(255,255,255,0.8);display:inline-block;-webkit-animation:pulse .6s infinite;-moz-animation:pulse .6s infinite;animation:pulse .6s infinite;margin:.3em;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);}
.playful .fp-waiting em:nth-child(1){-webkit-animation-delay:.3s;-moz-animation-delay:.3s;animation-delay:.3s}
.playful .fp-waiting em:nth-child(2){-webkit-animation-delay:.45s;-moz-animation-delay:.45s;animation-delay:.45s}
.playful .fp-waiting em:nth-child(3){-webkit-animation-delay:.6s;-moz-animation-delay:.6s;animation-delay:.6s}
.playful .fp-waiting p{color:#ccc;font-weight:bold}
.playful .fp-speed{font-size:30px;background-color:#333;background-color:rgba(51,51,51,0.8);color:#eee;margin:0 auto;text-align:center;width:120px;padding:.1em 0 0;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s;}
.playful .fp-speed.fp-hilite{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.playful .fp-help{position:absolute;top:0;left:-9999em;z-index:100;background-color:#333;background-color:rgba(51,51,51,0.9);width:100%;height:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .2s;-moz-transition:opacity .2s;transition:opacity .2s;text-align:center;}
.is-help.playful .fp-help{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.playful .fp-help .fp-help-section{margin:3%;direction:ltr}
.playful .fp-help .fp-help-basics{margin-top:6%}
.playful .fp-help p{color:#eee;margin:.5em 0;font-size:14px;line-height:1.5;display:inline-block;margin:1% 2%}
.playful .fp-help em{background:#eee;-webkit-border-radius:.3em;-moz-border-radius:.3em;border-radius:.3em;margin-right:.4em;padding:.3em .6em;color:#333}
.playful .fp-help small{font-size:90%;color:#aaa}
.playful .fp-help .fp-close{display:block}
@media (max-width: 600px){.playful .fp-help p{font-size:9px}
}.playful .fp-dropdown{position:absolute;top:5px;width:100px;background-color:#000 !important;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;box-sizing:border-box;-moz-box-sizing:border-box;margin:0 !important;list-style-type:none !important;}
.playful .fp-dropdown:before{content:'';display:block;position:absolute;top:-5px;left:calc(50% - 5px);width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:5px solid rgba(51,51,51,0.9)}
.playful .fp-dropdown li{padding:12px !important;margin:0 !important;color:#fff !important;font-size:11px !important;list-style-type:none !important;}
.playful .fp-dropdown li.active{background-color:#00a7c8 !important;cursor:default !important}
.playful .fp-dropdown.fp-dropup{bottom:20px;top:auto;}
.playful .fp-dropdown.fp-dropup:before{top:auto;bottom:-5px;border-bottom:none;border-top:5px solid rgba(51,51,51,0.9)}
.playful .fp-tooltip{background-color:#000;color:#fff;display:none;position:absolute;padding:5px;}
.playful .fp-tooltip:before{content:'';display:block;position:absolute;bottom:-5px;width:0;height:0;left:calc(50% - 5px);border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #000}
.playful .fp-timeline-tooltip{bottom:41px}
.playful .fp-timeline:hover+.fp-timeline-tooltip{display:block}
.playful .fp-subtitle{position:absolute;bottom:40px;left:-99999em;z-index:10;text-align:center;width:100%;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .3s;-moz-transition:opacity .3s;transition:opacity .3s;}
.playful .fp-subtitle p{display:inline;background-color:#333;background-color:rgba(51,51,51,0.9);color:#eee;padding:.1em .4em;font-size:16px;line-height:1.6;}
.playful .fp-subtitle p:after{content:'';clear:both}
.playful .fp-subtitle p b{font-weight:bold}
.playful .fp-subtitle p i{font-style:italic}
.playful .fp-subtitle p u{text-decoration:underline}
.playful .fp-subtitle.fp-active{left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.playful .fp-fullscreen,.playful .fp-unload,.playful .fp-mute,.playful .fp-embed,.playful .fp-close,.playful .fp-play,.playful .fp-menu{font-family:'fpicons' !important;color:#fff !important;font-size:15px !important;text-align:center !important;line-height:30px !important;text-decoration:none !important;}
.is-rtl.playful .fp-fullscreen,.is-rtl.playful .fp-unload,.is-rtl.playful .fp-mute,.is-rtl.playful .fp-embed,.is-rtl.playful .fp-close,.is-rtl.playful .fp-play,.is-rtl.playful .fp-menu{-webkit-transform:scale(-1,1);-moz-transform:scale(-1,1);transform:scale(-1,1)}
.is-rtl.playful .fp-menu{-webkit-transform:none;-moz-transform:none;transform:none}
.playful .fp-fullscreen:before{content:"\e602"}
.playful .fp-unload:before,.playful .fp-close:before{content:"\e600"}
.playful .fp-mute:before{content:"\e606"}
.playful .fp-embed:before{content:"\e603"}
.playful .fp-play:before{content:"\e608"}
.playful .fp-menu:before{content:"\e604"}
.playful .fp-flash-disabled{background:#333;width:390px;margin:0 auto;position:absolute;bottom:0;color:#fff}
.is-splash.playful .fp-ui,.is-paused.playful .fp-ui{background:url(img/play_white.png) center no-repeat;background-size:11%;}
.is-rtl.is-splash.playful .fp-ui,.is-rtl.is-paused.playful .fp-ui{background:url(img/play_white_rtl.png) center no-repeat;background-size:11%}
@media (-webkit-min-device-pixel-ratio: 2){.is-splash.playful .fp-ui,.is-paused.playful .fp-ui{background:url(img/play_white@x2.png) center no-repeat;background-size:11%}
.is-rtl.is-splash.playful .fp-ui,.is-rtl.is-paused.playful .fp-ui{background:url(img/play_white_rtl@x2.png) center no-repeat;background-size:11%}
}.is-fullscreen.playful .fp-ui{background-size:auto}
.is-seeking.playful .fp-ui,.is-loading.playful .fp-ui{background-image:none}
.playful .fp-brand{color:#fff !important;position:absolute;right:124px;font-weight:normal !important;font-family:'myriad pro',Helvetica,Arial,sans-serif !important;text-decoration:none !important;line-height:15px !important;font-size:11px !important;height:15px;width:55px;bottom:11px;box-sizing:border-box;text-align:center;padding:1px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.has-menu.playful .fp-brand{right:161px}
.is-rtl.playful .fp-brand{right:auto;left:134px}
.has-menu.is-rtl.playful .fp-brand{left:161px}
.no-brand.playful .fp-brand{display:none}
.no-volume.no-mute.playful .fp-brand{right:12px}
.no-volume.playful .fp-brand{right:62px}
.no-mute.playful .fp-brand{right:99px}
.playful .fp-logo{position:absolute;top:auto;left:15px;bottom:45px;cursor:pointer;display:none;z-index:100;}
.playful .fp-logo img{width:100%}
.is-embedded.playful .fp-logo{display:block}
.fixed-controls.playful .fp-logo{bottom:15px}
.playful .fp-fullscreen,.playful .fp-unload,.playful .fp-close{position:absolute;top:12px;left:auto;right:12px;display:block;width:30px;height:23px;text-align:center;cursor:pointer;height:35px;width:35px;}
.is-rtl.playful .fp-fullscreen,.is-rtl.playful .fp-unload,.is-rtl.playful .fp-close{right:auto;left:12px}
.playful .fp-unload,.playful .fp-close{display:none}
.playful .fp-play{display:none;height:35px !important;position:absolute;bottom:0;left:0;text-align:center;}
.is-rtl.playful .fp-play{left:auto;right:0}
.is-playing.playful .fp-play:before{content:"\e607"}
.playful .fp-menu{display:none;position:absolute;bottom:0;z-index:11;right:12px;}
.is-rtl.playful .fp-menu{right:auto;left:12px}
.has-menu.playful .fp-menu{display:block}
.playful .fp-menu .fp-dropdown{z-index:12;display:none;left:-42.5px;line-height:auto;width:153px;-webkit-transform:none;-moz-transform:none;transform:none;}
.is-rtl.playful .fp-menu .fp-dropdown{left:-12px}
.playful .fp-menu.dropdown-open .fp-dropdown{display:block}
.playful.is-ready.is-closeable .fp-unload{display:block}
.playful.is-ready.is-closeable .fp-embed{right:106px}
.playful.is-ready.is-closeable .fp-fullscreen{right:59px}
.playful.is-fullscreen .fp-fullscreen{display:block !important;}
.playful.is-fullscreen .fp-fullscreen:before{content:"\e601"}
.playful.is-fullscreen .fp-unload,.playful.is-fullscreen .fp-close{display:none !important}
.playful .fp-timeline{height:3px;position:relative;overflow:hidden;top:12px;height:11px;margin:0 238px 0 59px;}
.no-brand.playful .fp-timeline{margin-right:171px;}
.has-menu.no-brand.playful .fp-timeline{margin-right:198px}
.no-volume.no-brand.playful .fp-timeline{margin-right:109px}
.no-mute.no-brand.playful .fp-timeline{margin-right:133px}
.no-mute.no-volume.no-brand.playful .fp-timeline{margin-right:59px}
.has-menu.playful .fp-timeline{margin-right:265px}
.no-volume.playful .fp-timeline{margin-right:176px}
.no-mute.playful .fp-timeline{margin-right:200px}
.no-mute.no-volume.playful .fp-timeline{margin-right:126px}
.is-rtl.playful .fp-timeline{margin:0 59px 0 238px;}
.no-brand.is-rtl.playful .fp-timeline{margin-left:171px;}
.has-menu.no-brand.is-rtl.playful .fp-timeline{margin-left:210px}
.has-menu.is-rtl.playful .fp-timeline{margin-left:277px}
.no-volume.is-rtl.playful .fp-timeline{margin-left:109px}
.no-mute.is-rtl.playful .fp-timeline{margin-left:133px}
.no-mute.no-volume.is-rtl.playful .fp-timeline{margin-left:59px}
.is-long.playful .fp-timeline{margin:0 268px 0 89px;}
.no-volume.is-long.playful .fp-timeline{margin-right:139px}
.no-mute.is-long.playful .fp-timeline{margin-right:89px}
.has-menu.is-long.playful .fp-timeline{margin-right:307px}
.is-rtl.is-long.playful .fp-timeline{margin:89px 0 201px 0;}
.no-volume.is-rtl.is-long.playful .fp-timeline{margin-left:139px}
.no-mute.is-rtl.is-long.playful .fp-timeline{margin-left:89px}
.aside-time.playful .fp-timeline,.no-time.playful .fp-timeline{margin:0 203px 0 12px;}
.has-menu.aside-time.playful .fp-timeline,.has-menu.no-time.playful .fp-timeline{margin-right:242px}
.aside-time.no-brand.playful .fp-timeline{margin-right:124px}
.aside-time.no-volume.playful .fp-timeline,.no-time.no-volume.playful .fp-timeline{margin-right:129px}
.aside-time.no-mute.playful .fp-timeline,.no-time.no-mute.playful .fp-timeline{margin-right:79px}
.is-rtl.aside-time.playful .fp-timeline,.is-rtl.no-time.playful .fp-timeline{margin:0 12px 0 124px}
.is-rtl.aside-time.no-volume.playful .fp-timeline,.is-rtl.no-time.no-volume.playful .fp-timeline{margin-left:62px}
.is-rtl.aside-time.no-mute.playful .fp-timeline,.is-rtl.no-time.no-mute.playful .fp-timeline{margin-left:12px}
.playful .fp-buffer,.playful .fp-progress{position:absolute;top:0;left:auto;height:100%;cursor:col-resize}
.playful .fp-buffer{-webkit-transition:width .25s linear;-moz-transition:width .25s linear;transition:width .25s linear}
.playful .fp-timeline.no-animation .fp-buffer{-webkit-transition:none;-moz-transition:none;transition:none}
.playful .fp-progress.animated{transition-timing-function:linear;transition-property:width,height}
.playful.is-touch .fp-timeline{overflow:visible}
.playful.is-touch .fp-progress{-webkit-transition:width .2s linear;-moz-transition:width .2s linear;transition:width .2s linear}
.playful.is-touch .fp-timeline.is-dragging .fp-progress{-webkit-transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear;-moz-transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear;transition:right .1s linear,border .1s linear,top .1s linear,left .1s linear}
.playful.is-touch.is-mouseover .fp-progress:after,.playful.is-touch.is-mouseover .fp-progress:before{content:'';display:block;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;position:absolute;right:-5px}
.playful.is-touch.is-rtl.is-mouseover .fp-progress:after,.playful.is-touch.is-rtl.is-mouseover .fp-progress:before{right:auto;left:-5px}
.playful.is-touch.is-rtl.is-mouseover .fp-progress:after{left:-10px;-webkit-box-shadow:-1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:-1px 0 4px rgba(0,0,0,0.5);box-shadow:-1px 0 4px rgba(0,0,0,0.5)}
.playful.is-touch.is-mouseover .fp-progress:before{width:10px;height:10px}
.playful.is-touch.is-mouseover .fp-progress:after{height:10px;width:10px;top:-5px;right:-10px;border:5px solid rgba(255,255,255,0.65);-webkit-box-shadow:1px 0 4px rgba(0,0,0,0.5);-moz-box-shadow:1px 0 4px rgba(0,0,0,0.5);box-shadow:1px 0 4px rgba(0,0,0,0.5)}
.playful.is-touch.is-mouseover .fp-timeline.is-dragging .fp-progress:after{border:10px solid #fff;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;-webkit-transition:inherit;-moz-transition:inherit;transition:inherit;top:-10px;right:-15px}
.playful.is-touch.is-rtl.is-mouseover .fp-timeline.is-dragging .fp-progress:after{left:-15px;right:auto;border:10px solid #fff}
.playful .fp-volume{position:absolute;top:12px;right:12px;}
.has-menu.playful .fp-volume{right:39px}
.is-rtl.playful .fp-volume{right:auto;left:12px}
.is-rtl.has-menu.playful .fp-volume{left:39px}
.playful .fp-mute{position:relative;width:38px;height:20px;float:left;top:-4.5px;cursor:pointer;}
.is-rtl.playful .fp-mute{float:right}
.no-mute.playful .fp-mute{display:none}
.playful .fp-volumeslider{width:75px;height:11px;cursor:col-resize;float:left;}
.is-rtl.playful .fp-volumeslider{float:right}
.no-volume.playful .fp-volumeslider{display:none}
.playful .fp-volumelevel{height:100%}
.playful .fp-time{text-shadow:0 0 1px #000;font-size:11px;font-weight:normal;font-family:'myriad pro',Helvetica,Arial,sans-serif !important;color:#fff;width:100%;}
.playful .fp-time.is-inverted .fp-duration{display:none}
.playful .fp-time.is-inverted .fp-remaining{display:inline}
.playful .fp-time em{width:35px;height:11px;line-height:11px;text-align:center;position:absolute;bottom:11px}
.no-time.playful .fp-time{display:none}
.is-long.playful .fp-time em{width:65px}
.playful .fp-elapsed{left:12px;}
.is-rtl.playful .fp-elapsed{left:auto;right:12px}
.playful .fp-remaining,.playful .fp-duration{right:191px;color:#eee;}
.no-brand.playful .fp-remaining,.no-brand.playful .fp-duration{right:124px;}
.has-menu.no-brand.playful .fp-remaining,.has-menu.no-brand.playful .fp-duration{right:163px}
.no-volume.no-brand.playful .fp-remaining,.no-volume.no-brand.playful .fp-duration{right:62px}
.no-mute.no-brand.playful .fp-remaining,.no-mute.no-brand.playful .fp-duration{right:99px}
.no-mute.no-volume.no-brand.playful .fp-remaining,.no-mute.no-volume.no-brand.playful .fp-duration{right:12px}
.has-menu.playful .fp-remaining,.has-menu.playful .fp-duration{right:230px}
.no-volume.playful .fp-remaining,.no-volume.playful .fp-duration{right:129px}
.no-mute.playful .fp-remaining,.no-mute.playful .fp-duration{right:166px}
.no-mute.no-volume.playful .fp-remaining,.no-mute.no-volume.playful .fp-duration{right:79px}
.is-rtl.playful .fp-remaining,.is-rtl.playful .fp-duration{right:auto;left:191px;}
.no-brand.is-rtl.playful .fp-remaining,.no-brand.is-rtl.playful .fp-duration{left:124px;}
.has-menu.no-brand.is-rtl.playful .fp-remaining,.has-menu.no-brand.is-rtl.playful .fp-duration{left:151px}
.has-menu.is-rtl.playful .fp-remaining,.has-menu.is-rtl.playful .fp-duration{left:218px}
.no-volume.is-rtl.playful .fp-remaining,.no-volume.is-rtl.playful .fp-duration{left:62px}
.no-mute.is-rtl.playful .fp-remaining,.no-mute.is-rtl.playful .fp-duration{left:99px}
.no-mute.no-volume.is-rtl.playful .fp-remaining,.no-mute.no-volume.is-rtl.playful .fp-duration{left:12px}
.playful .fp-remaining{display:none}
.playful.aside-time .fp-time{position:absolute;top:12px;left:12px;bottom:auto !important;width:auto;background-color:#000;background-color:rgba(0,0,0,0.65);height:35px;padding:0 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;line-height:35px;text-align:center;font-size:15px;}
.no-background.playful.aside-time .fp-time{background-color:transparent !important}
.playful.aside-time .fp-time strong,.playful.aside-time .fp-time em{position:static}
.playful.aside-time .fp-time .fp-elapsed::after{content:' / '}
.playful.is-splash,.playful.is-poster{cursor:pointer;}
.playful.is-splash .fp-controls,.playful.is-poster .fp-controls,.playful.is-splash .fp-fullscreen,.playful.is-poster .fp-fullscreen,.playful.is-splash .fp-unload,.playful.is-poster .fp-unload,.playful.is-splash .fp-time,.playful.is-poster .fp-time,.playful.is-splash .fp-embed,.playful.is-poster .fp-embed,.playful.is-splash .fp-title,.playful.is-poster .fp-title,.playful.is-splash .fp-brand,.playful.is-poster .fp-brand{display:none !important}
.playful.is-poster .fp-engine{top:-9999em}
.playful.is-loading .fp-waiting{display:block}
.playful.is-loading .fp-controls,.playful.is-loading .fp-time{display:none}
.playful.is-loading .fp-ui{background-position:-9999em}
.playful.is-loading video.fp-engine{position:absolute;top:-9999em}
.playful.is-seeking .fp-waiting{display:block}
.playful.is-playing{background-image:none !important;background-color:#333;}
.playful.is-playing.hls-fix.is-finished .fp-engine{position:absolute;top:-9999em}
.playful.is-fullscreen{top:0 !important;left:0 !important;border:0 !important;margin:0 !important;width:100% !important;height:100% !important;max-width:100% !important;z-index:99999 !important;-webkit-box-shadow:0 !important;-moz-box-shadow:0 !important;box-shadow:0 !important;background-image:none !important;background-color:#333;}
.is-rtl.playful.is-fullscreen{left:auto !important;right:0 !important}
.playful.is-fullscreen .fp-player{background-color:#333}
.playful.is-error{border:1px solid #909090;background:#fdfdfd !important;}
.playful.is-error h2{font-weight:bold;font-size:large;margin-top:10%}
.playful.is-error .fp-message{display:block}
.playful.is-error object,.playful.is-error video,.playful.is-error .fp-controls,.playful.is-error .fp-time,.playful.is-error .fp-subtitle{display:none}
.playful.is-ready.is-muted .fp-mute{opacity:.7;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70)}
.playful.is-ready.is-muted .fp-mute:before{content:"\e605"}
.playful.is-mouseout .fp-controls,.playful.is-mouseout .fp-title{height:0;-webkit-transition:height .15s .3s;-moz-transition:height .15s .3s;transition:height .15s .3s}
.is-fullscreen.playful.is-mouseout .fp-controls{height:3px;bottom:0}
.playful.is-mouseout .fp-title{overflow:hidden}
.playful.is-mouseout .fp-timeline{margin:0 !important}
.playful.is-mouseout .fp-timeline{-webkit-transition:height .15s .3s,top .15s .3s,margin .15s .3s;-moz-transition:height .15s .3s,top .15s .3s,margin .15s .3s;transition:height .15s .3s,top .15s .3s,margin .15s .3s;height:4px;top:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.playful.is-mouseout .fp-fullscreen,.playful.is-mouseout .fp-unload,.playful.is-mouseout .fp-elapsed,.playful.is-mouseout .fp-remaining,.playful.is-mouseout .fp-duration,.playful.is-mouseout .fp-embed,.playful.is-mouseout .fp-volume,.playful.is-mouseout .fp-play,.playful.is-mouseout .fp-menu,.playful.is-mouseout .fp-brand,.playful.is-mouseout .fp-timeline-tooltip,.playful.is-mouseout.aside-time .fp-time{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);-webkit-transition:opacity .15s .3s;-moz-transition:opacity .15s .3s;transition:opacity .15s .3s}
.playful.is-mouseover .fp-controls,.playful.fixed-controls .fp-controls{height:35px}
.playful.is-mouseover .fp-title,.playful.fixed-controls .fp-title{height:35px}
.playful.is-mouseover .fp-fullscreen,.playful.fixed-controls .fp-fullscreen,.playful.is-mouseover .fp-unload,.playful.fixed-controls .fp-unload,.playful.is-mouseover .fp-elapsed,.playful.fixed-controls .fp-elapsed,.playful.is-mouseover .fp-remaining,.playful.fixed-controls .fp-remaining,.playful.is-mouseover .fp-duration,.playful.fixed-controls .fp-duration,.playful.is-mouseover .fp-embed,.playful.fixed-controls .fp-embed,.playful.is-mouseover .fp-logo,.playful.fixed-controls .fp-logo,.playful.is-mouseover .fp-volume,.playful.fixed-controls .fp-volume,.playful.is-mouseover .fp-play,.playful.fixed-controls .fp-play,.playful.is-mouseover .fp-menu,.playful.fixed-controls .fp-menu{opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.playful.fixed-controls .fp-volume{display:block}
.playful.fixed-controls .fp-controls{bottom:-35px;}
.is-fullscreen.playful.fixed-controls .fp-controls{bottom:0}
.playful.fixed-controls .fp-time em{bottom:-23px;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);}
.is-fullscreen.playful.fixed-controls .fp-time em{bottom:12px}
.playful.is-disabled .fp-progress{background-color:#999}
.playful.is-flash-disabled{background-color:#333;}
.playful.is-flash-disabled object.fp-engine{z-index:100}
.playful.is-flash-disabled .fp-flash-disabled{display:block;z-index:101}
.playful .fp-embed{position:absolute;top:12px;left:auto;right:59px;display:block;width:35px;height:35px;text-align:center;}
.is-rtl.playful .fp-embed{right:auto;left:59px}
.playful .fp-embed-code{position:absolute;display:none;top:10px;right:77px;background-color:#333;padding:3px 5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 0 3px #ccc;-moz-box-shadow:0 0 3px #ccc;box-shadow:0 0 3px #ccc;font-size:12px;}
.is-closeable.playful .fp-embed-code{right:114px}
.playful .fp-embed-code:before{content:'';width:0;height:0;position:absolute;top:2px;right:-10px;border:5px solid transparent;border-left-color:#333}
.is-rtl.playful .fp-embed-code{right:auto;left:77px;}
.is-rtl.playful .fp-embed-code:before{right:auto;left:-10px;border-left-color:transparent;border-right-color:#333}
.playful .fp-embed-code textarea{width:400px;height:16px;font-family:monaco,"courier new",verdana;color:#777;white-space:nowrap;resize:none;overflow:hidden;border:0;outline:0;background-color:transparent;color:#ccc}
.playful .fp-embed-code label{display:block;color:#999}
.playful.is-embedding .fp-embed,.playful.is-embedding .fp-embed-code{display:block;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
.playful.no-time .fp-embed{left:12px !important;}
.is-rtl.playful.no-time .fp-embed{left:auto;right:12px !important}
.playful.is-live .fp-timeline,.playful.is-live .fp-duration,.playful.is-live .fp-remaining{display:none}
.playful .fp-context-menu{position:absolute;display:none;z-index:1001;background-color:#fff;padding:10px;border:1px solid #aaa;-webkit-box-shadow:0 0 4px #888;-moz-box-shadow:0 0 4px #888;box-shadow:0 0 4px #888;width:170px;}
.playful .fp-context-menu li{text-align:center !important;padding:10px;color:#444 !important;font-size:11px !important;margin:0 -10px 0 -10px;}
.playful .fp-context-menu li a{color:#00a7c8 !important;font-size:12.100000000000001px !important}
.playful .fp-context-menu li:hover:not(.copyright){background-color:#eee}
.playful .fp-context-menu li.copyright{margin:0;padding-left:110px;background-image:url("img/flowplayer.png");background-repeat:no-repeat;background-size:100px 20px;background-position:5px 5px;border-bottom:1px solid #bbb;}
@media (-webkit-min-device-pixel-ratio: 2){.playful .fp-context-menu li.copyright{background-image:url("img/flowplayer@2x.png")}
}@-moz-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-webkit-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-o-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@-ms-keyframes pulse{0%{opacity:0}
100%{opacity:1}
}@keyframes pulse{0%{opacity:0}
100%{opacity:1}
}.playful.is-touch.is-mouseover .fp-progress:before{background-color:#00a7c8}
.playful .fp-title{position:absolute;top:12px;left:12px;}
.is-rtl.playful .fp-title{left:auto;right:12px}
.playful .fp-title,.playful .fp-unload,.playful .fp-fullscreen,.playful .fp-embed{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.playful .fp-embed-code{right:99px;}
.is-closeable.playful .fp-embed-code{right:146px}
.is-rtl.playful .fp-embed-code{right:auto;left:99px}
.playful.is-mouseout .fp-menu{display:none}
.playful.is-mouseout .fp-controls{-webkit-transition:none;-moz-transition:none;transition:none;-webkit-animation:functional-controls-hide 1s 1;-moz-animation:functional-controls-hide 1s 1;animation:functional-controls-hide 1s 1}
.playful.is-mouseout .fp-timeline{-webkit-transition:none;-moz-transition:none;transition:none}
.playful.is-mouseout .fp-volume,.playful.is-mouseout .fp-brand,.playful.is-mouseout .fp-play,.playful.is-mouseout .fp-time{-webkit-transition:none;-moz-transition:none;transition:none;opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
.playful.fixed-controls .fp-elapsed,.playful.fixed-controls.is-mouseover .fp-elapsed{left:59px}
.playful.fixed-controls .fp-controls,.playful.fixed-controls.is-mouseover .fp-controls{bottom:-35px;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;left:0;right:0;}
.playful.fixed-controls .fp-controls .fp-play,.playful.fixed-controls.is-mouseover .fp-controls .fp-play{left:12px}
.playful.fixed-controls .fp-controls .fp-timeline,.playful.fixed-controls.is-mouseover .fp-controls .fp-timeline{margin-left:106px;}
.is-long.playful.fixed-controls .fp-controls .fp-timeline,.is-long.playful.fixed-controls.is-mouseover .fp-controls .fp-timeline{margin-left:136px}
.playful.is-mouseover .fp-controls{bottom:12px;left:59px;right:12px;width:auto;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.is-rtl.playful.is-mouseover .fp-controls{left:12px;right:59px}
.playful.is-mouseover .fp-controls .fp-play{left:-47px;display:block;background-color:#000;background-color:rgba(0,0,0,0.65);width:35px;height:35px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.is-rtl.playful.is-mouseover .fp-controls .fp-play{left:auto;right:-47px}
.playful.is-mouseover .fp-controls .fp-timeline{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.playful.is-mouseover .fp-controls .fp-timeline .fp-progress,.playful.is-mouseover .fp-controls .fp-timeline .fp-buffer{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.playful.is-mouseover .fp-controls .fp-menu .fp-dropdown{bottom:41px;left:auto;right:-12px;}
.is-rtl.playful.is-mouseover .fp-controls .fp-menu .fp-dropdown{right:auto;left:-12px}
.playful.is-mouseover .fp-controls .fp-menu .fp-dropdown:before{display:none}
.playful.is-mouseover .fp-controls li{border-color:#000;}
.playful.is-mouseover .fp-controls li.active{border-color:#00a7c8}
.playful.is-mouseover .fp-controls li:last-child:before{content:'';display:block;position:absolute;bottom:-5px;width:0;height:0;right:12px;border-bottom:none;border-top-width:5px;border-top-style:solid;border-top-color:inherit;border-left:5px solid transparent;border-right:5px solid transparent;}
.is-rtl.playful.is-mouseover .fp-controls li:last-child:before{right:auto;left:12px}
.playful .fp-elapsed,.playful.play-button .fp-elapsed{left:71px;}
.is-rtl.playful .fp-elapsed,.is-rtl.playful.play-button .fp-elapsed{right:71px;left:auto}
.playful .fp-time em{bottom:23px}
@-moz-keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-webkit-keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-o-keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@-ms-keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}@keyframes functional-controls-hide{0%{opacity:0;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0)}
100%{bottom:0;right:0;left:0;opacity:1;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100)}
}.playful .fp-controls,.playful .fp-title,.playful .fp-embed,.playful .fp-play,.playful .fp-fullscreen,.playful .fp-close,.playful.aside-time .fp-time{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(136,136,136,0.85)),to(rgba(0,0,0,0.85)));background-image:-webkit-linear-gradient(top,rgba(136,136,136,0.85),rgba(0,0,0,0.85));background-image:-moz-linear-gradient(top,rgba(136,136,136,0.85),rgba(0,0,0,0.85));background-image:-o-linear-gradient(top,rgba(136,136,136,0.85),rgba(0,0,0,0.85));background-image:linear-gradient(to bottom,rgba(136,136,136,0.85),rgba(0,0,0,0.85));color:#eee !important;}
.playful .fp-controls:before,.playful .fp-title:before,.playful .fp-embed:before,.playful .fp-play:before,.playful .fp-fullscreen:before,.playful .fp-close:before,.playful.aside-time .fp-time:before{color:#eee}
.playful .fp-dropdown{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.playful .fp-dropdown li:last-child{-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}
.playful .fp-fullscreen:before,.playful .fp-unload:before,.playful .fp-mute:before,.playful .fp-embed:before,.playful .fp-close:before,.playful .fp-play:before,.playful .fp-menu:before{vertical-align:-2px}
.playful .fp-controls .fp-menu{bottom:3px;}
.is-mouseover.playful .fp-controls .fp-menu .fp-dropdown{bottom:36px}
.playful .fp-volumeslider{height:8px;margin-top:1px;margin-left:2px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.playful .fp-volumeslider .fp-volumelevel{-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px}
.playful .fp-mute{top:-9.5px;}
.playful .fp-mute:before{content:"\e60c";vertical-align:0;}
.is-muted.is-ready.playful .fp-mute:before{content:"\e60c";color:#ccc}
.playful .fp-mute:after{content:'';background-color:#9ebb11;width:6px;height:6px;display:block;position:absolute;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;right:2px;top:11px;}
.is-muted.playful .fp-mute:after{background-color:#f00}
