<head>
	<!-- player styling -->
   <link rel="stylesheet" type="text/css" href="flowplayer/skin/minimalist.css">

</head>

<body>

   <!-- player 1 -->
   <div class="flowplayer" style="width: 50%;">
      <video src="2.mp4"></video>
   </div>
<!-- flowplayer depends on jQuery 1.7.1+ (for now) -->
   <script type="text/javascript" src="../js/jquery.js"></script>

   <!-- flowplayer.js -->
   <script type="text/javascript" src="flowplayer/flowplayer.min.js"></script>
</body>