// MIXINS

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

animation()
	vendor('animation', arguments)

border-radius()
	vendor('border-radius', arguments)

border-top-radius() 
	vendor('border-top-left-radius', arguments)
	vendor('border-top-right-radius', arguments)

border-top-radius() 
	vendor('border-bottom-left-radius', arguments)
	vendor('border-bottom-right-radius', arguments)

-linear-gradient(start_color, end_color, start = left top, end = left bottom)
	mozstart = top if start = left top
	background start_color
	background -moz-linear-gradient(mozstart, start_color 0%, end_color 100%)
	background -webkit-gradient(linear, start, end, color-stop(0%, start_color), color-stop(100%, end_color))
	-webkit-background-origin padding-box

background-clip()
	vendor('background-clip', arguments)

box-shadow() 
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box(orient, pack, align) 
	display -webkit-box
	display -moz-box
	display box
	vendor('box-orient', orient)
	vendor('box-pack', pack)
	vendor('box-align', align)
	vendor('box-lines', multiple)

box_flex()
	vendor('box-flex', arguments)

text-fill-color()
	vendor('text-fill-color', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

opacity()
	vendor('opacity', arguments)

absolute-center()
	position absolute
	left 0
	right 0
	margin-left auto
	margin-right auto

arrow-up(border_width, border_color)
	width 0
	height 0
	border-left border_width solid transparent
	border-right border_width solid transparent
	border-bottom border_width solid border_color

arrow-down(border_width, border_color)
	width 0
	height 0
	border-left border_width solid transparent
	border-right border_width solid transparent
	border-top border_width solid border_color

arrow-right(border_width, border_color)
	width 0
	height 0
	border-top border_width solid transparent
	border-bottom border_width solid transparent
	border-left border_width solid border_color

arrow-left(border_width, border_color)
	width 0
	height 0
	border-top border_width solid transparent
	border-bottom border_width solid transparent
	border-right border_width solid border_color