@import "https://fonts.googleapis.com/css?family=Open+Sans:400,300"
@import "mixins.styl"
@import "font-awesome.min.css"
@import "owl.carousel.css"
/*@import "owl.theme.css"*/
@import "owl.transitions.css"
@import "animate.min.css"
@import "variables.styl"

nav-color		= #17232a
nav-sub-color	= #026d63
nav-blue		= #5299d3
site-color		= #0e161a
nav-text-color	= #ffffff
ran-color-1		= #f04e23
ran-color-2		= #f58220
ran-color-3		= #007ec3
ran-color-4		= #fcaf17
ran-color-5		= #8dc63f
ran-color-6		= #00a649
ran-color-7		= #1d7d64
ran-color-8		= #43505a
ran-color-9		= #193059

body
	font-family "Open Sans"
	font-size 16px
	line-height 1.2
.navbar-dark
	background-color nav-color
	border-color #080808
	min-height 60px
	margin-bottom 0
	border-radius 0
.navbar-dark .navbar-brand
	color nav-text-color
	//background-color nav-blue
	padding 5px
	height 60px
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus
	color nav-sub-color
.navbar-dark .navbar-brand > img
	height 50px
.navbar-dark .navbar-text
	color nav-text-color
.navbar-dark .navbar-nav > li > a
	font-weight bold
	color nav-text-color
	text-transform uppercase
	outline none
.navbar-dark .navbar-nav > li > a:hover,
.navbar-dark .navbar-nav > li > a:focus
	color nav-sub-color
	background-color transparent
.navbar-dark .navbar-nav > li > a:focus
	color #ffffff
.navbar-dark .navbar-nav > .active > a,
.navbar-dark .navbar-nav > .active > a:hover,
.navbar-dark .navbar-nav > .active > a:focus
	color nav-sub-color
.navbar-dark .navbar-nav > .disabled > a,
.navbar-dark .navbar-nav > .disabled > a:hover,
.navbar-dark .navbar-nav > .disabled > a:focus
	color #444
	background-color transparent
.navbar-dark .navbar-toggle
	border-color #333
.navbar-dark .navbar-toggle:hover,
.navbar-dark .navbar-toggle:focus
	background-color #333
.navbar-dark .navbar-toggle .icon-bar
	background-color nav-sub-color
.navbar-dark .navbar-collapse,
.navbar-dark .navbar-form
	border-color #101010
.navbar-dark .navbar-nav > .open > a,
.navbar-dark .navbar-nav > .open > a:hover,
.navbar-dark .navbar-nav > .open > a:focus
	color nav-sub-color
	background-color #080808
.min-height-500
	min-height 500px
@media (max-width: 767px)
	.navbar-dark .navbar-nav .open .dropdown-menu > .dropdown-header
		border-color #080808
	.navbar-dark .navbar-nav .open .dropdown-menu .divider
		background-color #080808
	.navbar-dark .navbar-nav .open .dropdown-menu > li > a
		color nav-text-color
	.navbar-dark .navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-dark .navbar-nav .open .dropdown-menu > li > a:focus
		color nav-sub-color
		background-color transparent
	.navbar-dark .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-dark .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-dark .navbar-nav .open .dropdown-menu > .active > a:focus
		color nav-sub-color
		background-color #080808
	.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-dark .navbar-nav .open .dropdown-menu > .disabled > a:focus
		color #444
		background-color transparent
.navbar-dark .navbar-link
	color nav-text-color
.navbar-dark .navbar-link:hover
	color nav-sub-color
.navbar-dark .btn-link
	color nav-text-color
.navbar-dark .btn-link:hover,
.navbar-dark .btn-link:focus
	color nav-sub-color
.navbar-dark .btn-link[disabled]:hover,
fieldset[disabled] .navbar-dark .btn-link:hover,
.navbar-dark .btn-link[disabled]:focus,
fieldset[disabled] .navbar-dark .btn-link:focus
	color #444
.navbar-dark .navbar-nav>li>a
	padding-top 20px
	padding-bottom 20px
.pr
	position relative
.feature-image
	display table
	width 100%
	&.feature-slider
		display block
		position relative
.feature-image-section-1
	background url('../img/section-new.jpg') no-repeat
	background-size cover
	background-position center center
.feature-image-section-2
	background url('../img/section-2.jpg') no-repeat
	background-size cover
	background-position center top
	background-color site-color
	border-top 2px solid nav-sub-color
.feature-image-section-3
	background-color site-color
.feature-image-section-4
	background url('../img/section-4.jpg') no-repeat
	background-size cover
	background-position center left
.feature-image-section-5
	background url('../img/section-5.jpg') no-repeat
	background-size cover
	background-position center right
.feature-image-section-general
	background-color #ccc
	background-position center top
	padding 20px 0
.feature-image
	&.feature-lg
		.content
			padding-top 250px
			padding-bottom 250px
			max-width 900px
			margin 0 auto
		.shadow-content
			&>*
				background rgba(0,0,0,0.7)
				max-width 700px
				margin 0 auto
				padding 10px
				border-radius(10px)
		h1
			font-size 48px
			font-weight 300
		h2
			font-size 32px
			font-weight 300
			margin-bottom 30px
			@media(min-width 768px)
				font-size 60px
					
		.lead
			font-size 22px
			line-height 1.8
			font-weight 300
			max-width 700px
			margin 0 auto
		&.feature-image-section-1
			.content
				padding-top 200px
			h2
				margin-bottom 80px
				@media (min-width: 1600px)
					margin-bottom 100px
			h3
				font-size 36px
				line-height 1.4
				margin-top 0
				margin-bottom 30px
		&.feature-image-section-3
			h3
				font-size 44px
			h3:first-child
				margin-bottom 40px
	&.feature-sm
		.content
			padding-top 100px
			padding-bottom 100px
		h2
			font-size 48px
			font-weight 300
			margin-bottom 30px
		.lead
			font-size 18px
			line-height 1.5
			font-weight 300
	.content
		color white
	.feature-content-section-4,.feature-content-section-5
		text-align center
		.content
			padding-left 20px
			padding-right 20px
			display inline-block
			text-align left
	.feature-content-section-4
		background-color #49494B
		h2
			margin-bottom 40px
		h3
			font-size 30px
			font-weight bold
	.feature-content-section-5
		background-color #33B9B0
.feature-slider
	.container-fluid
		padding 0 50px
.min-height-400
	min-height 400px
.mb20
	margin-bottom 20px
@media screen and (min-width: 768px)
	.col-2
		float left
		width 50%
#sync1
	position static
	.item
		padding 30px 0px
		margin 5px
		text-align center
		-webkit-border-radius 3px
		-moz-border-radius 3px
		border-radius 3px
	.item-content
		padding 40px
		h3
			font-size 45px
			margin-bottom 30px
			color nav-color
		.desc
			margin-bottom 2em
			text-align left
			line-height 1.8
			color #333
	img
		box-shadow 0 0 10px 0 #a3adbd
		border-radius 5px
		transform scale(0.5)
	.owl-buttons
		div
			position absolute
			top 40%
			font-size 40px
			color nav-color
			border-radius 50%
			width 50px
			height 50px
			padding 0 7px
			&:hover
				color #ffffff
				background-color nav-color
			.fa
				width 36px
				height 40px
		.owl-prev
			left 20px
		.owl-next
			right 20px
#sync2
	.item
		position relative
		padding 10px 0px
		margin 5px
		-webkit-border-radius 3px
		-moz-border-radius 3px
		border-radius 3px
		text-align center
		cursor pointer
		height 120px
		.connector
			content ''
			position absolute
			height 2px
			width 0
			top 32%
			left -35%
			background #a3adbd
			z-index 0
			-webkit-transition 0.3s
			transition 0.3s
		a
			color #f8f8f8
		h1
			font-size 18px
	.synced
		&.active
			&:first-child
				.icon-round
					background-color ran-color-1
			&:nth-child(2)
				.icon-round
					background-color ran-color-2
			&:nth-child(3)
				.icon-round
					background-color ran-color-3
			&:nth-child(4)
				.icon-round
					background-color ran-color-4
			&:nth-child(5)
				.icon-round
					background-color ran-color-5
			&:nth-child(6)
				.icon-round
					background-color ran-color-6
			&:nth-child(7)
				.icon-round
					background-color ran-color-7
			&:nth-child(8)
				.icon-round
					background-color ran-color-8
			&:nth-child(9)
				.icon-round
					background-color ran-color-9
		&:first-child
			.icon-round
				background-color lighten(ran-color-1, 50%)
		&:nth-child(2)
			.icon-round
				background-color lighten(ran-color-2, 50%)
		&:nth-child(3)
			.icon-round
				background-color lighten(ran-color-3, 50%)
		&:nth-child(4)
			.icon-round
				background-color lighten(ran-color-4, 50%)
		&:nth-child(5)
			.icon-round
				background-color lighten(ran-color-5, 50%)
		&:nth-child(6)
			.icon-round
				background-color lighten(ran-color-6, 50%)
		&:nth-child(7)
			.icon-round
				background-color lighten(ran-color-7, 50%)
		&:nth-child(8)
			.icon-round
				background-color lighten(ran-color-8, 50%)
		&:nth-child(9)
			.icon-round
				background-color lighten(ran-color-9, 50%)
		.icon-round
			box-shadow 0 0 0 2px white, 0 0 0 3px #a3adbd !important
			color #ffffff
			.fa
				color #ffffff
	.icon-round
		margin auto
		margin-bottom 10px
		padding 12px 9px
		font-size 18px
		height 60px
		width 60px
		text-align center
		background white
		border-radius 50%
		box-shadow 0 0 0 2px nav-color
		&:hover
			box-shadow 0 0 0 1px #a3adbd, 0 0 0 2px white, 0 0 0 3px #a3adbd !important
		.fa
			color nav-color
			width 42px
			height 36px
			font-size 32px
	.product-label
		color site-color
		font-size 14px
.btn-color1
	background-color site-color
	color #ffffff
.mt-75
	margin-top 75px
.pad20
	padding 20px
.pad-content
	padding 100px 0
	p
		line-height 1.5
.pad-content-sm
	padding 50px 0
/* Gradient color1 - color2 - color1 */
hr.style-one
	border 0
	height 1px
	background #333
	background-image linear-gradient(to right, #ccc, #333, #ccc)

/* Gradient transparent - color - transparent */
hr.style-two
	border 0
	height 1px
	background-image linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))

/* Double-color dashed line */
hr.style-three
	border 0
	border-bottom 1px dashed #ccc
	background #999

/* Single-direction drop shadow */
hr.style-four
	height 12px
	border 0
	box-shadow inset 0 12px 12px -12px rgba(0, 0, 0, 0.5)

/* Cloud */
hr.style-five
	border 0
	height 0 /* Firefox... */
	box-shadow 0 0 10px 1px black
hr.style-five:after  /* Not really supposed to work, but does */
	content "\00a0"  /* Prevent margin collapse */

/* Inset, by Dan Eden */
hr.style-six
	border 0
	height 0
	border-top 1px solid rgba(0, 0, 0, 0.1)
	border-bottom 1px solid rgba(255, 255, 255, 0.3)

/* Flaired edges, by Tomas Theunissen */
hr.style-seven
	height 30px
	border-style solid
	border-color black
	border-width 1px 0 0 0
	border-radius 20px
hr.style-seven:before /* Not really supposed to work, but does */
	display block
	content ""
	height 30px
	margin-top -31px
	border-style solid
	border-color black
	border-width 0 0 1px 0
	border-radius 20px

/* Glyph, by Harry Roberts */
hr.style-eight
	padding 0
	border none
	border-top medium double #333
	color #333
	text-align center
hr.style-eight:after
	content "§"
	display inline-block
	position relative
	top -0.7em
	font-size 1.5em
	padding 0 0.25em
	background white
.icon-round
	width 120px
	height 120px
	display table
	border-radius(50%)
	.fa
		display table-cell
		vertical-align middle
		font-size 48px
.bg-nav-color
	background-color nav-color
.bg-nav-sub-color
	background-color nav-sub-color
.bg-site-color
	background-color site-color
.nav-text-color
	color nav-text-color
.bg-nav-color
	background-color nav-color
.bg-trans-bg
	background-color #262626
.main-body
	padding-top 50px
	padding-bottom 135px
.trans-control
	background trans-white-bg-light
	border none
	color white
	option
		color grey-8
.form-3d.signup
	padding 70px 80px 45px
	color darken(grey-10, 30%)
	box-shadow(0px 50px 50px 0px trans-bg)
	border-radius(4px)
	font-family Georgia,sans-serif
	background-image url('../img/students.jpg')
	.form-title
		color white
		display inline-block
		text-transform uppercase
		border-bottom 2px solid sub-color
		margin-bottom 90px
		padding-bottom 5px
	.form-control
		font-size 16px
		height 36px
	label, small
		font-weight 300
		a
			font-size 85%
.btn-color2
	color grey-1
	background-color sub-color
	border-color sub-color
.btn-color2:focus,
.btn-color2.focus
	color grey-1
	background-color sub-color-shade
	border-color sub-color
.btn-color2:hover
	color grey-1
	background-color sub-color-shade
	border-color sub-color
.btn-color2:active,
.btn-color2.active
	color grey-1
	background-color sub-color-shade
	border-color sub-color
.btn-color2:active:hover,
.btn-color2.active:hover,
.btn-color2:active:focus,
.btn-color2.active:focus,
.btn-color2:active.focus,
.btn-color2.active.focus,
	color grey-1
	background-color sub-color-shade
	border-color sub-color
.btn-color2:active,
.btn-color2.active
	background-image none
footer
	&.footer-dark
		background-color nav-color
		border-color #080808
		padding-top 30px
		min-height 60px
		margin-bottom 0
		border-radius 0
	.footer-nav-menu
		display inline-block
		margin-bottom 30px
		color #ffffff
		h4
			margin-bottom 20px
			text-align left
		li
			margin-bottom 10px
			text-align left
			a
				color #026d63
				transition(1s)
				&:hover
					text-decoration none
					font-weight bold
	p
		margin-top 15px
		color #ffffff
@media (min-width: 992px)
	#sync2 .item .connector
		left -22%
	#sync2 .synced .connector
		width 34%
@media (min-width: 1200px)
	#sync2 .item .connector
		left -31%
	#sync2 .synced .connector
		width 54%
	.feature-slider
		.container-fluid
			padding 0 100px
			max-width 1600px