.site-body
	width 100%
	height 100%
	min-height 100vh
	position relative
	text-align center
	background url(../images/site-bg.jpg) no-repeat center center/cover

.site-header
	margin 50px 0

.bg-white
	background-color #ffffff
	padding 20px

.offers
	font-size 24px
	font-weight bold

	/* If we weren't using text-shadow, we'd set a fallback color
	 and use this to set color instead
	-webkit-text-fill-color: white; */
	color #ffffff
	text-shadow 3px 3px 0 #006eb1, -1px -1px 0 #006eb1, 1px -1px 0 #006eb1, -1px  1px 0 #006eb1, 1px  1px 0 #006eb1
	
.site-pad
	min-height 200px
	background-color #f4f4f4
	border-radius 10px
	box-shadow 0 0 10px 1px #000

.site-qa
	padding 20px
.question
	text-align left
	font-size 20px
	margin-bottom 25px
.list-answer
	width 100%
	display inline-block
	li
		text-align left
		float left
		width 50%
		min-height 50px
		a
			font-weight normal