.big-green {
    border-radius: 10px;
    padding: 5px;
    background: #000924;
    border: 1px solid #111;
    box-shadow: 0 2px 3px #333;
    width: 250px
}

.big-green div {
    background: #1cc300 url(type_4.gif) top right;
    border-radius: 6px;
    box-shadow: 0 5px 5px #ccc inset;
    text-align: center;
    overflow: hidden;
    width: 0px;
    height: 15px;
    color: white;
    font-weight: bold;
}