﻿

.custom_button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
.form-group i {
    color: #FF0000;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.form_bg
{
    background-color:#fafafa;
    padding:20px;
}

p a
{
   color: #30b507;
}

.color_blue
{
   color:#0072c5;
}
.margin_top_5
{
    margin-top:5px;
}
.margin_top_10
{
    margin-top:10px;
}
.margin_top_15
{
    margin-top:15px;
}
.margin_top_25
{
    margin-top:25px;
}
.margin_top_40
{
    margin-top:100px;
}
.margin_top_50
{
    margin-top:50px;
}
.margin_top_60
{
    margin-top:60px;
}
.margin_top_90
{
    margin-top:90px;
}


.btn-width{
    padding-left:40px;
    padding-right:40px;
}

/****
	@fraazhashmi
****/
input.ng-invalid.ng-dirty{
	border: solid 1px red;
}
.popup-error {
	position: fixed;
	top: 110px;
	right: 10px;
	z-index: 9999;
	background-color: #000;
	color: #fff;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 5px 6px 9px 0px #ccc;
}
.popup-error > div {
	border-bottom: 1px solid #fff;
}
/* code for datepicker disabled dates */
.datepicker td.day.disabled {
	color: #eee;
}
.datepicker td.day.disabled:hover {
	background-color: #e2e2e2;
}
#mapContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  overflow: hidden;
  z-index: 1100;
  background-color: rgba(0,0,0,0.8);
  color: #f0f0f0;
  border: 0px;
}
#mapview {
  position: absolute;
  background-color: rgb(255,255,255);
  padding: 10px;
  color: #303030;
  border-radius: 10px;
}


