/* Space out content a bit */
body {
  /*padding-top: 20px;
  padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fdfdfd;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  padding-bottom: 10px;
	
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1024px) {
  .container {
    /*max-width: 960px;*/
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
	margin-top: 50px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Custom*/
.wall-image{
	height: 350px;
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px;
}
.wall-image img{
	max-width: 100%;
}

.modal-dialog{
	margin-top: 100px;
}
.modal-content{
	background-color: #FDFDFD;
}
.modal-header {
	background-color: #e5e5e5;
}
.modal-body{
	border: none;
}

.main-menu{
	margin-top: 7px;
}

.main-menu li a{
	color: #000;
	cursor:pointer;
}
.main-menu li a:hover{
	background-color: transparent;
	text-decoration: underline;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}