/* THEME */
@body-background: #f5f5f5;

@base-background: #33414E;
@base-background-active: #273541;

/* TEXT COLORS */
@base-color: #656D78;
@base-heading-color: #434A54;
/* END TEXT COLORS */
    
    @theme-color: #33414E;
    
    /* BASE ELEMENT COLORs */
    @base-primary: #33414E;
    @base-success: #95B75D;
    @base-info: #3FBAE4;
    @base-warning: #FEA223;
    @base-danger: #B64645;
    /* EOF BASE ELEMENT COLORs */
        
    /* START X-NAVIGATION */
    @xn-background: @base-background;
    @xn-background-active: @base-background-active;
        @xn-background-logo: #FFFFFF;//#E34724;
        
    @xn-color: #FFF;
    @xn-color-sub: #CCC;
        @xn-icon-color: @xn-color;
        @xn-icon-color-hover: #FFD559;
        @xn-submenu-width: 220px;        

    @xn-horizontal-background: @base-background;
        @xn-horizontal-background-hover: lighten(@xn-horizontal-background,5%);
        
        @xn-horizontal-color: @xn-color;
            @xn-horizontal-icon: @xn-color;
            @xn-horizontal-icon-hover: #FFD559;
    /* END X-NAVIGATION */    
    
    /* START WIDGETS */
        @widget-primary: @base-primary;                
        @widget-success: @base-success;
        @widget-info: @base-info;
        @widget-warning: @base-warning;                
        @widget-danger: @base-danger;
    /* END WIDGETS */
    
    /* COMMENTS */
    @bg-comments: #eff7ff;
    /* END COMMENTS */
    
/* EOF THEME */