.no-margin
	margin 0 !important
.link-no-style
	color inherit
	&:hover
		color inherit
		text-decoration none
.min-height-400
	min-height 400px
.min-height-500
	min-height 500px
.min-height-700
	min-height 700px
.page-title
	margin-top 20px
	margin-left 20px
.page-quick-sidebar-wrapper .page-quick-sidebar .list-heading
	color inherit
.page-quick-sidebar-wrapper .page-quick-sidebar .page-quick-sidebar-chat .page-quick-sidebar-chat-users .media-list .media .media-body .media-heading
	width 75%
	text-overflow ellipsis
	overflow hidden
	white-space nowrap
.page-footer .page-footer-inner
	float none
#slickQuiz
	padding 20px
	.quizDescription
		margin-bottom 20px
	.questions
		padding 0
	.question
		background-color #f1f1f1
		padding 20px
		min-height 250px
	.answers,.responses
		min-height 150px