@import "mixins.styl"
color-1 = #17C4BB
color-2 = #26344B

.min-height-300
	min-height 300px
.min-height-400
	min-height 400px
.min-height-500
	min-height 500px
.min-height-700
	min-height 700px
.pad-20
	padding 20px
.p-b-0
	padding-bottom 0px
.padding-left-20
	padding-left 20px !important
.mt-50
	margin-top 50px
.mb-10
	margin-bottom 10px
.wd-200
	width 200px !important
.bg-grey-dark
	background-color #34495e
.page-header.navbar
	.page-logo
		width 105px
		background-color #1f2b3d
		.logo-default
			margin 5px 0 0
			height 58px
	.top-menu
		.navbar-nav
			&>li.quick-sidebar-toggler
				&>a
					padding 0
			&>li.dropdown-notification
				.dropdown-menu-list>li>a
					position relative
				.message
					width 55%
					white-space nowrap
					overflow hidden
					position absolute
					text-overflow ellipsis
.page-footer
	.page-footer-inner
		float none
		a
			font-weight bold
.text-overflow
	text-overflow()
.label.label-icon
	padding-right 4px
.cursor-pointer
	cursor pointer
.no-margin
	margin 0 !important
.no-padding
	padding 0 !important
.mt-clear
	margin-top 0
.ml-20
	margin-left 20px !important
.dib
	display inline-block
.w-60
	width 60px !important
.smiley
	display inline-block
	width 32px !important
	height 27px !important
.portlet-body
	&.portlet-body-sm
		padding 5px 15px !important
.mt-widget-1
	.mt-img>img
		max-height 80px
		max-width 100%
	&.mt-special
		.mt-body
			.mt-stats
				.btn-group
					.btn
						background-color inherit
						&:hover
							background-color #c49f47
.mt-widget-2
	border 0
	padding 4px 0
	border-radius 0
	box-shadow(0 0 8px 0px rgba(0,0,0,0.5))
	margin-bottom 30px
	.mt-head
		.mt-head-user
			.mt-head-user-info
				width 40%
				text-overflow()
				.mt-user-name
					text-overflow()
	.mt-body
		background-color white
		.mt-body-title
			width 90%
			margin-left auto
			margin-right auto
			margin-top 100px
			line-height 1.4
			text-overflow()
		.mt-body-description
			width 90%
			margin-left auto
			margin-right auto
			margin-top 0
			margin-bottom 10px
			text-overflow()
.portlet.light.portlet-fit.portal-subjects
	&>.portlet-body
		padding-bottom 0
.mt-widget-4
	position relative
	margin-top 10px
	margin-bottom 10px
	height 250px
	display block
	.mt-container
		right 0px
		.mt-body-icons>a
			.count
				margin-left 3px
	.mt-img-container
		height 250px
		overflow hidden
		border 1px solid #869ab3
		img
			height auto
			//min-height 250px
			absolute-top-center()
	.image
		position relative
		width 100%
		height 250px
		display inline-block
		overflow hidden
		h4
			text-align center
			height 90px
			width 100%
			font-weight 700
			text-transform uppercase
			absolute-top-center()
			.fa
				font-size 64px
				line-height 1
				display block
				margin-bottom 5px
	&:hover
		.mask
			display inline-block
	.mask
		display none
		width 100%
		height 100%
		position absolute
		left 0
		top 0
		background-color rgba(0,0,0,0.5)
	.actions
		color #ffffff
		absolute-center()
		absolute-top-center()
		height 34px
.mt-actions
	.mt-action
		&.disabled
			.mt-action-body
				.mt-action-row
					.mt-action-info
						.mt-action-icon>i
							color #999b9b
						.mt-action-details
							.mt-action-author
								color #999b9b
					.mt-action-datetime
						.mt-action-dot
							background-color #999b9b !important
			.mt-action-img>img
				desaturate()
		.mt-action-img>img
			max-width 100%
.mt-comments
	.mt-comment
		&.disabled
			.mt-comment-body
				.mt-comment-info
					.mt-comment-author
						color #999
				.mt-comment-details
					.chat-button
						color #999
			.mt-comment-img>img
				desaturate()
		.mt-comment-img>img
			max-width 100%
.timeline
	&.list-timeline
		.timeline-icon
			padding 15px 15px
			text-align center
			span
				font-size 48px
				font-weight bold
				line-height 1
.dashboard-stat.stat-sm
	.details
		.number
			font-size 20px
.dashboard-stat-v2.dashboard-stat-sm
	.visual
		width 40px
		height 40px
		padding-top 24px
		&>i
			margin-left -30px
			font-size 75px
			line-height 75px
	.details
		.number
			padding-top 12px
.panel-result
	.question
		p
			margin-top 0
			margin-bottom 10px
	.answer-status
		margin 10px 0
		.fa
			font-size 24px
.questions-panel
	.dashboard-stat2
		.number
			float none
	.answer
		.well
			height 200px
			overflow auto
			&.well-sm
				height 100px
.marks-dis
	th, td
		font-size 18px
		vertical-align middle !important
.marks-dis .q-even
	background-color #f6f6f6
.actions-graph
	padding-bottom 12px !important
.portlet>.portlet-title>.tools>a.delete
	background-image url("../img/portlet-remove-icon.png")
	background-repeat no-repeat
	width 11px
.portlet-course
	.sparkline-chart
		margin-top 0
	.btn
		margin-bottom 3px
.ar-widget-1
	.preview
		position relative
		display inline-block
		width 100%
		.image
			position relative
			width 100%
			height 200px
			display inline-block
			overflow hidden
			img
				position absolute
				height 100%
				absolute-center()
			h4
				text-align center
				height 90px
				width 100%
				font-weight 700
				text-transform uppercase
				absolute-top-center()
				.fa
					font-size 64px
					line-height 1
					display block
					margin-bottom 5px
		&:hover
			.mask
				display inline-block
		.mask
			display none
			width 100%
			height 100%
			position absolute
			left 0
			top 0
			background-color rgba(0,0,0,0.5)
		.actions
			color #ffffff
			absolute-center()
			absolute-top-center()
			height 34px
.course-sidebar
	.course-sidebar-portlet
		padding 0
.rate-reviews
	h4
		padding-bottom 5px
		font-weight 400
		border-bottom-style double
		border-bottom-color #eeeeee
	.text-warning
		font-size 78px
.list-rates
	li
		position relative
	.item-title,.item-count
		position absolute
		top 0
	.item-title
		left 0
	.item-count
		right 0
	.progress
		margin-left 60px
		margin-right 20px
.comments
	.comment-item
		border-bottom 1px solid #e1e1e1
		padding-top 25px
		padding-bottom 15px
		&:first-child
			border-top 1px solid #e1e1e1
	.user-block
		width 100%
		position relative
		min-height 80px
	.user-avatar
		position absolute
		width 60px
		height 60px
		overflow hidden
		img
			width 100%
	.user-name
		font-weight bold
		margin-left 70px
	.rating-xs
		font-size 1.2em
		.star
			margin 0 1px
	.rating-container
		display inline-block
	.subject
		font-weight bold
	h4
		font-size 16px
		font-weight bold
	p
		margin-top 0
		margin-bottom 10px
.input-group-3
	input.form-control
		width 100%
	select.form-control
		width 100%
	.btn
		width 100%
.ar-widget-2
	overflow hidden
	margin-bottom 20px
	ul
		display inline-block
		li
			white-space nowrap
			font-size 12px
.select2-dip
	.ms-container
		display inline-block
.list-sections
	.dd-item
		position relative
		&>button
			display none
		.collapsible
			&.collapsed
				.fa
					&:before
						content "\f150"
			.fa
				font-size 22px
				&:before
					content "\f151"
	.dd-handle
		height auto
		padding 10px
		font-size 16px
		&>.btn-sm
			position absolute
			top 7px
			right 7px
	hr
		border-top 1px solid #bbbbbb
	h3
		font-size 30px
		margin-top 0
		margin-bottom 18px
	p
		font-size 16px
		margin-bottom 0
	.downloadable
		margin 0
	.list-group
		margin-bottom 0
.list-additional
	margin-top 10px
	padding-top 10px
	border-top 1px solid #bbbbbb
	h4
		margin-top 0
.portlet-form
	.mt-radio-inline
		padding 10px 0 9px
		.mt-radio
			margin-bottom 0
.mt-element-list .list-default.ext-1.mt-list-container ul>.mt-list-item
	&.sub-question
		margin-left 25px
	&.done:hover,&.active
		background-color #96ebc8
.panel-questions
	.alert
		border-top 1px solid #c1c1c1
	label
		text-transform uppercase
		display block
		font-weight bold
.table
	.input-group-btn
		.btn
			margin-right initial
.coursepic
	position relative
	.btn
		position absolute
		right 10px
		top 10px
.table>.tfoot-sm>tr>td, .table>.tfoot-sm>tr>th
	padding 10px 8px
.mt-element-list-sm
	.list-default.ext-1.mt-list-container
		.mt-list-title
			padding 0 5px 5px
			font-size 14px
		ul>.mt-list-item>.list-item-content
			&>h3
				font-size 12px
			&>p
				font-size 11px
		ul>.mt-list-item>.list-icon-container
			width 30px
			height 30px
.table
	.label
		display inline-block
		margin-bottom 5px
.list-smileys
	.btn
		width 64px
		height 54px
.widget-row-sm
	.widget-thumb
		padding 10px
		.widget-thumb-wrap .widget-thumb-icon
			width 40px
			height 40px
			padding 0px
		.widget-thumb-body
			.widget-thumb-subtitle
				font-size 12px
				line-height 1
				margin-bottom 4px
			.widget-thumb-body-stat
				font-size 22px
				line-height 1
.mt-favorite
	position absolute
	top 1px
	left 10px
	z-index 10
	.fa
		font-size 30px
		color aqua
.questions-sidebar-list
	.list-default.ext-1.mt-list-container ul>.mt-list-item
		padding 5px
	.list-default.mt-list-container ul>.mt-list-item>.list-icon-container
		padding .5em .5em .5em 0
		width 35px
		height 35px
	.list-default.mt-list-container ul>.mt-list-item>.list-item-content
		padding 0 50px 0 35px
	.list-default.mt-list-container ul>.mt-list-item>.list-item-content>h3
		margin-bottom 2px
		font-size 14px
	.list-default
		&.mt-list-head
			padding 10px
		&.ext-1.mt-list-container
			ul>.mt-list-item
				padding 10px
	.list-simple
		&.mt-list-head
			padding 10px
			.list-title
				padding-right 0
		&.group .list-toggle-container .list-toggle
			padding 10px
		&.ext-1.mt-list-container ul>.mt-list-item
			padding 10px
		&.mt-list-container ul>.mt-list-item>.list-item-content
			padding 0 75px 0 25px
		&.mt-list-container ul>.mt-list-item>.list-item-content>h3
			font-size 14px
div.img-circle
	overflow hidden
	position relative
	img
		position absolute
		left 0
		right 0
		margin 0 auto
.table
	.img-circle
		width 100px
		height 100px
		img
			width 100px
.crypto-address
	float left
	padding-left 15px
	@media(max-width 767px)
		width 100%
	.c-button
		margin-top 15px
		padding 5px
		border-radius(10px !important)
		color #7f96ac
		position relative
		.dib
			width 100%
			text-overflow()
	.btn.default
		border 1px solid #ddd
		background-color #fafafa !important
		@media(min-width 768px)
			position absolute
			top -3px
			right -90px
		&:hover
			border-color #999
		.icon-wallet
			margin-left 5px
	.icon-green
		display inline-block
		width 10px
		height 10px
		background-image url('../img/green-icon.png')
		background-size cover
#modalMetamaskNotInstalled,#modalPortisNotInstalled,#modalSetAddress
	.modal-body
		background-color #fafafa
#modalMetamaskAssociateAddress,#modalMetamaskChangeAddress,#modalPortisAssociateAddress,#modalPortisChangeAddress
	.modal-body
		background-color #F4C840
	.meta-logo
		padding-top 25px
		padding-bottom 30px
		img
			max-width 500px
.modal-notification
	.modal-content
		border-radius(20px !important)
		box-shadow(0 5px 30px rgba(0,0,0,.5))
	.modal-body
		border-top-radius(20px !important)
	.meta-logo
		img
			max-width 300px
	h4
		font-weight bold
		font-size 24px
	.notice
		font-size 16px
		color #7f96ac
	.modal-footer
		text-align center
	.btn
		border-radius(20px !important)
		box-shadow(0 0 3px rgba(0,0,0,.5) !important)
.portlet-collapsible
	.mt-list-head
		.collapsed
			.fa-plus
				display inline-block
			.fa-minus
				display none
		.fa-plus
			display none
		.fa-minus
			display inline-block
.dib-left
	display inline-block
	text-align left
@import "custom-tablet.styl"
@import "custom-desktop.styl"