@media (min-width: 768px)
	.page-header.navbar
		.page-logo
			&>.logo-image, &>a
				float none
				text-align center
			.logo-default
				margin 5px auto 0 auto !important
	.input-group-3
		input.form-control
			width 70%
		select.form-control
			width 30%
@media (max-width: 764px)
	.page-header.navbar
		background-color #1f2b3d