@media (min-width: 992px)
	.page-sidebar
		width 105px
	.page-content-wrapper
		.page-content
			margin-left 105px
	.page-sidebar-menu.page-sidebar-menu-hover-submenu
		&>li:hover
			&>.sub-menu
				margin-left 105px
	.dashboard-metrics
		.col-lg-3
			width 20%