// MIXINS

vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	-ms-{prop} args
	-o-{prop} args
	{prop} args

animation()
	vendor('animation', arguments)

border-radius()
	vendor('border-radius', arguments)

border-top-radius() 
	vendor('border-top-left-radius', arguments)
	vendor('border-top-right-radius', arguments)

border-bottom-radius() 
	vendor('border-bottom-left-radius', arguments)
	vendor('border-bottom-right-radius', arguments)

-linear-gradient(start_color, end_color, start = left top, end = left bottom)
	mozstart = top if start = left top
	background start_color
	background -moz-linear-gradient(mozstart, start_color 0%, end_color 100%)
	background -webkit-gradient(linear, start, end, color-stop(0%, start_color), color-stop(100%, end_color))
	-webkit-background-origin padding-box

background-clip()
	vendor('background-clip', arguments)

box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box(orient, pack, align) 
	display -webkit-box
	display -moz-box
	display box
	vendor('box-orient', orient)
	vendor('box-pack', pack)
	vendor('box-align', align)
	vendor('box-lines', multiple)

box_flex()
	vendor('box-flex', arguments)

text-fill-color()
	vendor('text-fill-color', arguments)

transition()
	vendor('transition', arguments)

transform()
	vendor('transform', arguments)

scale()
	vendor('scale', arguments)

opacity()
	vendor('opacity', arguments)

text-overflow()
	white-space nowrap
	overflow hidden
	text-overflow ellipsis
	
stroked-text(stroke_color, text_color = #ffffff)
		-webkit-text-stroke 1px stroke_color
		-webkit-text-fill-color text_color
		text-shadow 1px 1px 0 stroke_color,
					-1px -1px 0 stroke_color,
					1px -1px 0 stroke_color,
					-1px 1px 0 stroke_color,
					1px 1px 0 stroke_color
gradient-background-top(bgcolor1, bgcolor2)
	background bgcolor1 /* Old browsers */
	background -moz-linear-gradient(top, bgcolor1 0%, bgcolor2 100%) /* FF3.6-15 */
	background -webkit-linear-gradient(top, bgcolor1 0%, bgcolor2 100%) /* Chrome10-25,Safari5.1-6 */
	background linear-gradient(to bottom, bgcolor1 0%, bgcolor2 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter unqoute("progid:DXImageTransform.Microsoft.gradient( startColorstr='bgcolor1', endColorstr='bgcolor2',GradientType=0)") /* IE6-9 */
gradient-background-left(bgcolor1, bgcolor2)
	background bgcolor1 /* Old browsers */
	background -moz-linear-gradient(left, bgcolor1 0%, bgcolor2 100%) /* FF3.6-15 */
	background -webkit-linear-gradient(left, bgcolor1 0%, bgcolor2 100%) /* Chrome10-25,Safari5.1-6 */
	background linear-gradient(to right, bgcolor1 0%, bgcolor2 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter unqoute("progid:DXImageTransform.Microsoft.gradient( startColorstr='bgcolor1', endColorstr='bgcolor2',GradientType=1)") /* IE6-9 */
gradient-border(bordercolor1, bordercolor2)
	-webkit-border-image -webkit-gradient(linear, 0 100%, 0 0, from(bordercolor1), to( bordercolor2)) 1 100%
	-webkit-border-image -webkit-linear-gradient(bottom, bordercolor1, bordercolor2) 1 100%
	-moz-border-image -moz-linear-gradient(bottom, bordercolor1, bordercolor2) 1 100%
	-o-border-image -o-linear-gradient(bottom, bordercolor1, bordercolor2) 1 100%
	border-image linear-gradient(to top, bordercolor1, bordercolor2) 1 100%
absolute-center()
	position absolute
	left 0
	right 0
	margin-left auto
	margin-right auto
absolute-top-center()
	position absolute
	top 0
	bottom 0
	margin-top auto
	margin-bottom auto

arrow-up(border_width, border_color)
	width 0
	height 0
	border-left border_width solid transparent
	border-right border_width solid transparent
	border-bottom border_width solid border_color

arrow-down(border_width, border_color)
	width 0
	height 0
	border-left border_width solid transparent
	border-right border_width solid transparent
	border-top border_width solid border_color

arrow-right(border_width, border_color)
	width 0
	height 0
	border-top border_width solid transparent
	border-bottom border_width solid transparent
	border-left border_width solid border_color

arrow-left(border_width, border_color)
	width 0
	height 0
	border-top border_width solid transparent
	border-bottom border_width solid transparent
	border-right border_width solid border_color
	
desaturate()
	-webkit-filter grayscale(1)
	-webkit-filter grayscale(100%)
	filter gray
	filter grayscale(100%)
	filter unqoute("url(desaturate.svg#greyscale)")