/* COLOUR REFERENCES

Green:     #79b044
Salmon:    #dd5638
Blue Gray: #3e4249

*/

/* === GENERAL === */

body
	margin-top 50px
	font-family 'museo-slab', 'Raleway', Helvetica, sans-serif
	font-size 16px
	background url('../img/tile.jpg') top left repeat

/* === GLOBAL === */

h1,h2,h3,h4,h5,h6
	-webkit-font-smoothing antialiased
	text-rendering optimizelegibility
	font-weight  bold

h1
	font-size 3em

h1,h2
	margin 0 0 40px

h3
	margin 20px 0

h4
	font-size 18px

p
	margin 0 0 15px

p.lead
	font-weight normal

a:link, a:visited
	color #dd5638

a:hover
	text-decoration none
	color #c9302c

button, input, .btn, a.btn
	-webkit-font-smoothing antialiased
	text-rendering optimizelegibility
	color white

.btn
	font-weight bold

button.btn:focus
	outline none !important

.btn-danger
	background-color #dd5638
	border-color #d95131

.btn-success
	background #79b044
	border none

.btn-success:hover
	background #6a9b3d
	border-color #6a9b3d
	
.navbar-brand
	padding 10px
	img
		max-height 30px
.mb20
	margin-bottom 20px
	
/* === HERO ===*/

#hero {
	background: url('../img/desk-laptop.jpg') 50% 0 repeat fixed;
	min-height: 500px;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
#hero .jumbotron {
	background-color rgba(0,0,0,0.5)
}
#hero .hero-box {
	padding 15px
	background-color rgba(0,0,0,0.2)
}
#hero article {
	width: 100%;
	text-align: center;
}

#hero .hero-text {
	margin-top: 30px;
}

/* ==== LAYOUT ====*/

.row + .row {
	margin-top: 20px;
}

section {
	padding: 80px 0;
}

section.main-content {
	padding: 40px 0;
}

.section-header {
	text-align: center;
}

section h2 {
	margin: 20px 0 40px;
}

section h3 {
	margin: 30px 0 10px;
}
#exams {
	background-color rgba(200,200,245,0.3)
}