.form-control, .btn
	font-size 16px
	&.small
		font-size 85%
.btn
	&.btn-lg
		font-size 18px
.form-control
	height 36px
.trans-control
	background trans-white-bg-light
	border none
	color white
	option
		color grey-8
.btn-color1
	color grey-1
	background-color main-color
	border-color main-color
.btn-color1:focus,
.btn-color1.focus
	color grey-1
	background-color main-color-shade
	border-color main-color
.btn-color1:hover
	color grey-1
	background-color main-color-shade
	border-color main-color
.btn-color1:active,
.btn-color1.active,
.open > .dropdown-toggle.btn-color1
	color grey-1
	background-color main-color-shade
	border-color main-color
.btn-color1:active:hover,
.btn-color1.active:hover,
.open > .dropdown-toggle.btn-color1:hover,
.btn-color1:active:focus,
.btn-color1.active:focus,
.open > .dropdown-toggle.btn-color1:focus,
.btn-color1:active.focus,
.btn-color1.active.focus,
.open > .dropdown-toggle.btn-color1.focus
	color grey-1
	background-color main-color-shade
	border-color main-color
.btn-color1:active,
.btn-color1.active,
.open > .dropdown-toggle.btn-color1
	background-image: none
.btn-color1.disabled,
.btn-color1[disabled],
fieldset[disabled] .btn-color1,
.btn-color1.disabled:hover,
.btn-color1[disabled]:hover,
fieldset[disabled] .btn-color1:hover,
.btn-color1.disabled:focus,
.btn-color1[disabled]:focus,
fieldset[disabled] .btn-color1:focus,
.btn-color1.disabled.focus,
.btn-color1[disabled].focus,
fieldset[disabled] .btn-color1.focus,
.btn-color1.disabled:active,
.btn-color1[disabled]:active,
fieldset[disabled] .btn-color1:active,
.btn-color1.disabled.active,
.btn-color1[disabled].active,
fieldset[disabled] .btn-color1.active
	background-color main-color-shade
	border-color main-color
.btn-color1 .badge
	color grey-1
	background-color main-color
	
.btn-color2
	color grey-1
	background-color sub-color
	border-color sub-color
.btn-color2:focus,
.btn-color2.focus
	color grey-1
	background-color sub-color-shade
	border-color sub-color
.btn-color2:hover
	color grey-1
	background-color sub-color-shade
	border-color sub-color
.btn-color2:active,
.btn-color2.active,
.open > .dropdown-toggle.btn-color2
	color grey-1
	background-color sub-color-shade
	border-color sub-color
.btn-color2:active:hover,
.btn-color2.active:hover,
.open > .dropdown-toggle.btn-color2:hover,
.btn-color2:active:focus,
.btn-color2.active:focus,
.open > .dropdown-toggle.btn-color2:focus,
.btn-color2:active.focus,
.btn-color2.active.focus,
.open > .dropdown-toggle.btn-color2.focus
	color grey-1
	background-color sub-color-shade
	border-color sub-color
.btn-color2:active,
.btn-color2.active,
.open > .dropdown-toggle.btn-color2
	background-image: none
.btn-color2.disabled,
.btn-color2[disabled],
fieldset[disabled] .btn-color2,
.btn-color2.disabled:hover,
.btn-color2[disabled]:hover,
fieldset[disabled] .btn-color2:hover,
.btn-color2.disabled:focus,
.btn-color2[disabled]:focus,
fieldset[disabled] .btn-color2:focus,
.btn-color2.disabled.focus,
.btn-color2[disabled].focus,
fieldset[disabled] .btn-color2.focus,
.btn-color2.disabled:active,
.btn-color2[disabled]:active,
fieldset[disabled] .btn-color2:active,
.btn-color2.disabled.active,
.btn-color2[disabled].active,
fieldset[disabled] .btn-color2.active
	background-color sub-color-shade
	border-color sub-color
.btn-color2 .badge
	color grey-1
	background-color sub-color

.btn-trans-color1
	color main-color
	background-color transparent
	border-color main-color
.btn-trans-color1:focus,
.btn-trans-color1.focus
	color grey-1
	background-color main-color
	border-color main-color
.btn-trans-color1:hover
	color grey-1
	background-color main-color
	border-color main-color
.btn-trans-color1:active,
.btn-trans-color1.active,
.open > .dropdown-toggle.btn-trans-color1
	color grey-1
	background-color main-color
	border-color main-color
.btn-trans-color1:active:hover,
.btn-trans-color1.active:hover,
.open > .dropdown-toggle.btn-trans-color1:hover,
.btn-trans-color1:active:focus,
.btn-trans-color1.active:focus,
.open > .dropdown-toggle.btn-trans-color1:focus,
.btn-trans-color1:active.focus,
.btn-trans-color1.active.focus,
.open > .dropdown-toggle.btn-trans-color1.focus
	color grey-1
	background-color main-color
	border-color main-color
.btn-trans-color1:active,
.btn-trans-color1.active,
.open > .dropdown-toggle.btn-trans-color1
	background-image: none
.btn-trans-color1.disabled,
.btn-trans-color1[disabled],
fieldset[disabled] .btn-trans-color1,
.btn-trans-color1.disabled:hover,
.btn-trans-color1[disabled]:hover,
fieldset[disabled] .btn-trans-color1:hover,
.btn-trans-color1.disabled:focus,
.btn-trans-color1[disabled]:focus,
fieldset[disabled] .btn-trans-color1:focus,
.btn-trans-color1.disabled.focus,
.btn-trans-color1[disabled].focus,
fieldset[disabled] .btn-trans-color1.focus,
.btn-trans-color1.disabled:active,
.btn-trans-color1[disabled]:active,
fieldset[disabled] .btn-trans-color1:active,
.btn-trans-color1.disabled.active,
.btn-trans-color1[disabled].active,
fieldset[disabled] .btn-trans-color1.active
	background-color transparent
	border-color main-color
.btn-trans-color1 .badge
	color main-color
	background-color transparent

.btn-trans-color2
	color sub-color
	background-color transparent
	border-color sub-color
.btn-trans-color2:focus,
.btn-trans-color2.focus
	color grey-1
	background-color sub-color
	border-color sub-color
.btn-trans-color2:hover
	color grey-1
	background-color sub-color
	border-color sub-color
.btn-trans-color2:active,
.btn-trans-color2.active,
.open > .dropdown-toggle.btn-trans-color2
	color grey-1
	background-color sub-color
	border-color sub-color
.btn-trans-color2:active:hover,
.btn-trans-color2.active:hover,
.open > .dropdown-toggle.btn-trans-color2:hover,
.btn-trans-color2:active:focus,
.btn-trans-color2.active:focus,
.open > .dropdown-toggle.btn-trans-color2:focus,
.btn-trans-color2:active.focus,
.btn-trans-color2.active.focus,
.open > .dropdown-toggle.btn-trans-color2.focus
	color grey-1
	background-color sub-color
	border-color sub-color
.btn-trans-color2:active,
.btn-trans-color2.active,
.open > .dropdown-toggle.btn-trans-color2
	background-image: none
.btn-trans-color2.disabled,
.btn-trans-color2[disabled],
fieldset[disabled] .btn-trans-color2,
.btn-trans-color2.disabled:hover,
.btn-trans-color2[disabled]:hover,
fieldset[disabled] .btn-trans-color2:hover,
.btn-trans-color2.disabled:focus,
.btn-trans-color2[disabled]:focus,
fieldset[disabled] .btn-trans-color2:focus,
.btn-trans-color2.disabled.focus,
.btn-trans-color2[disabled].focus,
fieldset[disabled] .btn-trans-color2.focus,
.btn-trans-color2.disabled:active,
.btn-trans-color2[disabled]:active,
fieldset[disabled] .btn-trans-color2:active,
.btn-trans-color2.disabled.active,
.btn-trans-color2[disabled].active,
fieldset[disabled] .btn-trans-color2.active
	background-color transparent
	border-color sub-color
.btn-trans-color2 .badge
	color sub-color
	background-color transparent
.btn-trans
	background-color trans-bg
	background-repeat repeat
	border-width 1px
	border-color grey-7
	color grey-1
	text-decoration none !important
.btn-trans:hover
	background-color trans-white-bg-light
	color grey-1
.btn-inverse {
  color: #fbfbfb;
  background-color: #626664;
  border-color: #626664;
  display: inline-block;
  margin: 5px 5px 5px 1px;
  text-align: center;
  line-height: 36px;
  width: 36px;
  height: 36px;
  font-size: 20px;
  padding: 0;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-facebook
	color grey-1
	background-color facebook
	border-color facebook
.btn-facebook:focus,
.btn-facebook.focus
	color grey-1
	background-color facebook-shade
	border-color facebook-shade
.btn-facebook:hover
	color grey-1
	background-color facebook-shade
	border-color facebook
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook
	color grey-1
	background-color facebook-shade
	border-color facebook
.btn-facebook:active:hover,
.btn-facebook.active:hover,
.open > .dropdown-toggle.btn-facebook:hover,
.btn-facebook:active:focus,
.btn-facebook.active:focus,
.open > .dropdown-toggle.btn-facebook:focus,
.btn-facebook:active.focus,
.btn-facebook.active.focus,
.open > .dropdown-toggle.btn-facebook.focus
	color grey-1
	background-color facebook-shade
	border-color facebook
.btn-facebook:active,
.btn-facebook.active,
.open > .dropdown-toggle.btn-facebook
	background-image: none
.btn-twitter
	color grey-1
	background-color twitter
	border-color twitter
.btn-twitter:focus,
.btn-twitter.focus
	color grey-1
	background-color twitter-shade
	border-color twitter-shade
.btn-twitter:hover
	color grey-1
	background-color twitter-shade
	border-color twitter
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter
	color grey-1
	background-color twitter-shade
	border-color twitter
.btn-twitter:active:hover,
.btn-twitter.active:hover,
.open > .dropdown-toggle.btn-twitter:hover,
.btn-twitter:active:focus,
.btn-twitter.active:focus,
.open > .dropdown-toggle.btn-twitter:focus,
.btn-twitter:active.focus,
.btn-twitter.active.focus,
.open > .dropdown-toggle.btn-twitter.focus
	color grey-1
	background-color twitter-shade
	border-color twitter
.btn-twitter:active,
.btn-twitter.active,
.open > .dropdown-toggle.btn-twitter
	background-image: none
.btn-google
	color grey-1
	background-color google
	border-color google
.btn-google:focus,
.btn-google.focus
	color grey-1
	background-color google-shade
	border-color google-shade
.btn-google:hover
	color grey-1
	background-color google-shade
	border-color google
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google
	color grey-1
	background-color google-shade
	border-color google
.btn-google:active:hover,
.btn-google.active:hover,
.open > .dropdown-toggle.btn-google:hover,
.btn-google:active:focus,
.btn-google.active:focus,
.open > .dropdown-toggle.btn-google:focus,
.btn-google:active.focus,
.btn-google.active.focus,
.open > .dropdown-toggle.btn-google.focus
	color grey-1
	background-color google-shade
	border-color google
.btn-google:active,
.btn-google.active,
.open > .dropdown-toggle.btn-google
	background-image: none
.btn-linkedin
	color grey-1
	background-color linkedin
	border-color linkedin
.btn-linkedin:focus,
.btn-linkedin.focus
	color grey-1
	background-color linkedin-shade
	border-color linkedin-shade
.btn-linkedin:hover
	color grey-1
	background-color linkedin-shade
	border-color linkedin
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin
	color grey-1
	background-color linkedin-shade
	border-color linkedin
.btn-linkedin:active:hover,
.btn-linkedin.active:hover,
.open > .dropdown-toggle.btn-linkedin:hover,
.btn-linkedin:active:focus,
.btn-linkedin.active:focus,
.open > .dropdown-toggle.btn-linkedin:focus,
.btn-linkedin:active.focus,
.btn-linkedin.active.focus,
.open > .dropdown-toggle.btn-linkedin.focus
	color grey-1
	background-color linkedin-shade
	border-color linkedin
.btn-linkedin:active,
.btn-linkedin.active,
.open > .dropdown-toggle.btn-linkedin
	background-image: none
.input-xlg
	height 66px
	padding 18px 21px
	font-size 20px
	line-height 1.3333333
	border-radius 6px
.btn-xlg
	padding 18px 21px
	font-size 21px
	line-height 1.3333333
	border-radius 6px

.owl-theme .owl-dots .owl-dot span
	background grey-1
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
	background sub-color