@import "bootstrap.min.css"
@import "font-awesome.min.css"
@import "https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"
@import "variables.styl"
@import "mixins.styl"
@import "overrides.styl"

body
	font-size 16px
	line-height 24px
	font-family Georgia, sans-serif
	-webkit-font-smoothing antialiased
	background-color grey-2

/* ==== GENERALIZED CSS ===== */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
	line-height 1.2
a
	color sub-color
	&:hover,&:focus
		text-decoration none
		color darken(sub-color, 30%)
		transition(all .5s ease);
audio, canvas, progress, video
	width 100%
@media(max-width: 991px)
	.head-md
		font-size 22px
.htfull-md
	height 100%
	@media(max-width: 767px)
		height auto
		margin-top 50px
		margin-bottom 50px
.pad-20
	padding 20px
.p-b-0
	padding-bottom 0px
.pad10
	padding 10px
.pad20
	padding 20px
.pad30
	padding 30px
.pad-md
	padding 36px 60px
	@media(max-width: 991px)
		padding 15px 30px
.pad-section
	padding 50px 0
.mr5
	margin-right 5px
.mb5
	margin-bottom 5px
.mb10,.mb-10
	margin-bottom 10px
.mb20
	margin-bottom 20px
.mt-50
	margin-top 50px
.clear-mrg
	margin 0
.bb-grey-3
	border-bottom 1px solid grey-3
.bb-grey-5
	border-bottom 1px solid grey-5
.bt-grey-6
	border-top 1px solid grey-6
.bt-grey-9
	border-top 4px solid grey-9
.bb-grey-9
	border-bottom 4px solid grey-9
.border-trans
	border 1px solid trans-white-bg-light
.btn-w50
	width 50%
	@media(max-width: 767px)
		width auto
.btn-w30
	width: 33.33333333%;
	@media(max-width: 767px)
		width auto
.bg-color1
	background-color main-color
.bg-color2
	background-color sub-color
.bg-grey1
	background-color grey-1
.bg-grey2
	background-color grey-2
.bg-trans-bg
	background-color trans-bg
.bg-map
	background-image url('../img/world-map.png')
.bg-featured
	background-image url('../img/desk-laptop.jpg')
	background-size cover
	background-position center center
.bg-logout
	background-image url('../img/mono-logout.png')
	background-size 25% auto
	background-repeat no-repeat
	background-position center center
	background-color grey-1
.color-color1
	color main-color
.color-grey1
	color grey-1
.color-grey1-dark
	color darken(grey-1, 20%)
.color-facebook
	color facebook
.color-twitter
	color twitter
.color-google
	color google
.color-linkedin
	color linkedin
.pr
	position relative
.dib
	display inline-block
.w100
	width 100%
.wd-200
	width 200px !important
.pad-clr
	padding 0 !important
.font-md
	font-size 150%
.font-big
	font-size 200%
	line-height 1.2
.text-overflow
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
.lh-1
	line-height 1
.min-ht-500
	min-height 500px
.loader
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	background-color trans-bg-dark
	/*background-color rgba(255,255,255,0.9)*/
	z-index 9999
.icon-loader
	background-image url('../img/light-loader.gif')
	display inline-block
	width 54px
	height 55px
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	margin-top auto
	margin-bottom auto
	margin-left auto
	margin-right auto
.logo-portfolio
	font-size 24px
	img
		max-height 50px
		margin-right 5px
/* ==== GENERALIZED BLOCKS ===== */
.rating-symbol
	color main-color
.list-bordered
	li
		border-right 1px solid #000
		&:last-child
			border-right 0
.nav-down
	display none
@media(min-width: 768px)
	.nav-down
		display inline-block
		absolute-center()
		bottom 20px
		text-align center
		width 100px
		&:hover
			.fa
				opacity(1)
		.fa
			font-size 100px !important
			color grey-1
			opacity(0.5)
@media screen and (-webkit-min-device-pixel-ratio: 0)
	.ellipsis-2lines
		display: -webkit-box!important;
		display: -moz-box!important;
		display: box!important;
		-webkit-line-clamp: 2;
		-moz-line-clamp: 2;
		line-clamp: 2;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
.list-meta
	margin-bottom 0
	li
		padding 7px 5px
		border-bottom 1px solid rgba(0,0,0,0.2)
		@media(max-width: 1200px)
			width 100% !important
	li:last-child
		border none
	.list-item-short
		float left
		width 50%
	.list-item-xshort
		float left
		width 33.33%
	.list-item-long
		width 100%
.block-title
	color grey-1
	font-size 24px
	text-align center
	margin 10px 0
	text-shadow 1px 1px 1px grey-4
.hover-shadow
	&:hover
		box-shadow(0px 0px 5px 0px rgba(0,0,0,0.75))
.section-featured
	display table
	width 100%
	margin-top -20px
.featured-title
	height 500px
	color grey-1
	display table-cell
	vertical-align middle
/* Gradient color1 - color2 - color1 */
hr.style-one
	border 0
	height 1px
	background #333
	background-image linear-gradient(to right, #ccc, #333, #ccc)

/* Gradient transparent - color - transparent */
hr.style-two
	border 0
	height 1px
	background-image linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0))

/* Double-color dashed line */
hr.style-three
	border 0
	border-bottom 1px dashed #ccc
	background #999

/* Single-direction drop shadow */
hr.style-four
	height 12px
	border 0
	box-shadow inset 0 12px 12px -12px rgba(0, 0, 0, 0.5)

/* Cloud */
hr.style-five
	border 0
	height 0 /* Firefox... */
	box-shadow 0 0 10px 1px black
hr.style-five:after  /* Not really supposed to work, but does */
	content "\00a0"  /* Prevent margin collapse */

/* Inset, by Dan Eden */
hr.style-six
	border 0
	height 0
	border-top 1px solid rgba(0, 0, 0, 0.1)
	border-bottom 1px solid rgba(255, 255, 255, 0.3)

/* Flaired edges, by Tomas Theunissen */
hr.style-seven
	height 30px
	border-style solid
	border-color black
	border-width 1px 0 0 0
	border-radius 20px
hr.style-seven:before /* Not really supposed to work, but does */
	display block
	content ""
	height 30px
	margin-top -31px
	border-style solid
	border-color black
	border-width 0 0 1px 0
	border-radius 20px

/* Glyph, by Harry Roberts */
hr.style-eight
	padding 0
	border none
	border-top medium double #333
	color #333
	text-align center
hr.style-eight:after
	content "§"
	display inline-block
	position relative
	top -0.7em
	font-size 1.5em
	padding 0 0.25em
	background white
.btn-social
	width 40px
	text-align center
	@media(min-width:992px)
		width 50px
		padding 10px 16px
		font-size 18px
	&.disabled
		background-color dimgrey
		border-color dimgrey
.data-more
	margin-bottom 5px
	overflow hidden
	height 100px
.gradient-grey3
	-linear-gradient(grey-1, grey-3)
.icon-block
	position relative
	padding-left 40px
	.icon
		position absolute
		left 0
		top 0
		width 24px
		font-size 24px
		text-align center
.icon-round
	width 120px
	height 120px
	display table
	border-radius(50%)
	.fa
		display table-cell
		vertical-align middle
		font-size 48px
/* ==== MAIN BODY CSS ==== */
.header.home
	background-color trans-bg
	color grey-1
	position absolute
	top 0
	width 100%
	z-index 99
.home-top-nav
	background-image none
	border-color transparent
	background-color transparent
	.navbar-brand
		background-color #ffffff
		margin-top 15px
		padding 5px
		&:focus, &:hover
			background-color #ffffff
	.navbar-nav>li>a
		color grey-1
		&:hover, &:focus
			color grey-2
	.navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover
		background-color transparent
		color grey-1
		border-bottom 1px solid grey-2
	.navbar-nav .open .dropdown-menu>li>a
		color grey-1
	.navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover
		color grey-3
	@media(min-width: 768px)
		.navbar-collapse
			padding-top 15px
		.form-control
			background-color transparent
		.navbar-nav>li>.dropdown-menu
			background-color trans-bg-dark
		.navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover
			background-color trans-bg
.top-nav
	.navbar-collapse
		padding-top 15px
		padding-bottom 15px
.home-top-nav, .top-nav
	@media(max-width: 767px)
		margin-bottom 0
		.navbar-header
			margin 10px 0
		.navbar-brand
			padding 0
	
.section-window
	color grey-1
	background url('https://dhzkq6drovqw5.cloudfront.net/work.jpg')
	background-size cover
	padding-top 1px
	@media(min-width: 768px)
		padding-top 100px
		position absolute
		width 100%
		height 100%
	@media(min-width: 1200px)
		padding-top 150px
	&.teach
		background url(../img/teach.jpg)
	.fa-chevron-down
		font-size 72px
	.head-md
		margin-top 50px
		margin-bottom 50px
@media(min-width: 768px)
	.main-section
		position absolute
		top 100%
		width 100%

@media(min-width: 992px)
	.package-container
		.package
			&:last-child
				margin-bottom 0
.package
	height $height - 15px
	margin-bottom 30px
	display inline-block
	width 100%
	background-position center center
	background-size 120% auto
	background-repeat no-repeat
	padding 15px
	color white
	text-align center

	transition all .2s ease

	
	// Hover Effect
	&:hover
		color #fff
		background-size 140% auto

	// States and views
	&.doubleheight
		height $height * 2
		.fa
			font-size 600%
		
	&-inner
		transform translateY(-50%)
		top 50%
		position relative
		display inline-block
		width 100%
	.fa
		font-size 300%

.icon-holder
	display inline-block
	width 100%
	float left
	
.course-img
	img
		height 200px
		@media(min-width: 768px)
			height 180px
		@media(max-width: 767px)
			height 300px
		&:hover
			opacity(0.7)
.course-cover
	background-color grey-1
	margin-bottom 30px
	.title
		height 64px
		overflow hidden
	.avatar
		position absolute
		width 50px
		display block
		img
			width 50px
			height 50px
	.user
		height 50px
		display block
	.user:before, .user:after
		display table
		content " "
	.user:after
		clear both
	.username
		display block
		float left
		margin-left 60px
		overflow hidden
		width 70%
		line-height 1.2
		padding-top 5px
		text-transform capitalize
.avatar-cover
	width 100px
	height 100px
	margin 0 auto
	img
		width 100%
		height 100%
		border-radius(50%)
		border 1px solid sub-color
.arrow-down-msg
	arrow-down(8px, grey-1)
	absolute-center()
	bottom -8px
	z-index 1
.frm-trans
	background-color trans-bg
	border 1px solid grey-7
	border-radius(4px)
	.btn
		text-decoration none
		@media(max-width 991px)
			width 100%
	a
		text-decoration underline
	.btn
		.fa
			margin-right 5px
.main-body
	min-height 500px
.dark-theme
	.main-body
		margin-top 125px
		margin-bottom 135px
.category-head
	color grey-1
	margin-bottom 20px
	padding-bottom 20px
	background-color main-color
.form-3d
	padding 70px 80px 45px
	color darken(grey-10, 30%)
	box-shadow(0px 50px 50px 0px trans-bg)
	border-radius(4px)
	.form-title
		color white
		display inline-block
		text-transform uppercase
		border-bottom 2px solid sub-color
		margin-bottom 90px
		padding-bottom 5px
	&.signup
		background-image url('../img/students.jpg')
	label, small
		font-weight 300
		a
			font-size 85%
		
.course-showcase
	margin-bottom 30px
	position relative
	width 100%
	min-height 250px
	display block
	overflow hidden
	background-image url("../img/illu_bg_blue.jpg")
	background-color #ffffff
	@media (min-width 480px)
		min-height 325px
	@media (min-width 768px)
		min-height 375px
	@media (min-width 992px)
		min-height 398px
	@media (min-width 1200px)
		min-height 420px
	img
		absolute-center()
		top 0
		width 100%
.course-img-preview
	position relative
	width 100%
	min-height 250px
	display block
.course-showcase img
	min-height 250px
@media (min-width: 480px)
	.course-img-preview, .course-showcase img
		min-height: 325px
@media (min-width: 768px)
	.course-img-preview, .course-showcase img
		min-height: 375px
@media (min-width: 992px)
	.course-img-preview, .course-showcase img
		min-height: 398px
@media (min-width: 1200px)
	.course-img-preview, .course-showcase img
		min-height 420px
.course-img-preview img
	height 100%
	position absolute
.course-img-preview .fa
	font-size 62px
	display inline-block
	width 54px
	height 58px
	position absolute
	left 0
	right 0
	top 0
	bottom 0
	margin-left auto
	margin-right auto
	margin-top auto
	margin-bottom auto
.mejs-mediaelement video
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	width 100% !important
	height 100% !important
.mejs-container .mejs-controls
	z-index 1
.desc-content
	margin-bottom 5px
	overflow hidden
	height 100px
.desc-block ul
	padding-left 20px
.course-index
	position relative
	overflow hidden
	table
		border 1px solid darken(grey-1, 20%)
	.course-subject
		position relative
		padding 10px
		min-height 80px
		background sub-color
		background -moz-linear-gradient(top, sub-color 0%, lighten(sub-color, 15%) 50%, lighten(sub-color, 10%) 51%, lighten(sub-color, 50%) 100%)
		background -webkit-gradient(linear, left top, left bottom, color-stop(0%,sub-color), color-stop(50%,lighten(sub-color, 15%)), color-stop(51%,lighten(sub-color, 10%)), color-stop(100%,lighten(sub-color, 50%)))
		background -webkit-linear-gradient(top, sub-color 0%,lighten(sub-color, 15%) 50%,lighten(sub-color, 10%) 51%,lighten(sub-color, 50%) 100%)
		background -o-linear-gradient(top, sub-color 0%,lighten(sub-color, 15%) 50%,lighten(sub-color, 10%) 51%,lighten(sub-color, 50%) 100%)
		background -ms-linear-gradient(top, sub-color 0%,lighten(sub-color, 15%) 50%,lighten(sub-color, 10%) 51%,lighten(sub-color, 50%) 100%)
		background linear-gradient(to bottom, sub-color 0%,lighten(sub-color, 15%) 50%,lighten(sub-color, 10%) 51%,lighten(sub-color, 50%) 100%)
		filter unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr="#1e5799", endColorstr="#7db9e8",GradientType=0 )')
	.subject-avatar
		width 60px
		height 60px
		position absolute
		top 10px
		left 10px
	.subject-title
		margin-left 70px
		margin-top 0
		min-height 50px
		font-size 20px
		color white
	.ssection
		padding 30px 10px 10px 10px
		background-color #ececec
	.ssection-title
		margin 0
		font-size 16px
		display inline-block
		width 100%;
		position relative
	.ssection-meta
		display none
	.ssection-content
		padding 10px 10px 10px 20px
		background-color darken(grey-3, 7%)
	.lecture
		padding 0
		background-color lighten(grey-2, 50%)
		.active, &:hover
			background-color grey-1
	.lecture-link
		padding 15px 15px 15px 25px
		position relative
	.lecture-title
		margin 0
	.lecture-play
		position absolute
		left 25px
	.lecture-title-blk
		margin-left 20px
	.lecture.active .lecture-title-blk
		font-weight bold
		color grey-8
	.lecture-number
		margin-right 5px
	.lecture-title-txt
		margin-right 10px
	.lecture-duration
		display inline-block
		font-weight normal
		color #797979
	.lecture-play-btn
		position: absolute;
		right 10px
		top 10px
	.lecture-play-btn .btn
		margin-top 0
.buy-course
	background-color lighten(grey-2, 50%)
	box-shadow(0 1px 1px trans-bg-light)
.course-price
	.fa
		vertical-align middle
.price-discount
	color lighten(grey-4, 40%)
.course-meta-data
	position relative
	padding-top 15px
	padding-bottom 10px
	overflow hidden
	label
		font-style italic
		font-weight normal
		margin-bottom 0
	.value
		font-weight bold
.about-instructor
	position relative
	padding 15px 0
.instructor-description
	min-height 60px
	height 100px
	overflow hidden
.instructor-avatar
	width 60px
	height 60px
	float left
	margin 4px 15px 4px 0
	border-radius 10%
.social-item
	width 33.33%
	padding 0
	text-align center
	float left
	.fa
		font-size 36px
.other-courses
	padding 15px 0
.other-item
	background-color lighten(grey-2, 50%)
	border-style solid
	border-color darken(grey-1, 20%)
	border-top-width 0px
	border-left-width 1px
	border-bottom-width 1px
	border-right-width 1px
	padding 10px
	&:first-child
		border-top-width 1px
.other-title, .other-title:hover
	display inline-block
	margin-bottom 5px
.other-courses
	.cost
		font-weight 600
		font-size 18px
		line-height 1
		display inline-block
	img.btn-block
		min-height 250px
@media (min-width: 480px)
	.other-courses img.btn-block
		min-height:300px
@media (min-width: 768px)
	.other-courses img.btn-block
		min-height:350px
@media (min-width: 992px)
	.other-courses img.btn-block
		min-height 80px
@media (min-width: 1200px)
	.other-courses img.btn-block
		min-height 85px
.other-courses-meta
	padding-top 15px
	text-align center
	@media(min-width: 992px)
		padding-left 0
		padding-top 0
		text-align left
.course-img-sm
	height 100px
.footer
	-linear-gradient(grey-4, grey-4)
	a
		color grey-3
.footer-nav-menu 
	a
		padding-left 15px
		display inline-block
		&:before
			content "\f04d"
			font-family 'FontAwesome';
			font-size 6px
			position absolute
			left 0
			color main-color
.copyright
	line-height 40px
	a
		color main-color
/* ==== REVIEWS CSS ====*/
.rate-reviews .avg-rate
	color main-color
	font-size 96px
	line-height 1.2
.stars
	position relative
	white-space nowrap
	display inline-block
	&:before
		font-family FontAwesome
		content "\f005 \f005 \f005 \f005 \f005";
		color #aaa
		font-size 20px
		line-height 1
		letter-spacing 4px
		cursor default
	span
		position absolute
		left 0
		overflow hidden
		&:before
			font-family FontAwesome
			content "\f005 \f005 \f005 \f005 \f005"
			color #FAD407
			font-size 20px
			line-height 1
			letter-spacing 4px
			cursor default
.list-rates
	li
		position  relative
		margin-bottom 5px
	.item-title
		position absolute
		display block
	.progress
		margin-left 62px
		margin-bottom 0
	.progress-bar
		background-color main-color
.comments
	.list-comments
		margin-top 20px
	.comment-item:first-child
		border-top 1px solid #e1e1e1
	.comment-item
		border-bottom 1px solid #e1e1e1
		padding-top 30px
		padding-bottom 15px
	.user-block
		width 100%
		position relative
		min-height 80px
	.user-avatar
		position absolute
		width 60px
		height 60px
	.user-avatar img
		width 100%
		border-radius 50%
	.user-block span
		position absolute
		margin-left 68px
		font-size 16px
	h4
		font-size 16px
		margin-bottom 10px
		margin-top 10px
		font-weight 700
.top-rating
	margin-top 3%
	font-size 1.8em
.progress
	width 65%
	float left
.affix-spy-adj
	padding-top 60px
	margin-top -60px
.affix-spy-menu
	width 100%
	z-index 1
	display none
	top 0
@media (min-width: 768px)
	.affix-spy-menu
		&.affix
			display block
		.navbar
			margin 0
		.navbar
			background-color #fff
			padding-top 5px
		.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus
			background-color transparent
			border-bottom 2px solid sub-color
	.course-navbar
		.course-price
			margin 10px 10px 0px 10px
.profile-header
	color grey-1
	min-height 300px
	background-repeat no-repeat
	background-size cover
	.fa
		color main-color
.profile-header-in
	min-height 300px
	padding-top 200px
	background -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	background -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
	background -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
	background -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
	background linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
	filter unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr="#00000000", endColorstr="#a6000000",GradientType=0 )')

@media(max-width: 767px)
	.img-circle
		width 100%
@media(min-width: 767px)
	.profile-image
		position absolute
		margin-top -20px
.profile-meta-cover
	display table
	height 100px
	overflow hidden
	.profile-meta
		display table-cell
		vertical-align bottom
.list-tabs
	.arrow-left
		arrow-left(36px, grey-2)
		border-right-width 18px
		position absolute
		top -18px
		right -1px
	.arrow-right
		arrow-right(36px, grey-2)
		border-left-width 18px
		position absolute
		top -18px
		left -1px
	.active
		.btn-color1
			background-color main-color-dark
.instructor
	border 1px solid transparent
	border-radius(6px)
	&:hover
		border 1px solid grey-9
		background-color grey-1
		.bg-grey1
			background-color grey-9
	.name
		color grey-4
		font-size 125%
	.contact
		color grey-10
.list-filter
	padding-left 20px
	li>a:hover
		color main-color
#modalMetamaskNotInstalled,#modalPortisNotInstalled,#modalSetAddress
	.modal-body
		background-color #fafafa
#modalMetamaskAssociateAddress,#modalMetamaskChangeAddress,#modalPortisAssociateAddress,#modalPortisChangeAddress
	.modal-body
		background-color #F4C840
	.meta-logo
		padding-top 25px
		padding-bottom 30px
		img
			max-width 500px
.modal-notification
	.modal-content
		border-radius(20px !important)
		box-shadow(0 5px 30px rgba(0,0,0,.5))
	.modal-body
		border-top-radius(20px !important)
	.meta-logo
		img
			max-width 300px
	h4
		font-weight bold
		font-size 24px
	.notice
		font-size 16px
		color #7f96ac
	.modal-footer
		text-align center
	.btn
		border-radius(20px !important)
		box-shadow(0 0 3px rgba(0,0,0,.5) !important)