.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.course-block {
  position: relative;
}
.course-block .course-title {
  width: 80%;
  display: inline-block;
  white-space: normal;
}
.course-img-gallery img {
  min-height: 125px;
}
@media (min-width: 480px) {
  .course-img-gallery img {
    min-height: 175px;
  }
}
@media (min-width: 768px) {
  .course-img-gallery img {
    min-height: 135px;
  }
}
@media (min-width: 992px) {
  .course-img-gallery img {
    min-height: 150px;
  }
}
@media (min-width: 1200px) {
  .course-img-gallery img {
    min-height: 250px;
  }
}
.login-links {
  color: #ccc;
  margin-left: 20%;
}
.login-links a {
  color: #ccc;
  font-size: 14px;
  padding-left: 5%;
  padding-right: 5%;
  line-height: 45px;
}
.login-links a:hover {
  color: #f7f7f7;
}
.pf-form-login {
  color: #fff;
  padding: 50px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0px 0px 3px 2px #000;
}
.pf-form-login .pf-head {
  margin-bottom: 50px;
}