﻿.three-row  s{
    padding: 0 30px !important;
}
.col-lg-2.checkbox {
    margin-top: 0;
}
.col-lg-2.checkbox input  {
    margin-left:0px;
}
p {
    margin: 0 0 10px;
    text-align: justify;
}
.custom-form {
    width: 50%;
}
.panel-heading h4 {
    display: inline;
	font-size:16px;
}
.custom_modal input {
    margin-left: -30px !important;
}
.modal-body {
    padding: 20px 20px 0px 35px;
    position: relative;
}
.custom_space {
    min-height: 375px;
}
.custom_label {
    display: block;
    font-weight: normal;
    padding: 7px;
}
.nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #FFFFFF !important;
}
.uplod {
    padding: 5px 0 0 15px;
}
.pull-left.custom-img {
    width: 60%;
}
.pull-left.custom-right-img {
    width: 38%;
}
.custom_padding
{
    padding:20px;
}
.custom_img {
    margin: 0 0 20px;
}
.custom_img img
{
    box-shadow: 3px 7px 5px 0 #cfcfcf;
    width: 100%;
    height:200px;
}
.follower-foot.custom-follower-foot p {
    font-size: 18px;
    text-align: center;
}
.custom-follower-foot ul li {
    border-bottom:none !important;
}
.custom_modal{
    margin: 30px auto;
    width: 1200px;
}
.custom-right {
    padding: 0 0 0 37px;
}
.custom-left {
    padding: 0 0 0 55px;
    text-align: center;
}
.subject-image-thumb img {
    width: 100px;
    height: 100px;
    border-radius: 4px;
    margin-top: -50px;
    border: 2px solid #fff;
    margin-left: 10px;
}
.custom_heading {
    font-size: 24px;
}
ul.summary-list {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 0;
    width: 100%;
}
ul.summary-list-a > li {
    display: inline-block;
    text-align: center;
    width: 14%;
}
ul.summary-list-a > li > a > i {
    display: block;
    font-size: 18px;
    padding-bottom: 5px;
}
ul.summary-list-a > li > a {
    color: #818181;
    display: inline-block;
    padding: 10px 0;
}
ul.summary-list-a > li {
    border-right: 1px solid #eaeaea;
}
ul.summary-list-a > li:last-child {
    border-right: medium none;
}
.custom-lecture {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #cfcfcf;
    margin: 15px;
    min-height: 400px;
    overflow: scroll;
}
.custom-exam h4, .custom-exam h5 {
    display: inline-block;
}
.custom-exam span {
    float: right;
}
.custom-add-sidebar .fa.fa-check {
    color: #6dbb4a;
}
.row.panel-body label {
    text-align: right;
}
.custom-add-sidebar .progress {
    border-radius: 0;
    margin-bottom:-5px;
}
.red
{
    color:#ef6f66;
}
.btn-dark {
    background: none repeat scroll 0 0 #0072c5;
    border-color: #0072c5;
    color: #ffffff;
}
.btn-dark:hover {
    background: none repeat scroll 0 0 #0067B3;
    border-color: #0072c5;
    color: #ffffff;
}
.custom-exam.panel-body {
    padding: 5px;
}
.nav.nav-pills.nav-stacked.custom-add-sidebar {
    max-height: 275px;
    overflow-y: scroll;
	overflow: auto;
	height: auto;
}
.panel.section-table {
    max-height: 190px;
    overflow-y: scroll;
	overflow: auto;
}
.custom-exam {
    margin-bottom: 10px;
}
.custom-scroll {
    max-height: 600px;
    overflow-y: scroll;
	overflow: auto;
}
.custom-add-sidebar.min li a {
    padding: 0 15px;
}
.custom-side-tree .tree-item {
    border: medium none !important;
}
.custom-side-tree .tree-folder {
    border: medium none;
}
.custom-side-tree .tree .tree-item, .tree .tree-folder .tree-folder-header {
    box-sizing: content-box;
    color: #ffffff;
    font-size: 11px;
    margin: 0;
    padding: 4px 0 6px;
	text-transform: capitalize;
}
.custom-side-tree .tree .tree-folder .tree-folder-header:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
}
.custom-side-tree .tree .tree-item:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 4px;
}
.tree.tree-plus-minus .tree-folder-header .fa-folder-open:before {
    background: none;
    color: #f2f2f2;
    content: "\f07c";
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    width: 16px;
    padding-left: 5px;
}
.tree.tree-plus-minus .tree-folder-header .fa-folder:before {
    background: none;
    color: #f2f2f2;
    content: "\f07b";
    display: inline-block;
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
    width: 16px;
    padding-left: 5px;
}


/*
	Profile CSS
	Author: Fraaz H.
*/

.bio-row p span {
	width: 125px  !important;
}

.cover-photo {
	height: 258px;
	overflow: hidden;
}
.cover-photo  img {
	height: 258px;
	width: 837px;
}

button.upload-cover-image {
	position: absolute;
	right: 10px;
	bottom: 20px;
	display: none;
}

button.upload-profile-image {
	position: absolute;
	right: 30px;
	bottom: 25px;
	font-size: 20px;
	display: none;
}

img#uploaded-image{
	margin-top: 20px;
	max-width: 815px;
	height: auto;
	display: none;
}

.panel .edit-section{
	display: none;
}

.hidden-on-load,
.hidden-l{
	display: none;
}

div.form-msg {
	background-color: #9C1616;
	color: #FFF;
	padding: 10px;
	display: none;
}

div.breadcrumbs {
    margin-top: 10px;
	margin-left: -15px;
	padding-left: 15px;
	margin-right: -15px;
	margin-bottom: -10px;
	padding: 5px 0px 5px 15px;
	background-color: #425B70;
	font-size: 12px;
}
div.breadcrumbs a {
    color: #fff;
}
div.breadcrumbs a:hover {
    text-decoration: underline;
}
div.course-subjects {
	display: none;
	margin-left: 30px;
}
.course-subjects .expiry-date {
    margin-left: -20px;
}
.course-subjects .license {
    margin-left: 10px;
}

div.bubble-msg {
	background-color: #3A2D2D;
	color: #fff;
	position: fixed;
	top: -100px;
	left: 35%;
	width: 24%;
	padding: 20px 3%;
	text-align: center;
	border-radius: 3px;
	box-shadow: 0px 3px 11px -2px #000;
	z-index: 99999;
	font-size: 13px;
	font-weight: bold;
}

.back-login-form {
	background-color: #fff;
	padding: 80px;
	margin-top: 40px;
}

.sort-placeholder {
    background-color: #f2f2f2;
	border: 1px solid #ccc;
}

.ui-sortable tr {
	cursor: move;
}

tr.deleted-item td,
tr.deleted-item:hover td {
	background-color: #FCC5C5 !important;
	color: #000;
}

.subject-image-thumb img{
	width: 100px;
	height: 100px;
	border-radius: 4px;
	margin-top: -50px;
	border: 2px solid #fff;
	margin-left: 10px;
}

.flat-carousal {
	background: #0A3151;
}

#loader_outer {
	position:fixed;
	width:100%;
	z-index:9999;
}


/* Dancing Dots*/

@-webkit-keyframes dancing-dots-jump {
    0% { top: 0; }
    55% { top: 0;     text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
    60% { top: -20px; text-shadow: 5px 20px 5px rgba(0,0,0,0.5); }
    80% { top: 4px;   text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
    90% { top: -3px;  text-shadow: 0px 3px 1px rgba(0,0,0,0.5); }
    95% { top: 1px;   text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
    100% { top: 0;    text-shadow: 0px 0px 0px rgba(0,0,0,0.5);}
}

@-moz-keyframes dancing-dots-jump {
    0% { top: 0; }
    55% { top: 0;     text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
    60% { top: -20px; text-shadow: 5px 20px 5px rgba(0,0,0,0.5); }
    80% { top: 4px;   text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
    90% { top: -3px;  text-shadow: 0px 3px 1px rgba(0,0,0,0.5); }
    95% { top: 1px;   text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
    100% { top: 0;    text-shadow: 0px 0px 0px rgba(0,0,0,0.5);}
}
#dancing-dots-text{
	width: 815px;
	margin-left:20%;
	text-align: center;
	padding: 10px 0;
	background: none;
	color: #333;
	font-weight: bold;
}
#dancing-dots-text span {
    font-size: 60px;
    line-height: 10px;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
	letter-spacing: 3px;
}

#dancing-dots-text span span {
    -webkit-animation-duration: 1200ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: dancing-dots-jump;
    -moz-animation-duration: 1200ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-name: dancing-dots-jump;
    -o-animation-duration: 1200ms;
    -o-animation-iteration-count: infinite;
    -o-animation-name: dancing-dots-jump;
    padding: 1px;
    position: relative;
}

#dancing-dots-text span span:nth-child(1) {
    -webkit-animation-delay: 0ms; -moz-animation-delay: 0ms;
	-o-animation-delay: 0ms;
}

#dancing-dots-text span span:nth-child(2) {
    -webkit-animation-delay: 100ms; -moz-animation-delay: 100ms;
	-o-animation-delay: 100ms;
}

#dancing-dots-text span span:nth-child(3) {
    -webkit-animation-delay: 300ms; -moz-animation-delay: 300ms;
	-o-animation-delay: 300ms;
}

#dancing-dots-text span span:nth-child(4) {
    -webkit-animation-delay: 500ms; -moz-animation-delay: 500ms;
	-o-animation-delay: 500ms;
}

#dancing-dots-text span span:nth-child(5) {
    -webkit-animation-delay: 700ms; -moz-animation-delay: 700ms;
	-o-animation-delay: 700ms;
}
/* dot loader end */


/*
	Content Page
*/
#content {
	padding-top: 20px;
	padding-bottom: 20px;
}

#content .indented {
	margin-left: 30px;
	margin-right: 30px;
}
#content .headings {
	margin-bottom: 20px;
}
 .add-heading {
	border-radius: 0px;
 }
 .add-heading:hover {
	background-color: #2A353D;
	cursor: pointer;
 }
 .add-content {
	border-radius: 0px;
	background-color: #515B63;
 }
 .add-content:hover {
	background-color: #294E6D;
	cursor: pointer;
 }
 .form-control.error {
	border-color: rgb(228, 91, 91);
 }
 .section-heading .edit-heading,
 .section-content .edit-content {
	display: none;
	color: #ddd;
 }
.section-heading:hover .edit-heading,
.section-content:hover .edit-content{
	display: inline;
 }
.section-heading .edit-heading:hover,
.section-content .edit-content:hover{
	color: #fff;
}

.section-heading.deleted-section .view-pane,
.section-content.deleted-section .view-pane{
	background-color: #FCC5C5 !important;
	color: #000;
}
#content .section-heading {
	margin-top: 10px;
}
#content .panel-heading{
	border-radius: 0;
}
#content .section-heading .panel-heading {

}

#content .section-content .panel-heading {
	background-color: #3F739E;
}

#content .edit-pane {
	border: solid 1px #ccc;
	margin: 10px auto;
	background-color: #F5F5F5;
}

.stuff-type-selector,
.stuff-file-uploader,
.stuff-text-widget,
.stuff-link-widget{
    margin-top: -38px;
}

.stuff-type-selector-body,
.stuff-file-uploader-body,
.stuff-text-widget-body,
.stuff-link-widget-body,
.stuff-dp-body{
	padding: 10px;
	border: solid 1px #ccc;
	margin-bottom: 10px;
	margin-top: -1px;
	background-color: #F5F5F5;
}

.stuff-type-selector-header,
.stuff-file-uploader-header,
.stuff-text-widget-header,
.stuff-link-widget-header,
.stuff-dp-header{

    margin-bottom: 3px;
    margin-right: 10px;
}

.stuff-type-selector-header > span,
.stuff-file-uploader-header > span,
.stuff-text-widget-header > span,
.stuff-link-widget-header > span{
	background-color: #F3F3F3;
	padding: 4px;
	font-weight: bold;
}
.show-stuff-dp{
	/*background-color: #F3F3F3;*/
	padding: 4px;
	font-weight: bold;
	color: #000;
}
.stuff-file-uploader .stuff-msg {
	padding: 2px 5px;
	background: #E6E4DD;
	border: 1px solid #e1e1e1;
	font-weight: normal;
	width: 70%;
	margin-right: 45px;
}

div.stuff-desc {
	margin-top: 15px;
}
.stuff-description-widget textarea{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}
.stuff-icon.large {
    float: left;
    width: 100px;
    height: 100px;
    font-size: 60px;
    margin: 10px;
	text-align: center;
}

.stuff-details {
    float: left;
    margin-top: 20px;
}
span.file-name {
    display: block;
    font-size: 14px;
    font-weight: bold;
}
.edit-stuff {
    margin-top: 20px;
    display: block;
}
.supp-section {
    border-top: 1px solid #ccc;
    margin: auto -10px;
    padding: 10px;
    padding-bottom: 0;
}
.stuff-links {
	float: right;
}
.stuff-description-widget {
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
	margin: auto -10px;
	margin-bottom: 10px;
}
.stuff-description-display {
    padding: 5px;
	cursor: pointer;
}
.stuff-description-display:hover {
    background-color: #E6E6E6;
    padding: 5px;
}
.show-stuff-dp i:hover{
	color: #fff;
	cursor: pointer;
}
.stuff-dp.deleted{
	opacity: 0.4;
}
.supplementary-stuff-widget {
	padding: 5px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.stuff-file-uploader.supp-files{
	margin-top: -41px;
}
.stuff-file-uploader.supp-files .stuff-file-uploader-header{
	margin-bottom: 0px;
}
.stuff-file-uploader.supp-files .stuff-file-uploader-header > span.pull-right{
	backgroung-color: #ccc;
	border: 1px solid #aaa;
	border-bottom: none;
}
.headings .view-pane, .headings .edit-pane{
	cursor: move;
}
.video-icon{
  margin-top: -27px;
}
.video-icon a.video-text{
  color: #818181;
  display: inline-block;
  padding: 10px 0;
}
.video-icon i.fa-video-camera{
  display: block;
  font-size: 18px;
  padding-bottom: 5px;
}
#currentExams .tooltips {
	margin-right: 5px;
}

.sectionNewQuestion {
    background-color: #F5F5F5;
    margin: 10px;
}
.import-question {
	max-height: 300px;
	overflow-y: scroll;
	overflow: auto;
}
.sort-li {
	cursor: move;
	line-height: 5px;
}

/* for deleted sections */
li.deleted-item,
li.deleted-item:hover {
	background-color: #FCC5C5 !important;
	color: #000;
}

.switch-wrapper {
	display: inline-block;
	position: relative;
	top: 3px;
}

.switch-label {
	font-weight: bold;
	color: rgb(0, 92, 128);
}

.add-option {
	margin-top: 10px;
}
.col-sm-6 > p span:first-child {
    float: left;
    width: 150px !important;
	font-weight: 600;
	color:#000;
}
.col-sm-12 > p span:first-child {
    float: left;
    width: 150px !important;
	font-weight: 600;
	color:#000;	
}
.custom-sub {
    font-size: 14px;
    font-weight: 600;
	color:#000;
}
.form-group label:first-child {
    font-size: 14px;
    font-weight: 600;
}
td h5, h4, h3, h2, h1 {
    margin-top: 0;
}
.label.label-warning.label-mini {
    font-size: 12px;
}
.label.label-success.label-mini {
    font-size: 12px;
} 
.alert-dark {
    background-color: #2e2e2e;
    border-color: #2e2e2e;
    color: #ffffff;
    height: 35px;
    position: fixed;
    width: 400px;
	z-index:999
}
.custom-bg {
    background: none repeat scroll 0 0 #F1F2F7;
    border-radius: 4px;
    padding: 10px;
	font-size: 14px;
}
.custom-mod-button a {
    font-size: 14px;
    margin: 3px 2px;
    width: 31px;
}
.custom-mod-button {
/*    height: 150px;*/
    overflow: auto;
}
.custom-bg > span {
    float: left;
    font-size:13px;
    margin: 4px 2px;
    width:153px;
}
.custom-button-bottomcustom-button-bottom {
    position: absolute;
    right: 22%;
}
/* student Content Page  */
#sidebar_content {
    width: 400px;
    height: 100%;
    position: fixed;
    background: none repeat scroll 0% 0% #2E2E2E;
}
.cke_textarea_inline {
	border: 1px solid rgb(207, 198, 198);
	border-radius: 3px;
	height: 100px;
	overflow-y: scroll;
	overflow: auto;
	background: white;
}

.custom-ck-textbox {
	height: 30px !important;
	margin-top: 5px;
}
.custom-font {
    font-size: 14px;
}
.custom-all-question{
    height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.custom-right-question {
    border-left: 1px solid #cfcfcf;
    max-height: 370px;
	overflow-y: scroll;
	overflow: auto;
}
.radio-inline, .checkbox-inline {
	float: left;
}
.custom-sidebar {
    background: none repeat scroll 0 0 #f1f2f7 !important;
    width: 400px !important;
}
.custom-sidebar-menu {
    margin: 35px 0 0 !important;
}
.custom-toggle-box {
    float: right;
    position: fixed;
    right: 0;
	color:#fff;
}
.custom-course {
	padding-left: 220px;
	color:#fff;
}
.custom-container{
	background: url("../img/bg-tex.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.custom-content-part {
    color: #000000;
}

.inline-exam {
	float: none;
}

.btn-success.btn-info {
	color: red;
	background: yellow;
}
#container-for-questions {
/*    background: none repeat scroll 0 0 #f1f1f1;*/
    border-radius:0 0 4px 4px;
    /* max-height: 400px;
    overflow-x: hidden;
    overflow-y: auto; */
    padding: 10px;
    border-top:1px solid #b0b5b9;
}
.custom-right-question, #parentQuestion, .col-md-6.question {
	height: 355px;
	overflow-y: scroll;
}

.txt-captial {
   text-transform:capitalize;
}
.disable-course{
/*   margin-bottom: 30px;*/
   background-color:#f1f1f1; 
/*   pointer-events: none;*/
   opacity:0.5;
}
.instruction-box {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
    padding: 20px;
    font-size: 18px;
    line-height: 1.2;
    box-shadow: 0px 1px 1px #000;
}
.instruction-box .table-bordered>thead>tr>th,
.instruction-box .table-bordered>tbody>tr>th,
.instruction-box .table-bordered>tfoot>tr>th,
.instruction-box .table-bordered>thead>tr>td,
.instruction-box .table-bordered>tbody>tr>td,
.instruction-box .table-bordered>tfoot>tr>td {
    border-color: #000;
    text-transform: initial;
}
.instruction-box .btn {
    box-shadow: 0px 1px 1px #000;
}
.instruction-box .btn-primary {
    background-color: #428bca;
    border-color: #357ebd;
}
.instruction-box .btn-primary:active {
    box-shadow: none;
}
.questions-box {
    padding: 15px;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcfff4+0,dfe5d7+40,b3bead+100;Wax+3D+%233 */
    background: #fcfff4; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fcfff4 0%,#dfe5d7 40%,#b3bead 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 1px 1px #000;
    position: relative;
}
.questions-box, .questions-box label {
    font-size: 16px;
    line-height: 24px;
}
.questions-box h2 {
    border-bottom: 2px solid #09f;
    text-transform: uppercase;
    padding-bottom: 10px;
}
#examTimer {
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 20px 0;
}
#examTimer span {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top,  #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    padding: 5px;
    margin: 5px;
}
.questions-box .table-question>thead>tr>th,
.questions-box .table-question>tbody>tr>th,
.questions-box .table-question>tfoot>tr>th,
.questions-box .table-question>thead>tr>td,
.questions-box .table-question>tbody>tr>td,
.questions-box .table-question>tfoot>tr>td {
    border-color: transparent;
    text-transform: initial;
}
.questions-box .question-detail {
    min-height: 100px;
}
.questions-box .btn {
    box-shadow: 0px 1px 1px #000;
}
.questions-box .btn:active {
    box-shadow: none;
}
.questions-box .table-legend>thead>tr>th,
.questions-box .table-legend>tbody>tr>th,
.questions-box .table-legend>tfoot>tr>th,
.questions-box .table-legend>thead>tr>td,
.questions-box .table-legend>tbody>tr>td,
.questions-box .table-legend>tfoot>tr>td {
    border-color: #666;
    text-transform: initial;
}
.questions-box .btn-unvisited {
    background-color: #ffffff;
    border-color: #999;
    color: #999;
}
.questions-box .btn-answered {
    background-color: #78CD51;
    border-color: #78CD51;
    color: #fff;
}
.questions-box .btn-marked {
    background-color: #0072C5;
    border-color: #0072C5;
    color: #fff;
}
.questions-box .btn-answeredmarked {
    background-color: yellow;
    border-color: yellow;
    color: #999;
}
.questions-box .btn-unanswered {
    background-color: #f79f58;
    border-color: #f79f58;
    color: #fff;
}
.questions-box .btn-legend {
    width: 24px;
    height: 24px;
    line-height: 34px;
    margin-right: 5px;
    margin-bottom: 10px;
    cursor: auto;
    box-shadow: none;
}
.questions-list .btn.active {
    border: 2px solid #09f;
}
.questions-box .sub-cover {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    background: rgba(235,233,249,1);
    background: -moz-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,233,249,1)), color-stop(50%, rgba(216,208,239,1)), color-stop(51%, rgba(206,199,236,1)), color-stop(100%, rgba(193,191,234,1)));
    background: -webkit-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -o-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: -ms-linear-gradient(top, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    background: linear-gradient(to bottom, rgba(235,233,249,1) 0%, rgba(216,208,239,1) 50%, rgba(206,199,236,1) 51%, rgba(193,191,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=0 );
}
.sub-nav .btn-info {
    background-color: rgba(193,191,234,1);
    border-color: rgba(193,191,234,1);
    color: #333;
}
.list-files {
    margin: 10px 0;
}
.list-files li {
    height: 35px;
    padding-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.list-files .fa {
    margin-left: 2px;
}
textarea.form-control {
    resize: vertical !important;
}
.sub-cover:last-child {
    margin-bottom: 0px;
}
.qgroup-cover {
    border-radius: 15px;
    padding: 15px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606c88+0,3f4c6b+100;Grey+3D+%232 */
    background: #606c88; /* Old browsers */
    background: -moz-linear-gradient(top,  #606c88 0%, #3f4c6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #606c88 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #606c88 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
.bigpad {
    height: 700px;
    padding-top: 175px;
}
.bigpad .lead {
    font-size: 100px;
}
.bigpad p {
    text-align: center;
}
.ajax-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 10;
}
.ajax-loader img {
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
}