﻿.pricedepreceated{
	 font-size: 15px;
	 color: #A9A9A9;
}
video {
  background-color: #f0f0f0;
}
.min-height {
    min-height: 800px;
}
.custom_button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
}
.form-group i {
    color: #FF0000;
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.form_bg
{
    background-color:#fafafa;
    padding:20px;
}
.color_blue
{
   color:#0072c5;
}
.margin_top_5
{
    margin-top:5px;
}
.margin_top_10
{
    margin-top:10px;
}
.margin_top_15
{
    margin-top:15px;
}
.margin_top_25
{
    margin-top:25px;
}
.margin_top_40
{
    margin-top:100px;
}
.margin_top_50
{
    margin-top:50px;
}
.margin_top_60
{
    margin-top:75px;
}
.margin_top_60_f
{
    margin-top:60px;
}
.margin_top_90
{
    margin-top:90px;
}
.padding_top_75 {
    padding-top:75px;
}
.logo-profile {
  margin: 0;
  font-weight: 300;
}
.img-logo {
  max-height: 50px;
  font-size: 14px;
}
.logo-profile span {
  padding-left: 10px;
}
.btn-width{
    padding-left:40px;
    padding-right:40px;
}

/****
	@fraazhashmi
****/
input.ng-invalid.ng-dirty{
	border: solid 1px red;
}
.popup-error {
	position: fixed;
	top: 110px;
	right: 10px;
	z-index: 9999;
	background-color: #000;
	color: #fff;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 5px 6px 9px 0px #ccc;
}
.popup-error > div {
	border-bottom: 1px solid #fff;
}
/* code for datepicker disabled dates */
.datepicker td.day.disabled {
	color: #eee;
}
.datepicker td.day.disabled:hover {
	background-color: #e2e2e2;
}
#mapContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  overflow: hidden;
  z-index: 1100;
  background-color: rgba(0,0,0,0.8);
  color: #f0f0f0;
  border: 0px;
}
#mapview {
  position: absolute;
  background-color: rgb(255,255,255);
  padding: 10px;
  color: #303030;
  border-radius: 10px;
}
.custom-body-table {
    border: medium none !important;
}
.custom-body-table td {
    border: medium none !important;
}
.custom-body-table tr {
    background: none repeat scroll 0 0 #f1f1f1;
}
.custom-list {
    margin: 0;
    padding: 0;
}
.custom-list > li {
    display: inline-block;
    list-style: outside none none !important;
    width: 135px !important;
}
.custom-list > li:first-child {
    display: inline-block;
    list-style: outside none none;
    width: 250px !important;
}
.custom-bg {
    background: none repeat scroll 0 0 #106bb5;
    border-radius: 4px 4px 0 0;
    float: left;
    padding: 0 5px;
    width: 100%;
}
.custom-bg h5{
	color:#fff;
}
.custom-font td {
    font-size: 12px;
}
.custom-font .panel-heading {
    padding: 5px 10px;
}
.txt-captial {
   text-transform:capitalize;
}
.btn-custom {
	border-radius: 0px;
}
.selectedOption {
	background: #BAE2C8;
	border-left: 3px solid red;
}
.selectedOption:hover {
	background: #BAE2C8;
	border-left: 3px solid red;
}
.no-margin {
	margin: 0px;
}
.licenseOption {
	cursor: pointer;
}
.big-font {
	font-size: 2em;
}
#searchDiv1 {
	color: #000;
	overflow-y: auto;
	max-height: 99px;
	padding-left: 1%;
	z-index: 1000;
	position: absolute;
	margin-top: 1%;
	border-radius: 5px;
	background-color: #f1f1f1;
	width: 100%;
}
#searchDiv {
	color: #000;
	overflow-y: auto;
	max-height: 350px;
	padding-left: 1%;
	z-index: 1000;
	position: absolute;
	margin-top: 12%;
	border-radius: 5px;
	background-color: #f1f1f1;
	width: 89%;
}
.searchLi {
	list-style: none;
	padding: 3px;
text-transform: capitalize;
}
.searchLi:hover {
	background: #fff;
	cursor: pointer;
}
.panel {
	padding-left: 1%;
	padding-right: 1%;
}
.categories > ul {
	list-style: none;
	padding-left: 5%;
}
.divider {
	color: #CBC8C8;
	height: 5px;
	background: #F1F1F1;
	width: 102.5%;
	margin-left: -1.2%;
}
.no-bottom-margin {
	margin-bottom: 0px;
}

.custom-success-badge {
    background-color: #2DC52F;
    border-radius: 5px;
    color: #fff;
    padding: 8px;
}
.custom-danger-badge {
    background-color: #E44B4B;
    border-radius: 5px;
    color: #fff;
    padding: 8px;#E44B4B
}

.panel-heading .panel-title {
margin-top: 0px;
margin-bottom: 0;
font-size: 16px;
color: inherit;
}

body {
	
}
.gold {
    color: rgb(250, 212, 7);
}
.featured-bg {
  background-color: #FFFFE0;
}
.block.testimonial {
  background: url(../img/geometry.png) #fefefe repeat;
  position: relative;
}
.testimonial-slider {
  padding: 30px 60px;
  overflow: hidden;
}
.testimonial-slider .avatar-cover {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.testimonial-slider img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #f88239;
}
.testimonial-slider h3 {
  font-size: 36px;
}
.testimonial-slider .stars {
  margin-bottom: 20px;
}
.testimonial-slider p {
  margin-left: 0;
  text-align: center;
  font-size: 24px;
  padding: 0 50px;
  font-style: italic;
}
.testimonial-slider p:before,.testimonial-slider p:after {
  content: '"';
}

.courses-join-hide .course-joined {
  display: none !important;
}
@media (min-width: 992px) {
  .pl-clr {padding-left: 0 !important;}
}
.pad-clr {padding: 0 !important;}
.border-clr{border:0 !important;}
.bg-clr {background: transparent !important;}
.box-clr {-webkit-box-shadow: none;box-shadow: none;}
.btn-inverse {
  color: #fbfbfb;
  background-color: #626664;
  border-color: #626664;
  display: inline-block;
  margin: 5px 5px 5px 1px;
  text-align: center;
  line-height: 36px;
  width: 36px;
  height: 36px;
  font-size: 20px;
  padding: 0;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-inverse:active,
.btn-inverse.active,
.open > .dropdown-toggle.btn-inverse {
  background-image: none;
}
.course-section {
  padding-top: 20px;
  background-color: #fff;
}
.course-header {
  margin-bottom: 20px;
}
.course-title,.course-subtitle {
  margin-top: 0;
}
.course-meta {
  font-size: 14px;
  margin-bottom: 15px;
}
.course-meta .author,.course-meta .stars {
  font-style: normal;
}
.course-meta .author-by {
  margin-right: 5px;
  font-style: italic;
}
.course-meta .author {
  margin-right: 20px;
}
.course-meta .stars {
  margin-right: 10px;
}
.course-meta .reviews-link {
  color: #797979;
}
.course-showcase {
  margin-bottom: 30px;
}
.course-img-preview {
  position: relative;
  width: 100%;
  min-height: 250px;
  display: block;
}
.course-showcase img {
  min-height: 250px;
}
@media (min-width: 480px) {
  .course-img-preview, .course-showcase img {
    min-height: 325px;
  }
}
@media (min-width: 768px) {
  .course-img-preview, .course-showcase img {
    min-height: 375px;
  }
}
@media (min-width: 992px) {
  .course-img-preview, .course-showcase img {
    min-height: 398px;
  }
}
@media (min-width: 1200px) {
  .course-img-preview, .course-showcase img {
    min-height: 420px;
  }
}
.course-img-preview img {
  height: 100%;
  position: absolute;
}
.course-img-preview .fa {
  font-size: 62px;
  display: inline-block;
  width: 54px;
  height: 58px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.course-description {
  font-size: 14px;
  margin-bottom: 30px;
  color: #4a4a4a;
}
.course-description p {
  margin-left: 0;
}
.desc-content {
  margin-bottom: 5px;
  overflow: hidden;
  height: 84px;
}
.get-details {
  display: block;
  margin-bottom: 20px;
}
.desc-block {
  margin-bottom: 20px;
}
.desc-block ul {
  margin-left: 0;
  padding-left: 20px;
}
.course-index {
  position: relative;
  overflow: hidden;
}
.course-index table {
  margin-bottom: 30px;
}
.course-index .course-subject {
  background-color: #fafafa;
  position: relative;
  padding: 10px;
  min-height: 80px;
}
.course-index .subject-avatar {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.course-index .subject-title {
  margin-left: 70px;
  margin-top: 0;
  min-height: 50px;
  font-size: 20px;
}
.course-index .ssection {
  padding: 30px 10px 10px 10px;
}
.ssection-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  display: inline-block;
  width: 100%;
  position: relative;
}
.ssection-meta {
  display: none;
}
.ssection-meta p {
  margin: 0;
}
.course-index .ssection-content {
  padding: 10px 10px 10px 20px;
}
.ssection-content .ssection-title {
  font-weight: 400;
}
.course-index .lecture {
  padding: 15px 15px 15px 20px;
}
.course-index .lecture:hover {
  background-color: #f5f7f8;
}
.course-index .lecture.active {
  background-color: #fff8c7;
}
.course-index .lecture.active:hover {
  background-color: #fff5ae;
}
.lecture-link {
  display: block;
}
.lecture-link:hover {
  color: #106BB5;
}
.lecture-title {
  margin: 0;
  position: relative;
}
.lecture-play {
  position: absolute;
  left: 0;
}
.lecture-title-blk {
  margin-left: 20px;
}
.lecture.active .lecture-title-blk {
  font-weight: bold;
  color: #000;
}
.lecture-number {
  margin-right: 5px;
}
.lecture-title-txt {
  margin-right: 10px;
}
.lecture-duration {
  display: inline-block;
  font-weight: normal;
  font-size: 13px;
  color: #797979;
}
.lecture-play-btn {
  position: absolute;
  right: -10px;
  top: -10px;
}
.lecture-play-btn .btn {
  margin-top: 0;
}
.btn-ssuccess {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  background-image: -webkit-linear-gradient(270deg, #35af67, #1d974e);
  background-image: linear-gradient(180deg, #35af67, #1d974e);
}
.btn-ssuccess:hover,
.btn-ssuccess:focus,
.btn-ssuccess.focus,
.btn-ssuccess:active,
.btn-ssuccess.active,
.open > .dropdown-toggle.btn-ssuccess {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-ssuccess:active,
.btn-ssuccess.active,
.open > .dropdown-toggle.btn-ssuccess {
  background-image: none;
}
.btn-ssuccess.disabled,
.btn-ssuccess[disabled],
fieldset[disabled] .btn-ssuccess,
.btn-ssuccess.disabled:hover,
.btn-ssuccess[disabled]:hover,
fieldset[disabled] .btn-ssuccess:hover,
.btn-ssuccess.disabled:focus,
.btn-ssuccess[disabled]:focus,
fieldset[disabled] .btn-ssuccess:focus,
.btn-ssuccess.disabled.focus,
.btn-ssuccess[disabled].focus,
fieldset[disabled] .btn-ssuccess.focus,
.btn-ssuccess.disabled:active,
.btn-ssuccess[disabled]:active,
fieldset[disabled] .btn-ssuccess:active,
.btn-ssuccess.disabled.active,
.btn-ssuccess[disabled].active,
fieldset[disabled] .btn-ssuccess.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.buy-course {
  background-color: #f8f8f8;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.buy-course-content {
  padding: 20px;
}
.buy-course .course-price {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: #444;
}
.price-discount {
  text-decoration: line-through;
  font-size: 16px;
  color: #797979;
}
.buy-course-terms-links {
  margin-top: 10px;
}
.buy-course-terms-links .list-inline {
  text-align: center;
  margin-bottom: 0;
  line-height: 25px;
}
.buy-course-terms-links .list-inline li:first-child {
  border-right: 1px solid #000;
}
.course-meta-data {
  position: relative;
  border-top: 4px solid #dae1e5;
  padding-top: 15px;
  padding-bottom: 10px;
  overflow: hidden;
}
.course-meta-data label {
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0;
}
.course-meta-data .value {
  font-weight: bold;
}
.course-meta-content {
  margin-bottom: 0;
}
.course-meta-content li {
  padding: 7px 5px !important;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}
.course-meta-content li:last-child {
  border: none;
}
.course-meta-content .list-item-short {
  float: left;
  width: 50%;
}
.course-meta-content .list-item-long {
  width: 100%;
}
.course-meta-content .btn-category {
  margin-bottom: 5px;
}
.btn-category {
  color: #797979;
  background-color: transparent;
  border-color: #ccc;
  font-weight: bold;
}
.btn-category:hover,
.btn-category:focus,
.btn-category.focus,
.btn-category:active,
.btn-category.active,
.open > .dropdown-toggle.btn-category {
  color: #106BB5;
  background-color: transparent;
  border-color: #adadad;
}
.btn-category:active,
.btn-category.active,
.open > .dropdown-toggle.btn-category {
  background-image: none;
}
.about-instructor {
  position: relative;
  border-top: 4px solid #dae1e5;
  padding: 15px 0;
}
.instructor-title {
  margin-top: 0;
  font-size: 14px;
}
.instructor-description {
  line-height: 1.6;
  min-height: 60px;
  height: 100px;
  overflow: hidden;
}
.instructor-avatar {
  width: 60px;
  height: 60px;
  float: left;
  margin: 4px 15px 4px 0;
  border-radius: 10%;
}
.social-share {
  position: relative;
  border-top: 4px solid #dae1e5;
  padding: 15px 0;
  width: 100%;
}
.social-title {
  margin-top: 0;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}
.social-item {
  width: 33.33%;
  padding: 0 !important;
  text-align: center;
  float: left;
}
.social-item .fa {
  font-size: 36px;
}
.social-item .fa-facebook {
  color: #3B5998;
}
.social-item .fa-twitter {
  color: #4badea;
}
.social-item .fa-google-plus {
  color: #d34836;
}
.other-courses-title {
  margin-top: 0;
  font-size: 14px;
}
.other-courses {
  position: relative;
  border-top: 4px solid #dae1e5;
  padding: 15px 0;
}
.other-item {
  background-color: #fefefe;
  border-style: solid;
  border-color: #ccc;
  border-top-width: 0px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-right-width: 1px;
  padding: 10px;
}
.other-item:first-child {
  border-top-width: 1px;
}
.other-title, .other-title:hover {
  color: #797979;
  display: inline-block;
  margin-bottom: 5px;
}
.other-courses .cost {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  display: inline-block;
  margin-bottom: 5px;
}
.other-courses img.btn-block {
  min-height: 150px;
}

@media (min-width: 480px) {
  .other-courses img.btn-block {
    min-height: 150px;
  }
}
@media (min-width: 768px) {
  .other-courses img.btn-block {
    min-height: 150px;
  }
}
@media (min-width: 992px) {
  .other-courses img.btn-block {
    min-height: 70px;
  }
}
@media (min-width: 1200px) {
  .other-courses img.btn-block {
    min-height: 80px;
  }
}
.course-menu {
  width: 100%;
  z-index: 1;
  display: none;
  top: 0;
}
.flex-block {
  display: flex;
  width: 100%;
}

.mejs-container { width: 100% !important; height: auto !important; padding-top: 57%; } .mejs-overlay, .mejs-poster { width: 100% !important; height: 100% !important; } .mejs-mediaelement video { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100% !important; height: 100% !important; }