.rate-reviews .block-title {
	font-size: 22px;
}
.rate-reviews .subblock-title {
	font-size: 16px;
}
.rate-reviews .avg-rate{
	color: #f88239;
	font-size: 96px;
}
.stars {
	position: relative;
	white-space: nowrap;
	display: inline-block;
}
.stars:before {
	font-family: FontAwesome;
	content: "\f005 \f005 \f005 \f005 \f005";
	color: #aaa;
	font-size: 20px;
	line-height: 1;
	letter-spacing: 4px;
	cursor: default;
}
.stars span {
	position: absolute;
	left: 0;
	overflow: hidden;
}


.stars span:before {
	font-family: FontAwesome;
	content: "\f005 \f005 \f005 \f005 \f005";
	color: #FAD407;
	font-size: 20px;
	line-height: 1;
	letter-spacing: 4px;
	cursor: default;
}
.rating .rating-count {
	font-size: 16px;
}
.rating .subject {
	font-weight: 700;
	font-size: 14px;
}
.list-rates {
	font-size: 16px;
	margin-top: 10px;
}
.list-rates li {
	position:  relative;
	margin-bottom: 10px;
}
.list-rates .item-title {
	position: absolute;
	display: block;
}
.list-rates .progress {
	margin-left: 62px;
	margin-bottom: 0;
}
.list-rates .progress-bar {
	background-color: #f88239;
}
.comments .list-comments{
	margin-top: 20px;
	/* border-top: 1px solid #e1e1e1; */
}
.comments .comment-item:first-child {
	border-top: 1px solid #e1e1e1;
}
.comments .comment-item {
	border-bottom: 1px solid #e1e1e1;
	padding-top: 30px;
	padding-bottom: 15px;
}
.comments .user-block {
	width: 100%;
	position: relative;
	min-height: 80px;
}
.comments .user-avatar {
	position: absolute;
	width: 60px;
	height: 60px;
}
.comments .user-avatar img {
	width: 100%;
	border-radius: 50%;
}
.comments .user-block span {
	position: absolute;
	margin-left: 68px;
	font-size: 16px;
}
.comments h4 {
	font-size: 16px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: 700;
}
.comments .comment {
	/* font-size: 14px; */
}
.comments .comment p {
	margin-left: 0;
}
.top-rating {
	margin-top: 3%;
	font-size: 1.8em;
}
.progress {
	width: 65%;
	float: left;
}