.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.form_bg
{
    background-color:#fafafa;
    padding:20px;
}
.color_blue
{
   color:#0072c5;
}
.margin_top_5
{
    margin-top:5px;
}
.margin_top_10
{
    margin-top:10px;
}
.margin_top_15
{
    margin-top:15px;
}
.margin_top_25
{
    margin-top:25px;
}
.margin_top_40
{
    margin-top:40px;
}
.margin_top_50
{
    margin-top:50px;
}

.btn-width{
    padding-left:40px;
    padding-right:40px;
}