﻿.sm2-bar-ui {
 font-size: 16px;
}
.sm2-bar-ui .sm2-main-controls,
.sm2-bar-ui .sm2-playlist-drawer {
 background-color: #2288cc;
}
.sm2-bar-ui .sm2-inline-texture {
 background: transparent;
}
#question {
	height: auto !important;
	min-height: 100px !important;
	/* new lines */
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 20px;
}
#answer {
	max-height: 150px;
	overflow-x: hidden;
	overflow-y: auto;
}
.sidebar-toggle .navbar-toggle {
	float: left;
	margin-top: 15px;
	border-color: #DDD;
}
.sidebar-toggle .navbar-toggle:hover {
	background-color: #f1f1f1;
}
.sidebar-toggle .icon-bar {
	background-color: #DDD;
}
@media(min-width: 768px) {
	.sidebar-toggle {
		display: none;
	}
}
.min-500 {
	min-height: 500px;
}
#padTO10{
	padding-top:10px;
}
.bg-viol
{
background-color: #ecf0f1;
}
.mbT10{
padding-top:10px;
}
.imgbox120
{
width: 100%;
height: 120px;
}
.mb30{
margin-bottom: 30px;
}
.mb10{
margin-bottom: 10px;
}
.mt50 {
	margin-top: 50px;
}
.pd20 {
	padding: 20px;
}
.pad-clr {
	padding: 0;
}
.ht-250 {
	height: 250px;
}
.btn-danger1 {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.text-uppercase {
	text-transform: uppercase;
}
.oy-auto {
	overflow-y: auto;
}
.marks-dis {
	font-size: 18px;
}
.marks-dis th, .marks-dis td {
	vertical-align: middle !important;
}
.marks-dis .q-even {
	background-color: #f6f6f6;
}
#packageShowPanel,.package-panel {
	min-height: 370px;
    box-shadow: 0px 0px 1px #aaa;
    padding: 0;
}
.package-img {
	width: 100%;
	height: 200px;
}
@media(min-width: 768px) {
	.package-img {
		height: 180px;
	}
}
@media(max-width: 767px) {
	.package-img {
		height: 300px;
	}
}
#main-content {
	min-width: 570px;
}
#main-content>.panel {
	min-width: 570px;
}
#main-content>.wrapper {
	min-width: 600px;
}
#main-content .table {
	min-width: 540px;
}
#packname{
width: 100%;
height: 35px;
}
#packdesk {
	width: 100%; 
	height: 90px;
}
#pstartDate {
	width: 100%;
	height: 30px;
}
.package-panel .panel-body {
	padding: 15px;
}
.package-panel .author-by {
	min-height: 24px;
	text-align: center;
}
.package-panel strong {
	margin-bottom: 20px;
}
.packageimagebox {
	position: relative;
	top: -55px;
	left: 78%;
	display: none;
	width: 150px;
}
.previewPackage {
	margin-bottom: 20px;
}
.editPackageButton {
	float: right; 
	border:none; 
	margin-top: 0px;
}
.packageEdit_cancelButton{
	float: right; 
	border-color: rgb(255, 255, 255); 
	background-color: #f6954b;
	margin-top: 0px;
}

.vh {
	visibility: hidden;
}
.dib {
	display: inline-block;
}
/* courses list starts */
.grid-box-course {
	border-bottom: 1px solid #ccc;
	position: relative;
	background-color: #fff;
	padding-top: 20px;
}
.grid-box-course hr{
	color: #CBC8C8;
}
.grid-box-course .course-img {
	width: 100%;
	height: 130px;
}
.grid-box-course .price-row {
	color: #000;
}
/*give discount button*/
.buttonpad{
	padding-top:10px;
}
.discountClock{
	font-size:35px; 
	color:orange;
	margin:5px 10px 0px 0px;
}
/*give discount button*/
.priceDisp, .legend {
	font-weight: bold;
}
/* courses list ends */
.three-row  s{
	padding: 0 30px !important;
}
.col-lg-2.checkbox {
	margin-top: 0;
}
.col-lg-2.checkbox input  {
	margin-left:0px;
}
p {
	margin: 0 0 10px;
	text-align: justify;
}
.custom-form {
	width: 50%;
}
.panel-heading h4 {
	display: inline;
	font-size:16px;
}
.custom_modal input {
	margin-left: -30px !important;
}
.modal-body {
	padding: 20px;
	position: relative;
}
.custom_space {
	min-height: 375px;
}
.custom_label {
	display: block;
	font-weight: normal;
	padding: 7px;
}
.nav-tabs.nav-justified > li > a {
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #FFFFFF !important;
}
.uplod {
	padding: 5px 0 0 15px;
}
.pull-left.custom-img {
	width: 60%;
}
.pull-left.custom-right-img {
	width: 38%;
}
.custom_padding
{
	padding:20px;
}
.custom_img, .mrg-b-20 {
	margin-bottom: 20px;
}
.custom_img img
{
	box-shadow: 3px 7px 5px 0 #cfcfcf;
	width: 100%;
	height: 400px;
}
.follower-foot.custom-follower-foot p {
	font-size: 18px;
	text-align: center;
}
.custom-follower-foot ul li {
	border-bottom:none !important;
}
.custom_modal{
	margin: 30px auto;
	width: 1200px;
}
.custom-right {
	padding: 0 0 0 37px;
}
.custom-left {
	padding: 0 0 0 55px;
	text-align: center;
}
.subject-image-thumb img {
	width: 100px;
	height: 100px;
	border-radius: 4px;
	margin-top: -50px;
	border: 2px solid #fff;
	margin-left: 10px;
}
.custom_heading {
	font-size: 24px;
}
ul.summary-list {
	display: inline-block;
	margin-bottom: 0;
	padding-left: 0;
	width: 100%;
}
ul.summary-list-a > li {
	display: inline-block;
	text-align: center;
	width: 14%;
}
ul.summary-list-a > li > a > i {
	display: block;
	font-size: 18px;
	padding-bottom: 5px;
}
ul.summary-list-a > li > a {
	color: #818181;
	display: inline-block;
	padding: 10px 0;
}
ul.summary-list-a > li {
	border-right: 1px solid #eaeaea;
}
ul.summary-list-a > li:last-child {
	border-right: medium none;
}
.custom-lecture {
	background: none repeat scroll 0 0 #ffffff;
	border: 1px solid #cfcfcf;
	margin: 15px;
	min-height: 400px;
	overflow: scroll;
}
.custom-exam h4, .custom-exam h5 {
	display: inline-block;
}
.custom-exam span {
	float: right;
}
.custom-add-sidebar .fa.fa-check {
	color: #6dbb4a;
}
.row.panel-body label {
	text-align: right;
}
.custom-add-sidebar .progress {
	border-radius: 0;
	margin-bottom:-5px;
}
.red
{
	color:#ef6f66;
}
.btn-dark {
	background: none repeat scroll 0 0 #0072c5;
	border-color: #0072c5;
	color: #ffffff;
}
.btn-dark:hover {
	background: none repeat scroll 0 0 #0067B3;
	border-color: #0072c5;
	color: #ffffff;
}
.custom-exam.panel-body {
	padding: 5px;
}
.nav.nav-pills.nav-stacked.custom-add-sidebar {
	max-height: 275px;
	overflow-y: scroll;
	overflow: auto;
	height: auto;
}
.panel.section-table {
	max-height: 190px;
	overflow-y: scroll;
	overflow: auto;
}
.custom-exam {
	margin-bottom: 10px;
}
.custom-scroll {
	max-height: 600px;
	overflow-y: scroll;
	overflow: auto;
}
.custom-add-sidebar.min li a {
	padding: 0 15px;
}
.custom-side-tree .tree-item {
	border: medium none !important;
}
.custom-side-tree .tree-folder {
	border: medium none;
}
.custom-side-tree .tree .tree-item, .tree .tree-folder .tree-folder-header {
	box-sizing: content-box;
	color: #ffffff;
	font-size: 11px;
	margin: 0;
	padding: 4px 0 6px;
	text-transform: capitalize;
}
.custom-side-tree .tree .tree-folder .tree-folder-header:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 4px;
}
.custom-side-tree .tree .tree-item:hover {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-radius: 4px;
}
.tree.tree-plus-minus .tree-folder-header .fa-folder-open:before {
	background: none;
	color: #f2f2f2;
	content: "\f150";
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	width: 16px;
	padding-left: 5px;
}
.tree.tree-plus-minus .tree-folder-header .fa-folder:before {
	background: none;
	color: #f2f2f2;
	content: "\f152";
	display: inline-block;
	height: 16px;
	line-height: 16px;
	vertical-align: middle;
	width: 16px;
	padding-left: 5px;
}


/*
	Profile CSS
	Author: Fraaz H.
*/

.cover-photo {
	height: 370px;
	overflow: hidden;
}
.cover-photo  img {
	height: 370px;
	width: 100%;
}

button.upload-cover-image {
	position: absolute;
	right: 10px;
	bottom: 20px;
	display: none;
}

button.upload-profile-image {
	right: 30px;
	bottom: 25px;
	font-size: 20px;
	display: none;
}

img#uploaded-image{
	margin-top: 20px;
	max-width: 815px;
	height: auto;
	display: none;
}

.panel .edit-section{
	display: none;
}

.hidden-on-load,
.hidden-l{
	display: none;
}

div.form-msg {
	background-color: #9C1616;
	color: #FFF;
	padding: 10px;
	display: none;
}

div.breadcrumbs {
	margin-top: 10px;
	margin-left: -15px;
	padding-left: 15px;
	margin-right: -15px;
	margin-bottom: -10px;
	padding: 5px 0px 5px 15px;
	background-color: #425B70;
	font-size: 12px;
}
div.breadcrumbs a {
	color: #fff;
}
div.breadcrumbs a:hover {
	text-decoration: underline;
}
div.course-subjects {
	display: none;
	margin-left: 30px;
}
.course-subjects .expiry-date {
	margin-left: -20px;
}
.course-subjects .license {
	margin-left: 10px;
}

div.bubble-msg {
	background-color: #5CB85C;
	color: #fff;
	position: fixed;
	top: -100px;
	left: 35%;
	width: 24%;
	padding: 20px 3%;
	border: 1px solid #fff;
	text-align: center;
	/*border-radius: 3px;*/
	box-shadow: 0px 3px 11px -2px #000;
	z-index: 99999;
	font-size: 13px;
	/*font-weight: bold;*/
}

.back-login-form {
	background-color: #fff;
	padding: 80px;
	margin-top: 40px;
}

.sort-placeholder {
	background-color: #f2f2f2;
	border: 1px solid #ccc;
}

.ui-sortable tr {
	cursor: move;
}

tr.deleted-item td,
tr.deleted-item:hover td {
	background-color: #FCC5C5 !important;
	color: #000;
}

.subject-image-thumb img{
	width: 100px;
	height: 100px;
	border-radius: 4px;
	margin-top: -50px;
	border: 2px solid #fff;
	margin-left: 10px;
}

.flat-carousal {
	background: #106BB5;
}

#loader_outer {
	position:fixed;
	width:100%;
	z-index:9999;
}


/* Dancing Dots*/

@-webkit-keyframes dancing-dots-jump {
	0% { top: 0; }
	55% { top: 0;     text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
	60% { top: -20px; text-shadow: 5px 20px 5px rgba(0,0,0,0.5); }
	80% { top: 4px;   text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
	90% { top: -3px;  text-shadow: 0px 3px 1px rgba(0,0,0,0.5); }
	95% { top: 1px;   text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
	100% { top: 0;    text-shadow: 0px 0px 0px rgba(0,0,0,0.5);}
}

@-moz-keyframes dancing-dots-jump {
	0% { top: 0; }
	55% { top: 0;     text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
	60% { top: -20px; text-shadow: 5px 20px 5px rgba(0,0,0,0.5); }
	80% { top: 4px;   text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
	90% { top: -3px;  text-shadow: 0px 3px 1px rgba(0,0,0,0.5); }
	95% { top: 1px;   text-shadow: 0px 0px 0px rgba(0,0,0,0.5); }
	100% { top: 0;    text-shadow: 0px 0px 0px rgba(0,0,0,0.5);}
}
#dancing-dots-text{
	width: 815px;
	margin-left:20%;
	text-align: center;
	padding: 10px 0;
	background: none;
	color: #333;
	font-weight: bold;
}
#dancing-dots-text span {
	font-size: 60px;
	line-height: 10px;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
	letter-spacing: 3px;
}

#dancing-dots-text span span {
	-webkit-animation-duration: 1200ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: dancing-dots-jump;
	-moz-animation-duration: 1200ms;
	-moz-animation-iteration-count: infinite;
	-moz-animation-name: dancing-dots-jump;
	-o-animation-duration: 1200ms;
	-o-animation-iteration-count: infinite;
	-o-animation-name: dancing-dots-jump;
	padding: 1px;
	position: relative;
}

#dancing-dots-text span span:nth-child(1) {
	-webkit-animation-delay: 0ms; -moz-animation-delay: 0ms;
	-o-animation-delay: 0ms;
}

#dancing-dots-text span span:nth-child(2) {
	-webkit-animation-delay: 100ms; -moz-animation-delay: 100ms;
	-o-animation-delay: 100ms;
}

#dancing-dots-text span span:nth-child(3) {
	-webkit-animation-delay: 300ms; -moz-animation-delay: 300ms;
	-o-animation-delay: 300ms;
}

#dancing-dots-text span span:nth-child(4) {
	-webkit-animation-delay: 500ms; -moz-animation-delay: 500ms;
	-o-animation-delay: 500ms;
}

#dancing-dots-text span span:nth-child(5) {
	-webkit-animation-delay: 700ms; -moz-animation-delay: 700ms;
	-o-animation-delay: 700ms;
}
/* dot loader end */


/*
	Content Page
*/
#content {
	padding-top: 20px;
	padding-bottom: 20px;
}

#content .indented {
	margin-left: 30px;
	margin-right: 30px;
}
#content .headings {
	margin-bottom: 20px;
}
#content label {
	margin-bottom: 0;
}
 .add-heading {
	border-radius: 0px;
 }
 .add-heading:hover {
	background-color: #2A353D;
	cursor: pointer;
 }
 .add-content {
	border-radius: 0px;
	background-color: #515B63;
 }
 .add-content:hover {
	background-color: #294E6D;
	cursor: pointer;
 }
 .form-control.error {
	border-color: rgb(228, 91, 91);
 }
 .section-heading .edit-heading,
 .section-content .edit-content {
	display: none;
	color: #ddd;
 }
.section-heading:hover .edit-heading,
.section-content:hover .edit-content{
	display: inline;
 }
.section-heading .edit-heading:hover,
.section-content .edit-content:hover{
	color: #fff;
}

.section-heading.deleted-section .view-pane,
.section-content.deleted-section .view-pane{
	background-color: #FCC5C5 !important;
	color: #000;
}
#content .section-heading {
	margin-top: 10px;
}
#content .panel-heading{
	border-radius: 0;
}
#content .section-heading .panel-heading {

}

#content .section-content .panel-heading {
	background-color: #3F739E;
}

#content .edit-pane {
	border: solid 1px #ccc;
	margin: 10px auto;
	background-color: #F5F5F5;
}

.stuff-type-selector,
.stuff-file-uploader,
.stuff-text-widget,
.stuff-link-widget{
	margin-top: -38px;
}

.stuff-type-selector-body,
.stuff-file-uploader-body,
.stuff-text-widget-body,
.stuff-link-widget-body,
.stuff-dp-body{
	padding: 10px;
	border: solid 1px #ccc;
	margin-bottom: 10px;
	margin-top: -1px;
	background-color: #F5F5F5;
}

.stuff-type-selector-header,
.stuff-file-uploader-header,
.stuff-text-widget-header,
.stuff-link-widget-header,
.stuff-dp-header{

	margin-bottom: 3px;
	margin-right: 10px;
}

.stuff-type-selector-header > span,
.stuff-file-uploader-header > span,
.stuff-text-widget-header > span,
.stuff-link-widget-header > span{
	background-color: #F3F3F3;
	padding: 4px;
	font-weight: bold;
}
.show-stuff-dp{
	/*background-color: #F3F3F3;*/
	padding: 4px;
	font-weight: bold;
	color: #000;
}
.stuff-file-uploader .stuff-msg {
	padding: 2px 5px;
	background: #E6E4DD;
	border: 1px solid #e1e1e1;
	font-weight: normal;
	width: 70%;
	margin-right: 45px;
}

div.stuff-desc {
	margin-top: 15px;
}
.stuff-description-widget textarea{
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
}
.stuff-icon.large {
	float: left;
	width: 100px;
	height: 80px;
	font-size: 60px;
	margin: 10px;
	text-align: center;
}

.stuff-details {
	float: left;
	margin-top: 20px;
}
span.file-name {
	display: block;
	font-size: 14px;
	font-weight: bold;
}
.edit-stuff {
	margin-top: 20px;
	display: block;
}
.supp-section {
	border-top: 1px solid #ccc;
	margin: auto -10px;
	padding: 10px;
	padding-bottom: 0;
}
.stuff-links {
	float: right;
}
.stuff-description-widget {
	padding: 5px 10px;
	border-bottom: 1px solid #ccc;
	margin: auto -10px;
	margin-bottom: 10px;
}
.stuff-description-display {
	padding: 5px;
	cursor: pointer;
}
.stuff-description-display:hover {
	background-color: #E6E6E6;
	padding: 5px;
}
.show-stuff-dp i:hover{
	color: #fff;
	cursor: pointer;
}
.stuff-dp.deleted{
	opacity: 0.4;
}
.supplementary-stuff-widget {
	padding: 5px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.stuff-file-uploader.supp-files{
	margin-top: -41px;
}
.stuff-file-uploader.supp-files .stuff-file-uploader-header{
	margin-bottom: 0px;
}
.stuff-file-uploader.supp-files .stuff-file-uploader-header > span.pull-right{
	backgroung-color: #ccc;
	border: 1px solid #aaa;
	border-bottom: none;
}
.headings .view-pane, .headings .edit-pane{
	cursor: move;
}
.video-icon{
  margin-top: -27px;
}
.video-icon a.video-text{
  color: #818181;
  display: inline-block;
  padding: 10px 0;
}
.video-icon i.fa-video-camera{
  display: block;
  font-size: 18px;
  padding-bottom: 5px;
}
#currentExams .tooltips {
	margin: 2px;
}

.sectionNewQuestion {
	background-color: #F5F5F5;
	margin: 10px;
}
.import-question {
	max-height: 300px;
	overflow-y: scroll;
	overflow: auto;
}
.sort-li {
	cursor: move;
	line-height: 5px;
}

/* for deleted sections */
li.deleted-item,
li.deleted-item:hover {
	background-color: #FCC5C5 !important;
	color: #000;
}

.switch-wrapper {
	display: inline-block;
	position: relative;
	top: 3px;
}

.switch-label {
	font-weight: bold;
	color: rgb(0, 92, 128);
}

.add-option {
	margin-top: 10px;
}
.col-sm-6 > p span:first-child {
	float: left;
	width: 150px !important;
	font-weight: 600;
	color:#000;
}
.col-sm-12 > p span:first-child {
	float: left;
	width: 150px !important;
	font-weight: 600;
	color:#000;	
}
.custom-sub {
	font-size: 14px;
	font-weight: 600;
	color:#000;
}
.form-group label:first-child {
	font-size: 14px;
	font-weight: 600;
}
td h5, h4, h3, h2, h1 {
	margin-top: 0;
}
h1:first-letter, h2:first-letter, h3:first-letter, h4:first-letter, h5:first-letter, h6:first-letter {
	text-transform: capitalize;
}
/*.label.label-warning.label-mini {
	font-size: 12px;
}*/
.label.label-success.label-mini {
	font-size: 12px;
} 
.alert-dark {
	background-color: #2e2e2e;
	border-color: #2e2e2e;
	color: #ffffff;
	height: 35px;
	position: fixed;
	width: 30%;
	z-index:999
}
.custom-bg {
	background: none repeat scroll 0 0 #F1F2F7;
	border-radius: 4px;
	padding: 10px;
	font-size: 14px;
}
.custom-mod-button a {
	font-size: 11px;
	margin: 3px 1px;
	width: 36px;
}
.custom-mod-button {
/*    height: 150px;*/
	overflow: auto;
}
.custom-bg > span {
	float: left;
	font-size: 9px;
	margin: 4px 2px;
	width: 88px;
}
.custom-button-bottomcustom-button-bottom {
	position: absolute;
	right: 22%;
}

.inline-exam {
	float: none;
}

.btn-success.btn-info {
	color: red;
	background: yellow;
}

/* student Content Page  */
#sidebar_content {
	width: 30%;
	height: 100%;
	position: fixed;
	background: none repeat scroll 0% 0% #2E2E2E;
}
.cke_textarea_inline {
	border: 1px solid rgb(207, 198, 198);
	border-radius: 3px;
	height: 100px;
	overflow-y: scroll;
	overflow: auto;
	background: white;
}

.custom-ck-textbox {
	height: 30px !important;
	margin-top: 5px;
}
.custom-font {
	font-size: 14px;
}
.custom-all-question{
	height: 350px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.custom-right-question {
	border-left: 1px solid #cfcfcf;
	height: 300px;
}
.radio-inline, .checkbox-inline {
	float: left;
}
#sidebar.custom-sidebar {
	background: none repeat scroll 0 0 #045597;
	/* width: 22% !important; */
	padding-top: 65px;
}
@media (min-width: 768px) {
	#sidebar.custom-sidebar {
		width: 325px;
	}
}
.custom-sidebar-menu {
	margin: 0px 0 0 !important;
}
.custom-sidebar-menu .panel-heading {
	background: none repeat scroll 0 0 #045597;
	border-radius: 0 !important;
}
.custom-toggle-box {
	float: right;
	position: fixed;
	right: 0;
	color:#fff;
}
.custom-course {
	margin-left: 325px;
	color:#fff;
}
.custom-container{
	background:#E7E5E5 !important;
}
.custom-panel {
	border-radius: 0px !important;
	border-bottom: 1px solid #A0A0A0;
	/*border-top: 1px solid #A0A0A0;*/
}
.custom-content-part {
	color: #000000;
    height: 420px;
    overflow: auto;
	overflow-y: hidden;
    border: 1px solid #A0A0A0;
    width: 100%;
}
.custom-content-part.pad-clr {
	min-height: initial;
}
.custom-wrapper {
	margin-top: 60px;
	background: #fff;
	padding: 15px;
}
.custom-panel-title {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	padding-left: 5%;
}
.custom-panel-title a {
	color: #FFFFFF;
}
.custom-panel-body {
	padding: 6px 15px;
	background: #045597;
	color: #FFFFFF;
}
.avatar {
	float: left;
	height: 45px;
	width: auto;/*20%;*/
	padding: 1%;
}
.content-container {
	padding: 1% 1% 4% 1%;
	min-height: 50px;
	font-weight: 300;
	background: rgb(30, 51, 68);
	margin: 2px;
	color: #fff;
}
.content-container a {
	color: #FFFFFF;
}
.content-container:hover {
	background: #000000;
}
.content-text {
	margin-left: 60px;/*23%;*/
}
.custom-panel-heading {
	background: #000000;
	float: left;
	color: #ffffff;
	padding: 5px;
	border-color: #eff2f7;
	font-size: 16px;
	font-weight: 500;
}
.custom-panel-content {
	background: #ffffff;
	float: left;
	color: #000000;
	padding: 5px;
	border-color: #eff2f7;
	font-size: 16px;
	font-weight: 600;
	text-transform: capitalize;
}
.arrow {
	content: "";
	float: left;
	height: 8px;
	width: 7px;
	background: #000000;
	color: #495342;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	margin-top: 10px;
}
.description {
	color: #000;
}
a {
	text-transform: none;
}
.description .heading {
	font-weight: 500;
	font-size: 18px;
	color: blue;
}

.ft-link > a {
	color: #ffffff;
	float: left;
	font-size: 14px;
	line-height: 16px;
	margin: 0 10%;
	padding: 10px;
}
.custom-alert-dark {
	margin: -36px 0 0;
}
.dataTables_filter {
	float: right;
	text-align: right;
	width: 50%;
}
.dataTables_length {
	float: left;
	width: 40%;
}
.logo > img {
	width: 166px;
}
.logo-profile {
	margin: 0;
	font-weight: 300;
}
.img-logo {
	max-height: 41px;
	width: auto;
	font-size: 14px;
}
.logo-profile span {
	padding-left: 10px;
}
/*.text {
	background: none repeat scroll 0 0 #fafafa;
}*/
.custom-course .panel-heading {
	background: #000000;
}
.custom-brad {
	text-transform: capitalize;
}
@media (max-width:767px) {
.panel-body.custom-course {
	margin-left: 0% !important;
	padding: 0;
}
#sidebar.collapse {
	display: none;
}
#sidebar.collapse.in {
	display: block;
}
/* .custom-wrapper {
	padding-left: 0;
} */
/* .custom-sidebar {
	width: inherit !important;
} */
}

/* custom links of btc in chapter content view page for student */
.custom-btc-link {
	color: #BBBBBB;
}
.max-font-center {
	font-size: 16px;
	font-weight: 700;
	text-decoration: underline;
}
.min-font-center {
	font-size: 14px;
	font-weight: 700;
	text-decoration: underline;
}

#block-everything {
	width: 73%;
	height: 54%;/*67%;*/
	background: rgba(0,0,0,0);
	position: absolute;
	top: 20%;
	z-index: 999;
	display: none;
}
.custom-my-course {
	background: none repeat scroll 0 0 #ffffff;
	float: left;
	width: 100%;
	padding:15px 0;
}
.custom-width {
	float: left;
	width: 33%;
}
.custom-bg.pull-left {
	padding: 12px 0;
}
.border-none {
	padding: 10px 10px 0px !important;
}
th.border-none {
	border: medium none !important;
}

#hidden-topper-graph {
	position: fixed;
	top: 0px;
	background: rgba(0,0,0,0.5);
	width: 0px;
	height: 0px;
	overflow: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1001;
}

#topper-container {
	position: absolute;
    top: 100px;
    width: 900px;
    height: 900px;
    background: #ffffff;
    padding: 2%;
    border-radius: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#topper-container-admin {
	position: absolute;
	top: 100px;
	width: 800px;
	height: 450px;
	margin-left: 12%;
	background: #ffffff;
	padding: 2%;
	border-radius: 10px;
}

#hidden-time-graph {
	position: fixed;
	top: 0px;
	background: rgba(0,0,0,0.5);
	width: 0px;
	height: 0px;
	overflow: hidden;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

#time-container {
	position: absolute;
	top: 12%;
	width: 47%;
	height: 85%;
	background: #ffffff;
	padding: 2%;
	border-radius: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
#time-container-admin {
	position: absolute;
	top: 100px;
	width: 600px;
	height: 450px;
	margin-left: 15%;
	background: #ffffff;
	padding: 2%;
	border-radius: 10px;
}
.glyphicon.glyphicon-ok.icon-ok.check-mark {
display: none !important;
}

.custom-subject-scroll{
	height: 60px;
	overflow-y: auto;
	text-align:center;
}
.custom-subect-scroll.text-center {
	height: 60px;
	overflow: auto;
	text-transform: capitalize;
}

.price-breakdown-details {
	background: #F3F3F3;
	padding: 10px 20px;
	margin-bottom: 20px;
	border: solid 1px #E9E9E9;
}
.license-box.not-applicable {
	position: relative;

}

.license-box.not-applicable:before {
	display: block;
	position: absolute;
	content: ' ';
	background-color: rgba(203, 97, 97, 0.3);
	width: 100%;
	height: 100%;
	z-index : 100;
	margin-left: -15px;
	
}
.txt-captial {
	text-transform:capitalize;
}
.top-heading {
	font-size: 20px !important;
}

#content .section-content .panel-heading.orange {
	background-color: #ed9c28;
}


@media (max-width: 500px) {
	.custom-alignment {
		float: none;
		margin: 10px 0 0;
	}
}
#user-type {
	font-size: 18px;
}
.disable-course{
	/*margin-bottom: 30px;*/
	background-color: #f1f1f1;
	opacity: 0.5;
}
/*.disable-mycourse{
/*   margin-bottom: 30px;*/
/*   background-color: #f1f1f1;
   opacity: 0.3;
   pointer-events:none;
}*/

/* .opt-ans, .optMul-ans {
	text-transform: capitalize;
} */

#freeze {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.9);
	z-index: 1000;
	display: none;
}

.page-middle {
	position: fixed;
	top: 45%;
	left: 40%;
	color: white;
	font-size: 2.5em;
	text-align: center;
}

.myHover:hover {
	color: #FF6C60;
}
.tbl-header-row{
	border:none;
	color:rgba(8, 107, 255, 0.96);
}
.td-show-btn{
	text-decoration: underline;
}

.btn-custom {
	border-radius: 0px;
}

.btn-disabled {
	background-color: rgb(184, 183, 183);
	border-color: rgb(184, 183, 183);
	pointer-events: none;
	color: white;
}

.custom-disabled {
	color: grey;
	pointer-events: none;
}

.blue {
	color: #100BED;
	font-size: 16px;
}

.result-custom {
	border-right: 1px solid black;
	color: #aaa;
}
.result-custom strong{
	color: #000;
}
.result-custom-img {
	border-right: 1px solid black;
	text-align: center;
}
#progress {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10000;
	background-color: rgba(0,0,0,0.4);
	display: none;
}
#progress div.pcontainer {
	margin: auto;
	width: 30%;
	height: 300px;
	text-align: center;
	margin-top: 25%;
}

.revenue-head span.custom-rev-combo {
	background: #7CB5EC;
	padding: 16px;
	line-height: normal;
	-webkit-border-radius: 0px 4px 0px 0px;
	border-radius: 0px 4px 0px 0px;
}

.question-container {
	border-bottom: 1px solid rgb(231, 231, 231);
	padding-bottom: 2%;
	padding-top: 2%;
}

.dyn-data {
	height: 300px;
	overflow-y: scroll;
}

.highlight,.highlight:hover {
	background: rgba(208, 198, 15, 0.45);
}

.questions tr td{
	cursor: pointer;
}

.gold {
	color: rgb(250, 212, 7);
}

.stuff-msg {
	padding: 2px 5px;
	background: #E6E4DD;
	border: 1px solid #e1e1e1;
	font-weight: normal;
	width: 70%;
	margin-right: 45px;
}

/* custom CSS for exam modules */
.box-instructions {
	background-color: #ccc;
	padding: 20px;
	box-shadow: 1px 1px 8px 1px #000;
	border-radius: 10px;
	color: #000;
}
.box-instructions .table-striped>tbody>tr:nth-child(odd)>td, .box-instructions .table-striped>tbody>tr:nth-child(odd)>th {
	background-color: #aaa;
}
.exam-name {
	padding-bottom: 10px;
	border-bottom: 1px solid #b0b5b9;
	font-size: 22px;
}
.pf-list-md {
	margin-left: 20px;
}
.pf-list-md li {
	margin-bottom: 20px;
	font-size: 18px;
	color: #f30;
	font-weight: bold;
	list-style: disc;
}
.pf-title {
	padding: 20px 0;
    color: #045597;
    font-weight: 100;
}
.well-white {
	background-color: #fff;
}
.pf-head {
	color: #333;
	padding-bottom: 10px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 20px;
}
.pf-avatar {
	margin-bottom: 20px;
	text-align: center;
}
.pf-avatar img {
	display: inline-block;
	border-radius: 50%;
	box-shadow: 0px 2px 5px 1px #000;
	width: 100%;
	height: auto;
}
 .list-pf-mainmenu li a {
	box-shadow: 0px 0px 1px 1px #000;
	margin: 8px 0;
	background: rgba(4,76,149,1);
	/* background: -moz-linear-gradient(left, rgba(4,76,149,1) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(4,76,149,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(4,76,149,1) 0%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(4,76,149,1) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(4,76,149,1) 0%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(4,76,149,1) 0%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#044c95', endColorstr='#ffffff', GradientType=1 ); */
	font-size: 16px;
	line-height: 1.5;
	color: white;
	padding: 14px 21px;
}
.list-pf-mainmenu li a:hover,.list-pf-mainmenu li a:active,.list-pf-mainmenu li a:focus, .list-pf-mainmenu li a.selected {
	background-color: #35404d;
}
.list-pf-mainmenu .fa {
	margin-right: 10px;
}
.list-pf-mainmenu li .pf-courses {
    margin-left: 20px;
    padding: 10px;
    background-color: rgba(210,210,90,0.8);
}
.list-pf-mainmenu li .pf-co-single {
	margin-right: 10px;
}
.list-pf-menu li a {
	margin: 8px 0;
	color: white;
	padding: 7px 14px;
	background-color: #045597;
	font-size: 16px;
	line-height: 1.5;
	overflow: hidden;
}
.list-pf-menu li a:hover,.list-pf-menu li a:active,.list-pf-menu li a:focus, .list-pf-menu li a.selected {
	background-color: #35404d;
}
.list-pf-menu .checkbox {
	margin-bottom: 0;
	padding-left: 0;
}
.fileinput-button {
	background-color: #5cb85c !important;
}
.sbj-header {
	background-color: #333;
    color: #fff;
}
.sbj-sub-header {
	background-color: #666;
    color: #fff;	
}
.sbj-question {
	background-color: lightblue;
}
.sbj-answer {
	background-color: lightgreen;
}
.sbj-question-grp {
	background-color: lightyellow;
}
.table-sbj.table-bordered > thead > tr > th, .table-sbj.table-bordered > tbody > tr > th, .table-sbj.table-bordered > tfoot > tr > th, .table-sbj.table-bordered > thead > tr > td, .table-sbj.table-bordered > tbody > tr > td, .table-sbj.table-bordered > tfoot > tr > td {
	border-color: #333;
}
.exam-check .question-cover {
	background: rgba(237,237,237,1);
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(53%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 53%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );
}
.exam-check .question {
	padding: 10px;
	font-size: 16px;
	line-height: 1.2;
	min-height: 200px;
}
.list-files {
	margin: 10px 0;
}
.list-files a {
	padding: 7px 14px;
	background-color: #f1f1f1;
	border: 1px solid #e1e1e1;
}
.list-files a:hover {
	color: #ffffff;
	background-color: #FF6C60;
}
.sub-cover {
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid rgba(33,180,226,1);
	background: rgba(183,222,237,1);
	background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
	background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
	background: -o-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
	background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
	background: linear-gradient(to bottom, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=0 );
}
.hor-sep {
	border-right: 1px solid #ddd;
}
.questions-list .btn.active {
	box-shadow: 0 0 2px 2px #0099ff;
}
.questions-panel .panel-default,
.listnew-panel .panel-default {
    border: 1px solid #045597;
}
.questions-panel .panel-default > .panel-heading,
.listnew-panel .panel-default > .panel-heading {
    background-color: #045597;
    border-color: #045597;
    color: #ffffff;
    padding: 0;
}
.questions-panel .panel-heading h4,
.listnew-panel .panel-heading h4 {
	color: #ffffff;
	display: block;
}
.questions-panel .panel-title > a,
.listnew-panel .panel-title > a {
	display: block;
	padding: 5px;
}
.questions-panel .panel-body,
.listnew-panel .panel-body {
	padding: 0;
}
.questions-panel .question {
	padding: 15px;
	font-weight: bold;
	border-bottom: 1px solid #dddddd;
	background-color: rgba(250, 241, 235, 0.5);
}
.questions-panel .answer {
	padding: 15px;
	border-bottom: 1px solid #dddddd;
	/* background-color: rgba(240, 255, 240, 0.5); */
}
.questions-panel .topper-answer {
	padding: 15px;
	border-bottom: 1px solid #33aaff;
	/* background-color: rgba(100, 215, 255, 0.5); */
}
.questions-panel label {
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #dddddd;
}
.questions-panel .answer label {
	color: rgb(0, 150, 0);
	border-bottom: 1px solid rgb(0, 150, 0);
}
.questions-panel .topper-answer label {
	color: #33aaff;
	border-bottom: 1px solid #33aaff;
}
.questions-panel .panel-body>.panel-group {
	margin: 20px;
}
.marks-time {
	padding: 15px;
	border-bottom: 1px solid #dddddd;
	background-color: rgba(240, 240, 255, 0.5);
}
.panel-group.listnew-panel .panel-heading+.panel-collapse>.list-group,
.panel-group.listnew-panel .panel-heading+.panel-collapse>.panel-body {
	border-top: 1px solid #ddd;
}
.listnew-panel .panel>.list-group,
.listnew-panel .panel>.panel-collapse>.list-group {
	    margin-bottom: 0;
}
.listnew-panel .panel>.panel-heading+.panel-collapse>.list-group .list-group-item:first-child {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.listnew-panel .panel>.list-group:first-child .list-group-item:first-child, .listnew-panel  .panel>.panel-collapse>.list-group:first-child .list-group-item:first-child {
	border-top: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.listnew-panel .panel>.list-group .list-group-item, .listnew-panel  .panel>.panel-collapse>.list-group .list-group-item {
	border-width: 1px 0;
    border-radius: 0;
}
.listnew-panel .table {
	margin-bottom: 0;
}
.nav-btns {
	margin-bottom: 19px;
}
.nav-btns .fa {
	color: #ffffff;
}
.nav-btns .btn-prev .fa {
	margin-right: 5px;
}
.nav-btns .btn-next .fa {
	margin-left: 5px;
}
.modal.in .modal-dialog {
	box-shadow: 0 0 10px #000;
}
/* input.cke_dialog_ui_input_password, input.cke_dialog_ui_input_text, textarea.cke_dialog_ui_input_textarea {
	height: 150px !important;
} */
/* .cke_dialog_ui_input_text {
	width: 100% !important;
} */
.cke_dialog {
	max-width: 800px;
	width: 80% !important;
	left: 0 !important;
	right: 0 !important;
	margin: auto auto !important;
}
.cke_dialog .cke_dialog_ui_hbox_first {
	width: 20% !important;
}
.cke_dialog .cke_dialog_ui_hbox_last {
	width: 80% !important;
}
.cke_dialog .ImagePreviewBox {
	width: 100% !important;
	height: 300px !important;
}
.cke_dialog_contents {
	width: 100% !important;
}
#refundModal {
	z-index: 1100;
}
.unpublish ul li {
	padding: 5px 0 5px;
    list-style: inherit;
    margin-left: 20px;
}
.all-container.panel {
    border: 1px solid #ccc;
}
.all-container.panel .table {
	margin-bottom: 0;
}
.all-container .table tr:last-child td{
	border: 0;
}
.all-container.panel .ch-exams {
	border-radius: 0;
}
.all-container.panel .ch-exams h5 {
	margin: 0;
}
@media(min-width: 1200px) {
	.all-container.panel .panel-heading h4 {
		line-height: 32px;
	}
}
#dropdownChat .dropdown-menu {
	width: 100%;
	text-align: center;
}
#dropdownChat .dropdown-menu a:hover {
	background-color: #00457d;
}
/* .all-container {
    padding: 15px 10px;
	margin-bottom: 10px;
    border: 1px solid #ccc;
}
.all-container:nth-child(odd) {
    background-color: azure;
}
.all-container:nth-child(even) {
    background-color: aliceblue;
} */
.table-deep tr {
	cursor: pointer;
}
.table .btn-edit {
	margin-left: 5px;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
	text-transform: none;
}
.download-pad {
	width:  100%;
	height:  100%;
	position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
.download-pad .btn {
	width: 150px;
	height: 45px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
.table-spl .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.table-spl .btn-danger:hover,
.table-spl .btn-danger:focus,
.table-spl .btn-danger:active,
.table-spl .btn-danger.active {
  color: #fff;
  background-color: #d2322d;
  border-color: #ac2925;
}
.course-percent {
    text-align: right;
    line-height: 32px;
}
#pacSubstable {
    width: 100% !important;
}